/*
-----------------------------------------
ADMIN
-----------------------------------------
*/


.history {
  > li {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      list-style: disc;
    }

    li {
      @include rem-size(10px);
      font-style: italic;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  p {
    @include rem-size(10px);
  }

  .title {
    p {
      font-weight: bold;
      margin-bottom: 4px;
    }
  }

  &.inline {
    display: flex;
    grid-gap: 24px;
    align-items: center;

    li {
      margin-bottom: 0;
      text-align: right;
    }
  }
}


.snapshot-data {
  display: flex;
  grid-gap: 24px;

  .snapshot-values {
    flex: 1;
  }

  .snapshot-action {
    align-self: flex-end;
  }
}



.roster-info {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;

  .roster-row {
    display: flex;
    grid-gap: 30px;

    .inner-content {
      flex: 1;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        height: 100%;
        width: 1px;
        border-right: 1px dashed var(--gray-50);
      }

      &:first-child {
        &::after {
          display: none;
        }
      }
    }

    .actions {
      width: 120px;
    }
  }

  .card-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }
}

.card {
  padding: 18px;
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  position: relative;

  .card-section {
    display: flex;

    .level, .chips {
      flex-shrink: 0;
    }

    .name, .title {
      flex: 1;
    }
  }


  .name {
    p {
      font-weight: 600;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .id {
      font-weight: 700;
      @include rem-size(9px);
      color: var(--gray-70);
    }
  }

  .title p {
    @include rem-size(12px);
    line-height: 1.3em;
    color: var(--text-color);
  }

  .level {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      text-align: right;
      @include rem-size(9px);
      margin-bottom: 0;
      margin-right: 4px;
    }
  }

  .corner-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;

    &.blue {
      background: url('/assets/images/svg/corner-tag-blue.svg');
    }

    &.red {
      background: url('/assets/images/svg/corner-tag-red.svg');
    }

    &.green {
      background: url('/assets/images/svg/corner-tag-green.svg');
    }

    i {
      @include rem-size(11px);
      color: var(--white);
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }
}


.stage-tags {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  margin-bottom: 20px;

  .tag {
    padding: 8px 12px;
    border-radius: var(--radius);
    background: var(--gray-10);
    display: inline-block;
    @include rem-size(12px);
    font-weight: 600;

    &.new {
      color: var(--primary);
    }
  }
}



.side-button-with-info {
  display: flex;
  grid-gap: 30px;


  .inner-columns {
    display: flex;
    grid-gap: 30px;
    flex: 1;
  }

  .inner-column, .columns {
    flex: 1;
  }
  .actions {
    width: 120px;
  }

  .card-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}




/* Stage Configuration */

.stage-configuration {
  .stage {
    margin-bottom: 24px;
    border: 1px dashed var(--gray-70);
    border-radius: var(--radius);
    display: flex;
    background: var(--gray-10);

    &:last-child {
      margin-bottom: 0;
    }

    > div {
      padding: 16px 18px;
    }
  }

  .position {
    background: var(--gray-80);
    color: var(--white);
    text-align: center;

    p {
      color: var(--white);
      margin-bottom: 0;
    }

    .number {
      font-weight: 600;
      @include rem-size(34px);
    }
  }

  .trash {
    color: var(--red);
    cursor: pointer;
    @include rem-size(20px);
  }

  .config {
    flex: 1;
    padding-bottom: 0 !important;

    .field {
      margin-bottom: 0;
    }

    .toggle {
      label {
        justify-content: center;
      }
    }
  }
}

.position-controller {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-top: 34px;

  i {
    cursor: pointer;
    @include rem-size(23px);

    &.disabled {
      color: var(--gray-60);
      cursor: not-allowed;
    }
  }

  .divider {
    height: 1px;
    min-height: 0;
    width: 100%;
    border-left: none;
    border-top: 1px solid var(--gray-60);
  }
}


.view-access {
  background: var(--gray-10);
  padding: 24px;
}

.view-access-table {
  border-radius: 0;
  box-shadow: none;
  border: none;

  th {
    text-align: center;
    @include rem-size(9px);
    font-weight: normal;

    strong {
      @include rem-size(10px);
      display: block;
      margin-bottom: 3px;
    }
  }

  tbody {
    border: none;

    td {
      background: none;
      position: relative;
      padding: 16px;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        z-index: 0;
        border-top: 1px dashed var(--gray-50);
      }

      &:last-child {
        border-right: 1px solid var(--gray-50);
      }

      .checkbox {
        label {
          width: 24px;
          margin: 0 auto;
          padding: 0;
        }
      }
    }
  }

  .row-header {
    text-align: right;
    border-right: 1px solid var(--gray-50);

    &:after {
      display: none;
    }
  }
}

.email-config {
  display: flex;
  position: relative;

  > div {
    padding: 24px;
  }

  .config-sidebar {
    width: 265px;
    flex-shrink: 0;
    border-right: 1px solid var(--gray-50);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--white);
    overflow-y: auto;
    overflow-x: hidden;

    &::after {
      content: '';
      position: absolute;
      right: -1px;
      top: 0;
      height: 27px;
      width: 1px;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 2;
    }
  }

  .config-body {
    flex: 1;
    height: 1000px;
    padding-left: calc(265px + 24px);
  }

  .filter {
    background: var(--gray-10);
    padding: 8px 24px;
    margin: 0 -24px 24px;
    border-bottom: 1px solid var(--gray-50);

    .field {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      grid-gap: 8px;

      label {
        flex-shrink: 0;
        margin-bottom: 0;
      }

      .select-container {
        flex: 1;
      }
    }
  }
}


.email-template-list {
  li {
    padding: 16px;
    background: var(--white);
    border-radius: var(--radius);
    position: relative;
    margin-bottom: 30px;
    @include transition();
    display: flex;
    grid-gap: 12px;

    &.active {
      background: var(--primary-xlight);
    }

    // &:hover {
    //   background: var(--gray-10);
    // }

    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      height: 1px;
      border-top: 1px dashed var(--gray-50);
    }

    &:last-child {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  .icon-trash {
    color: var(--red);
    @include rem-size(14px);
    cursor: pointer;
  }

  .title {
    @include rem-size(14px);
    font-weight: 600;
    margin-bottom: 8px;
  }

  .desc {
    p {
      @include rem-size(10px);
      margin-bottom: 0;
    }
  }
}

.button-form {
  
}


.basic-config {
  @include mq('tablet-wide') {
    columns: 2;
    column-gap: 60px;
    column-rule: 1px solid var(--gray-50);
  }

  li {
    margin-bottom: 20px;
    page-break-inside: avoid;
    break-inside: avoid;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field {
    margin-bottom: 0;
  }

  .icon-trash {
    color: var(--red);
    @include rem-size(26px);
    cursor: pointer;
  }

  .delete-item {
    flex-shrink: 0;
    padding: 24px 12px 1rem;
  }

  .gridlex-noWrap {
    [class*=col-] {
      flex: 1;
    }
  }
}