/*
-----------------------------------------
COMPONENT CONTAINER
-----------------------------------------
*/

.component-group {
  margin-bottom: 18px;

  .group-header {
    border-radius: var(--radius) var(--radius) 0 0;
    background: var(--gray-80);
    padding: 16px 24px 16px 16px;
    display: flex;
    grid-gap: 12px;
    align-items: center;

    .field {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .drag-indicator {
      color: var(--gray-60);
      @include rem-size(20px);
      cursor: move;
    }

    .group-title {
      flex: 1;
    }
  }

  .group-content {
    padding: 25px 24px;
    background: var(--gray-10);
    border-radius: 0 0 var(--radius) var(--radius);
  }

  .move-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;

    i {
      color: var(--white);
      @include rem-size(23px);
      cursor: pointer;

      &.inactive {
        color: var(--gray-60);
        cursor: default;
      }
    }

    .divider-horz {
      height: 1px;
      width: 100%;
      border: 1px solid var(--gray-60);
    }
  }
}



.component {
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  margin-bottom: 24px;
  position: relative;
  display: flex;
  flex-direction: column;

  &.no-shadow {
    box-shadow: none;
  }

  &:last-child {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  .component-small {
    .component-container > div {
      padding: 16px;
    }

    .component-content {
      padding: 16px;
    }
  }
}

.component-header {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--white);
  border-radius: 4px 4px 0 0;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #BDBDBD 6.87%, #828282 93.02%);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
  }

  .title {
    p {
      margin-bottom: 0;
    }

    .back {
      display: inline-block;
      color: var(--link-color);
      align-self: center;
      @include rem-size(26px);
      vertical-align: middle;
      margin-right: 12px;
    }

    h5 {
      margin-bottom: 0;
    }
  }

  .status {
    flex-shrink: 0;
    margin-left: auto;
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .action {
    .field , .field.inline {
      margin-bottom: 0;
    }
  }
}

.component-footer {
  background: var(--gray-10);
  border-top: 1px solid var(--gray-40);
  padding: 16px;
  border-radius: 0 0 var(--radius) var(--radius);
}

.component-builder-header {
  margin: 0 24px;
  padding: 24px 0;
  border-bottom: 1px dashed var(--gray-50) !important;
  display: flex;
  align-items: center;
  position: relative;

  .drag-indicator {
    position: absolute;
    left: -21px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-60);
    @include rem-size(20px);
    cursor: move;
  }

  .title {
    align-self: flex-start;

    p {
      margin-bottom: 0;
    }

    h5 {
      margin-bottom: 0;
      margin-top: 10px;
    }
  }
}

.component-container {
  &.gray {
    background-color: var(--gray-10);
  }

  > div {
    padding: 16px 24px;
  }
}

.component-content {
  border-radius: 0 0 4px 4px;
  padding: 24px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,.15) 100%), #9EAA9A;

  &.no-padding {
    padding: 0;
  }
}


.component {
  .component {
    background: var(--white);

    &.yellow {
      &, & .component-content {
        background: var(--yellow);
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -13px;
      left: 0;
      width: 100%;
      background: none;
      border-bottom: 1px dashed var(--gray-50);
    }

    &.no-divider {
      &::after {
        display: none;
      }
    }

    &.reverse-margin {
      margin: -24px -24px -16px;
      border-radius: 0;
    }

    &.inner-component {
      margin: -24px -24px 34px;
      border-radius: 0;
      box-shadow: none;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .component-header {

      &::after {
        display: none;
      }
    }

    > div {
      border-bottom: 1px solid var(--gray-40);

      &:last-child {
        border: none;
      }
    }

    .component-content {
      background: var(--white);


      &::after {
        display: none;
      }
    }
  }
}

.component-desc {
  display: flex;
  align-items: center;
}


.action {
  flex-shrink: 0;
  align-self: flex-start;
  margin-left: auto;
  justify-content: flex-end;

  .delete-item {
    color: var(--red);
    @include rem-size(26px);
    cursor: pointer;
  }

  .duplicate-item {
    color: var(--blue-75);
    @include rem-size(26px);
    cursor: pointer;
  }

  .field {
    margin-bottom: 0;
  }
}

.action-needed {
  align-self: stretch;
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  i {
    @include rem-size(26px);
    color: var(--text-color);
  }

  p {
    @include rem-size(8px);
    font-weight: 600;
    line-height: 1.1;
  }
}

.question-status {
  i {
    @include rem-size(24px);
    color: var(--gray-60);
  }
}


.end-of-form {
  .component-content {
    border-radius: var(--radius);
  }
}

.arrow-text {
  @include rem-size(14px);
  line-height: 1.3em;
  color: var(--text-color);
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 30px;

  &::before {
    background-color: var(--text-color);
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    border-left: 2px solid var(--text-color);
    border-top: 2px solid var(--text-color);
  }

  span {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    background: var(--yellow);
  }
}


.group-content .question-builder:not(:first-of-type) {
  .empty-slot {
    margin-top: 24px;
  }
}


/*  Drop Areas */

.empty-slot {
  background: #677063;
  border: 1px dashed var(--gray-10);
  border-radius: var(--radius);
  color: var(--white);
  padding: 8px;
  text-align: center;
  @include rem-size(10px);
  margin-bottom: 18px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .group-content & {
    background: var(--gray-20);
    color: var(--gray-60);
    border-color:var(--gray-60);
  }
}


.builder-subheader {
  display: flex;
  align-items: flex-end;
  grid-gap: 20px;
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--gray-40);

  .title {
    flex: 1;
  }

  .subtitle-6 {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .field {
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .select-container {
    min-width: 200px;
  }

}

.question-type-icon {
  width: 40px;
  height: 40px;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: var(--gray-50);
  @include rem-size(22px);
  color: var(--white);
  margin-right: 12px;
  align-self: flex-start;

  &.black {
    background: var(--gray-80);
  }

  &.blue {
    background: var(--blue-75);
  }

  &.red {
    background: var(--red-light);
  }

  &.purple {
    background: var(--purple);
  }

  &.orange {
    background: var(--orange);
  }

  &.blue-light {
    background: var(--blue-25);
  }

  &.gold {
    background: var(--gold);
  }

  &.green {
    background: var(--primary-light);
  }

  &.green-dark {
    background: var(--primary);
  }

  &.navy {
    background: var(--navy);
  }

  &.maroon {
    background: var(--maroon);
  }
}