/*
-----------------------------------------
DASHBOARD
-----------------------------------------
*/

.dashboard-top {
  .my-reviews {
    margin-bottom: 24px;
  }

  @include mq('desktop-small') {
    display: flex;
    grid-gap: 24px;

    .my-reviews {
      flex: 1;
      margin-bottom: 0;

      > .component {
        height: 100%;

        .component-content {
          flex: 1;
        }
      }
    }

    .review-schedule {
      flex-shrink: 0;
      width: 340px;
      display: flex;
      flex-direction: column;
    }

    .component {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}


.dashboard-calendar {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.calendar-display {
  border-bottom: 1px solid var(--gray-60);
  background: var(--white);
  padding: 24px;
}

.calendar-legend {
  flex: 1;
  padding: 24px;
  background: var(--gray-10);

  li {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px dashed var(--gray-50);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }

  .color {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
    border: 3px solid rgba(0,0,0,.24);
  }

  .legend-content {
    flex: 1;

    p {
      margin-bottom: 0;
    }

    .title {
      font-weight: 600;
    }
  }
}



.control {
  flex-shrink: 0;
  margin-left: auto;
  padding-left: 16px;

  .icon-container {
    border-radius: 4px;
    border: 1px solid rgba(69, 118, 84, .2);
    cursor: pointer;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);

    i {
      @include rem-size(18px);
      color: var(--text-color);
    }

    &.dark {
      background: none;
      border: none;

      i {
        color: var(--white);
      }
    }
  }
}

.column-goals {
  .action {
    .trash {
      color: var(--red);
      cursor: pointer;
      @include rem-size(20px);
    }

    .edit {
      color: var(--blue-75);
      cursor: pointer;
      @include rem-size(20px);
    }
  }
}

.status.action-needed {
  padding: 0;
  display: table-cell;
  width: 20px;

  i {
    align-items: center;
    @include rem-size(16px);
    color: var(--gray-100);
  }

  &:last-child {
    background: red !important;
  }
}

.has-bottom-border {
  border-bottom: 5px solid var(--gray-90);
}

.level-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--white);
  background: var(--black); // Back up color
  @include rem-size(10px);
  font-weight: bold;

  span {
    @include rem-size(7px);
  }

  &.first {
    background: var(--secondary-green);
  }

  &.second {
    background: var(--gray-80);
  }
}