/*
-----------------------------------------
FILTERS
-----------------------------------------
*/

.filters {
  display: flex;
  align-items: center;

  > div {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  .toggle {
    label {
      margin-bottom: 0;
    }
  }

  .field {
    margin-bottom: 0;
  }
}


.filters-bar {
  border-bottom: 1px solid var(--gray-40);
  margin: 0;
  padding: 20px 0px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  align-content: center;

  > div {
    border-right: 1px dashed var(--gray-40);
    padding: 0 20px;
    flex: 1;

    &:last-child {
      border-right: none;
    }
  }

  .flex-toggle {
    flex: 0 1 auto;
  }

  .field {
    margin-bottom: 0;
  }

  .stats {
    padding: 10px 0;
    p {
      @include rem-size(10px);
      font-style: italic;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .title {
      font-weight: bold;
      font-style: normal;
    }
  }

  .search-container, .stats-container {
    min-width: 400px;
  }
}