/*
-----------------------------------------
FOOTER
-----------------------------------------
*/


.site-footer {
  margin-top: auto;
  background: var(--white);
  padding: 24px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;

  p {
    font-family: var(--font-alt);
    color: var(--gray-60);
    @include rem-size(12px);
  }

  a {
    font-weight: bold;
    display: inline-block;
  }

  .contact {
    margin-left: auto;
  }

  .copyright {
    margin-bottom: 12px;
  }

  @include mq('desktop') {
    .content {
      display: flex;
    }

    .copyright {
      margin-bottom: 0;
    }
  }
}
