/*
-----------------------------------------
MASTHEAD
-----------------------------------------
*/


.site-masthead {
  position: sticky;
  top: 0;
  z-index: 101;
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  .content {
    display: flex;
    align-items: stretch;
  }
}

.site-logo {
  margin-right: 32px;
  flex-shrink: 0;
  margin: 16px 32px 16px 0;

  img {
    max-height: 32px;
  }
}

.masquerading-icon {
  color: var(--white);
  @include rem-size(30px);
}

.user-profile {
  margin-left: auto;
  display: flex;
  grid-gap: 30px;
  align-items: center;
  padding-right: 20px;
  margin-right: -20px;
  padding-left: 20px;

  &.masquerading {
    background: var(--primary);

    p {
      color: var(--white);
    }

    .title {
      color: var(--gray-30);
    }

    .user-account {
      border: 2px solid #6D9C7C;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.user-account {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding: 8px;
}

.profile-content {
  flex: 1;
  text-align: right;

  p {
    font-weight: 600;
    margin-bottom: 0;
  }

  .title {
    font-weight: normal;
    color: var(--text-color-light);
  }
}

.profile-image {
  flex-shrink: 0;
  margin-left: 12px;

  img {
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }
}