/*
-----------------------------------------
MASQUERADING
-----------------------------------------
*/

.user-list {
  li {
    display: flex;
    grid-gap: 16px;
    align-items: center;
    margin-bottom: 12px;
    @include transition();
    padding: 12px;
    border-radius: var(--radius);

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: var(--gray-10);
    }

    &.selected {
      background: var(--primary-xlight);
    }

    &.active {
      background: var(--gray-10);
    }

    &.group {
      background: var(--gray-10);
    }
  }

  p {
    margin-bottom: 0;
  }

  .user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--white);
    flex-shrink: 0;

    img {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .user-info {
    .name {
      @include rem-size(14px);
      font-weight: 600;
    }

    .title {
      @include rem-size(14px);
      color: var(--text-color-light)
    }
  }

  .user-id, .number {
    margin-left: auto;

    p {
      @include rem-size(9px);
      font-weight: 700;
    }
  }

  .arrow {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(60, 118, 84, .2 );
    border-radius: var(--radius);
    background: var(--white);
    cursor: pointer;
    color: var(--primary);
    @include rem-size(16px);
  }

  &.selectable {
    li {
      cursor: pointer;
    }
  }

  &.small {
    .user-image {
      width: 37px;
      height: 37px;

      img {
        width: 37px;
        height: 37px;
      }
    }
  }
}