/*
-----------------------------------------
REVIEWS
-----------------------------------------
*/

.information-block {
  margin-bottom: 16px;

  a {
    position: relative;
    padding-left: 20px;
    text-decoration: underline;

    &:before {
      font-family: 'icomoon' !important;
      position: absolute;
      left: 0;
      top: 0;
      content: "\ec01";
      @include rem-size(15px);
      color: var(--gray-60)
    }
  }
}

blockquote, quill-block-quote {
  padding: 20px;
  background: var(--gray-10);
  border-radius: var(--radius);
  margin-bottom: 1.2em;
}

.likert {
  li {
    padding: 18px 24px;
    margin: 0 -24px 24px;
    display: flex;
    align-items: flex-start;
    grid-gap: 14px;

    &:nth-child(even) {
      background: var(--gray-10)
    }
  }

  .control {
    padding-left: 0;
    margin: 0;
  }

  .question {
    flex: 1;
    padding-top: 4px;

    p {
      font-weight: 600;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .extra {
      margin-top: 12px;

      p {
        @include rem-size(12px);
        font-weight: normal;
      }
    }
  }

  .answers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    grid-gap: 12px;

    .divider {
      align-self: stretch;
    }
  }
}



.goals-columns {
  display: grid;
  margin: 0 -24px -36px;
  grid-template-columns: repeat(2, 1fr);

  > div {
    border-right: 1px solid var(--gray-50);
    padding: 24px;

    &:nth-child(2n+2) {
      border-right: none;
    }
  }

  .column-header, .column-controls {
    display: flex;
    grid-gap: 20px;
  }

  .column-controls {
    background: var(--gray-10);
    align-items: center;
    padding: 12px 24px;

    .control {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 12px;

      p {
        @include rem-size(9px);
        color: var(--gray-80);
        margin-bottom: 0;
      }
    }
  }

  .sort {
    @include rem-size(11px);
    cursor: pointer;
  }

  .column-goals {
    background: var(--gray-70);
    border-color: var(--gray-80);
    border-top: 1px solid var(--gray-80);
  }

  &.light {
    .column-goals {
      background: var(--gray-30);
      border-color: var(--gray-50);
    }
  }
}


.user-select-tree {
  max-height: 300px;
  overflow-y: auto;

  .group-header {
    background: var(--gray-10);
    padding: 14px 24px 14px 32px;
    display: flex;
    align-items: center;
    @include rem-size(10px);
    border-bottom: 1px solid var(--gray-40);


    .select-group {
      color: var(--text-color);
      display: flex;
      grid-gap: 8px;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
    }

    .label-container {
      @include rem-size(10px);
      font-weight: 600;
      padding-top: 3px;
    }
  }

  .user-row {
    display: flex;
    grid-gap: 8px; 
    padding: 8px 0; 

    .label-container {
      em {
        @include rem-size(10px);
      }
    }
  }

  .selected-number {
    margin-left: auto;
    padding: 14px 24px 14px auto;
    display: flex;
    align-items: center;
    @include rem-size(10px);

    i {
      margin-right: 4px;
    }
  }

  .user-select {
    display: flex;
    flex: 1;
    padding-right: 24px;

    .checkbox {
      flex: 1;
    }
  }

  .display-more {
    width: 24px;
    @include rem-size(24px);
    color: var(--gray-60);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inner {
    padding-left: 32px;
  }
}

.sortable-chosen {
    .component-group {
     border: 4px solid var(--blue-25);
     box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.16);
     border-radius: 5px;
  }

  .component-content {
     display: none;
  }

  .sortable-chosen .component {
     border: 4px solid var(--blue-25);
     box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.16);
     border-radius: 5px;
  }
}


.selected-summary {
  display: flex;
  grid-gap: 12px;
  align-items: center;

  .note {
    flex: 1;

    p {
      text-align: right;
      margin-bottom: 0;
    }
  }

  .selected-recipients {
    display: flex;
    align-items: center;
     grid-gap: 8px;
     flex-shrink: 0;

    .number {
      font-weight: 600;
      @include rem-size(34px);
    }

    .title {
      p {
        margin: 0;
        @include rem-size(10px);
      }
    }
  }
}