/*
-----------------------------------------
REVIEW STAGES
-----------------------------------------
*/

.review-stages-container {
  display: flex;
}

.review-stages {
  flex: 1;
  
  &.steps-5,
  &.steps-6,
  &.steps-7,
  &.steps-8 {
    .stage-grid {
      &.detail {
        .status {
          flex-direction: column;
        }
      }
    }
  }

  &.is-open {
    opacity: .3;
  }
}

.stage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: 10px;

  &.preview {
    margin-bottom: 10px;

    > div {
      display: flex;
      align-items: center;
      @include rem-size(10px);
      color: var(--text-color-light); 
      position: relative;
      padding: 8px;
      border-radius: 4px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: var(--gray-50);
        height: 4px;
        border-radius: 4px;
      }
    }

    .text {
      flex: 1;
    }

    .icon {
      @include rem-size(12px);
      margin-left: auto;
      color: var(--gray-60);
      flex-shrink: 0;
    }

    .completed {
      background: var(--primary-xlight);
      color: var(--primary);

      &::after {
        display: none;
      }

      .text {
        color: var(--primary);
      }
    }

    .active {
      background: var(--primary);
      color: var(--white);
      font-weight: 700;
      
      &::after {
        display: none;
      }

      .icon {
        color: var(--white);
      }
    }
  }

  &.detail {

    p {
      @include rem-size(10px);
    }

    .status {
      border-top: 1px solid var(--text-color-light);
      padding-top: 8px;
      display: flex;
      flex-wrap: wrap;

      .status-title {
        margin-right: 4px;
      }

      .status-desc {
        flex: 1;
      }
    }
  }


  &.table-stage-grid {
    display: flex;

    &.preview {
      > div {
        width: 30px;
      }

      .active, .completed.long {
        flex: 1;
      }
    }
  }

  &.past .active {
    background: var(--gray-70);
  }
}