/*
-----------------------------------------
SIDEBAR
-----------------------------------------
*/

.sidebar {
  display: flex;
  flex-direction: column;
}


.sidebar-info {
  background: var(--gray-20);
  padding: 16px;
  border-bottom: 1px dashed var(--gray-50);
  flex-shrink: 0;

  .reverse-color & {
    background: var(--white);
  }
}

.sidebar-info-list {
  margin-bottom: 17px;

  li {
    @include rem-size(11px);
    color: var(--text-color-light);
    margin-bottom: 12px;
    line-height: 1.3em;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      color: var(--text-color);
    }
  }
}

.review-for {
  display: flex;
  align-items: center;
  font-family: var(--font-alt);
  @include rem-size(12px);
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 8px;

  i {
    flex-shrink: 0;
    margin-right: 4px;
    color: var(--text-color-light);


    &::before {
      vertical-align: 3px;
    }
  }
}

.sidebar-title {
  display: flex;
  margin-bottom: 16px;
  
  .title {
    margin-right: 12px;
    flex: 1;
    align-self: center;
  }

  .action {
    margin-left: auto;
    flex-shrink: 0;
  }
}

.sidebar-links {
  margin-bottom: 16px;

  p {
    @include rem-size(11px);
    margin-bottom: 2px;
    font-weight: 600;
  }

  a {
    display: flex;

    i {
      margin-right: 4px;
      @include rem-size(13px);
    }
  }
}


.sidebar-content {
  padding: 16px;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .reverse-color & {
    background: var(--gray-20);
  }
}

.builder-block-tags {
  .block {
    display: flex;
    border: 1px solid var(--gray-50);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &.black {
      border-color: var(--gray-80);

      .icon {
        background: var(--gray-80);
      }
    }

    &.blue {
      border-color: var(--blue-75);

      .icon {
        background: var(--blue-75);
      }
    }

    &.red {
      border-color: var(--red-light);

      .icon {
        background: var(--red-light);
      }
    }

    &.purple {
      border-color: var(--purple);

      .icon {
        background: var(--purple);
      }
    }

    &.orange {
      border-color: var(--orange);

      .icon {
        background: var(--orange);
      }
    }
    &.blue-light {
      border-color: var(--blue-25);

      .icon {
        background: var(--blue-25);
      }
    }

    &.gold {
      border-color: var(--gold);

      .icon {
        background: var(--gold);
      }
    }

    &.green {
      border-color: var(--primary-light);

      .icon {
        background: var(--primary-light);
      }
    }

    &.green-dark {
      border-color: var(--primary);

      .icon {
        background: var(--primary);
      }
    }

    &.maroon {
      border-color: var(--maroon);

      .icon {
        background: var(--maroon);
      }
    }

  }

  .icon {
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--gray-50);
    @include rem-size(22px);
    color: var(--white);
  }

  .name {
    padding: 16px 11px;
    flex: 1;
    @include rem-size(12px);
    font-weight: 600;
    line-height: 1.4;
    background: var(--white);
  }
}