/*
-----------------------------------------
VENDOR OVERRIDES
-----------------------------------------
*/



/* Calendar */

.fc {

  /* Basics */
  table {
    border-radius: 0;
    box-shadow: none;
  }

  a {
    color: var(--text-color);
  }


  /* Buttons and Title*/
  .fc-button-primary {
    background-color: transparent;
    border-color: transparent;
    color: var(--primary);

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: var(--primary);
    }
  }

  .fc-toolbar-title {
    @include rem-size(18px);
  }


  /* Table Grid */

  .fc-daygrid-day.fc-day-today {
    border: 4px solid var(--gray-80);
    background: var(--white);

    .fc-daygrid-day-number {
      margin-top: -1px;
      font-weight: 700;
      color: var(--primary);
    }
  }

  .fc-daygrid-day-top {
    flex-direction: row;
    justify-content: center;
  }
}

.fc-theme-standard {
  .fc-scrollgrid, 
  thead, tbody, th, td {
    border: none;
  }
}

.fc-h-event {
  .fc-event-title-container {
    border-radius: 4px;
  }
}





/* WYSIWYG Editor (Quill) */

.ql-toolbar.ql-snow, .ql-container.ql-snow {
  border: none;
}

.ql-editor {
  min-height: 200px;
  width: 100%;
  border: 1px solid var(--gray-90);
  padding: 10px;
  @include rem-size(16px);
  color: var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
  background: var(--white);
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    background: var(--white);
  }
}

.native-click-drag, .ql-editor {
  font-family: var(--font) !important;
  font-size: 14px !important;
}