extends ../../layouts/layout.pug

block vars
  - var pageID = ''; 
  - var sidebar = true; 

block sidebar
  include ../../partials/sidebars/review-sidebar.pug


block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Supervisor Review 2021
        .component-content
          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t.
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget  
                    a(href="#0") lacinia odio
                    |  sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  blockquote
                    p If you experience retaliation of any kind, including your supervisor pressuring you to disclose how you rated them, contact Human Resources immediately at 
                      strong 801.863.8207.

                  ul.link-list
                    li
                      a(href="#0") Employee Awards and Recognition
                    li
                      a(href="#0") Employee Awards and Recognition

                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  p 
                    i Based on your interactions with and observations of the work of 
                      strong [SUPERVISOR'S NAME]
                      |  in the last year, please rate their performance below.

          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t..
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p Just go start a blog or write a thesis. If you’re getting anywhere close to the character limit, JUST STOP.
                +textarea(false, false, false,'2000 character limit', true)


          .component
            .component-header.component-container
              .title
                h5 Boolean Operators: A tale of two states (if you ignore null). 
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p Yes/No: True or false. Yep or nope. 2% or half ‘n half. Wait.. Nix that last one.

                .mb-24
                  +boolean('boolean-1', 'boolean-2', 'booleanGroup')

                +checkbox('checkbox', 'Do you like checkboxes. I’m more of a fan of real boxes. Well, what’s inside them really. What were we talking about again?')



          .component
            .component-header.component-container
              .title
                h5 Likert Scale: People who name the things they invent after themselves have a ego the size of a mid-sized sedan. 
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p 
                    i Yeah, I kinda write whatever I want in these. You can too! Well not here. This is HTML and you need to know how to code to edit the design.

                +likert(3, 'likert')


          .component
            .component-header.component-container
              .title
                h5 Ranking Scale: If I find out that someone named Rank made this.
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p 
                    i The room is too dang dark to be typing. Rate the following solutions to fix this:

                .gridlex.divided-columns
                  // Let me know if these styles need to be modified. I can style whatever. 
                  .col-6.dragon-drop-target
                    -for (x = 1; x <= 8; x++)
                      .dragon-drop-item-container
                        .item.item-empty
                          .order-number
                            = x
                          .target-region
                            .empty-target Drag item here

                  .col-6.target-source
                    -for (x = 1; x <= 8; x++)
                      .dragon-drop-item-container
                        .item(x-data="{'rankedScale" + x + "': false}" draggable="true" tabindex="0")
                          .item-main
                            .title Install a Skylight
                            .control
                              .icon-container.dark(@click= 'rankedScale' + x +" = true" x-show= 'rankedScale' + x + '=== false')
                                i.icon-add
                              .icon-container.dark(@click= 'rankedScale' + x +" = false" x-show= 'rankedScale' + x)
                                i.icon-remove
                          .item-extra(x-show= 'rankedScale' + x)
                            p Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


          .component
            .component-header.component-container
              .title
                h5 Dropdowns: When a survey writer must have all the answers availible. What’s self-control to 17 variations of the same answer?
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p 
                    i I’ve been asked if writing these filler bits takes up too much time. Thankfully, I usually just write whatever comes into my head. No thinking required!

                +select('Do you love dropdowns? You bet you do!')
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!

                +select('Are you nauseated by overly-excited question writing?')
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!


          .component
            .component-header.component-container
              .title
                h5 Multi-select Example: Where should the questions go? (Mark all that apply.)
              .status.question-status
                i.icon-checkmark-circle
            .component-content
              .question
                .information-block
                  p 
                    i Speed and efficeincy is impotant four a good subhead. Any smal typoes or speling mistakes usualy are’nt noticed by the cilent.

                .input-group.columns-2
                  -for (x = 1; x <= 5; x++)
                    +checkbox('multi-select' + x, 'Hold on. Let me find my Trapper Keeper.')
              

          .component
            .component-header.component-container
              .title
                h5 Radio Buttons
              .status.question-status
                i.icon-checkmark-circle
            .component-content
              .question
                .information-block
                  p How old is he?
                  p 
                    i Yeah. It’s an Independace Day quote. And yes. I’m old.

                .input-group
                  +radio('radio-1', 'radio-group', '36', true)
                  +radio('radio-2', 'radio-group', '38')
                  +radio('radio-3', 'radio-group', '40')


          .component
            .component-header.component-container
              .title
                h5 Manage My S.M.A.R.T. Goals
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p 
                    i Please identify goals you will work to accomplish in the coming year. As a reminder, this goal setting process is an opportunity to set goals that focus on inclusion. We encourage employees to consult with their supervisor and the 
                      a(href="#0") Inclusion Plan
                      |  when setting goals. (
                      a(href="#0") https://www.uvu.edu/inclusion/docs/inclusion_plan.pdf
                      | )

                  p
                    i Goals should be achievable and provide an opportunity for growth. Structure your goals as S.M.A.R.T. goals, which are Specific, Measurable, Attainable, Relevant, and Timely.

                hr.wide.mb-0

                .goals-columns
                  div.column-header
                    .title
                      p.widget-title My Goals
                    .action
                      a(href="#0").button.green.ghost.small 
                        i.icon-add.left-icon
                        | Add A New Goal
                  div.column-header
                    .title
                      p.widget-title Goals Share With Me
                    .action

                  div.column-controls
                    .sort
                      p.sort Goal Title 
                        i.icon-arrow-down
                    .control
                      p.text-right All Expanded/Collapsed
                      .icon-container
                        i.icon-add
                  div.column-controls
                    .sort
                      p.sort Goal Title 
                        i.icon-arrow-down
                    .control
                      p.text-right All Expanded/Collapsed
                      .icon-container
                        i.icon-add

                  div.column-goals
                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 New Goal
                      .component-content
                        +input('Goal Title')
                        +textarea('Goal Description', false, false,'2000 character limit', true)

                        hr.dashed

                        p.process-title Set A Timeframe
                        .small-medium.mb-24
                          p 
                            i Estimate when you expect you will achieve this goal.

                        +input('Goal Completion Timeframe')

                        hr.dashed

                        p.process-title Identify Key People
                        .small-medium.mb-24
                          p 
                            i Tag people or functional areas that will be assisting you with this goal.

                        .input-with-button
                          .input-container
                            +textarea('Key Team Members & UVU Departments', false, 'xxsmall')
                          .button-container
                            a(href="#0" data-micromodal-trigger="modal-key-people").button.green.ghost Add/Edit Team

                        hr.dashed

                        p.process-title Predict The Outcome
                        .small-medium.mb-24
                          p 
                            i What is the impact of accomplishing this goal?

                        +textarea('Expected Results', false, false,'2000 character limit', true)
                      .component-footer
                        .button-group
                          a(href="#0").button Confirm Goal
                          a(href="#0").button.link Cancel

                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 Finish My Broadway Adaptation of ‘Linux: The Musical’ 
                          p.subtitle-3 Due: Before Dec 5th, 2022
                        .action.flex-container
                          i.icon-edit.edit
                          .divider.auto.center
                          i.icon-trash.trash
                      .component-content.pb-0
                        .component-content.pt-0
                          table.full-width-large
                            tbody(x-data= "{innerTableRow1: false}")
                              tr
                                td(width="30")
                                  .control
                                    .icon-container(@click= 'innerTableRow1 = true' x-show= 'innerTableRow1 == false')
                                      i.icon-add
                                    .icon-container(@click= 'innerTableRow1 = false' x-show= 'innerTableRow1')
                                      i.icon-remove
                                td Goal Sharing
                                  p.subtitle-3
                                    i.icon-person
                                    | Not Shared
                                td(width="175").text-right 
                                  a(href="#0" data-micromodal-trigger="modal-share-with").button.green Share Goal
                              tr.expandable-row(x-show= 'innerTableRow1')
                                td(colspan="4")
                                  table.full-width-small
                                    thead
                                      tr
                                        th(width="24") Lvl
                                        th Name
                                        th Job Title
                                        td UVID
                                    tbody.zebra
                                      -for (y=0; y<4; y++)
                                        tr
                                          td 
                                            span.level-icon.second 2
                                              span nd
                                          td.small Mary Lynn Monroe
                                          td.small Magic Specialist
                                          td.small ########
                            tbody(x-data= "{innerTableRow2: false}")
                              tr
                                td(width="30")
                                  .control
                                    .icon-container(@click= 'innerTableRow2 = true' x-show= 'innerTableRow2 == false')
                                      i.icon-add
                                    .icon-container(@click= 'innerTableRow2 = false' x-show= 'innerTableRow2')
                                      i.icon-remove
                                td Goal Details
                              tr.expandable-row(x-show= 'innerTableRow2')
                                td(colspan="5")
                                  .inner.pl-60
                                    p.subtitle-9 Goal Title
                                    p.small-plus Take Fluffy to the Groomers

                                    hr.dashed

                                    p.subtitle-9 Goal Description
                                    p.small-plus Everytime mid-September rolls around, I know my dog fluffy is due for a debranching. No, no.. I said it right. Debranching. Although the term delogging, or even detreeing, would also be accurate. She basically is a shambling wood pile at this point. I need to take her to the groomers.. or a lumber mill.

                                    hr.dashed

                                    p.subtitle-9 Set A Timeframe
                                    p.small-plus Before Dec 5th, 2022

                                    hr.dashed

                                    p.subtitle-9 Identify Key People
                                    p.small-plus Spiderman,  Batman,  Superman,  Wonder Woman,  Catwoman

                                    hr.dashed

                                    p.subtitle-9 Predict The Outcome
                                    p.small-plus I’m going to build a house with the remnants. Or maybe a sauna? Yeah! A sauna!
                    .well.gray.text-center
                      p No goals created. Use the button above to add a new goal.



                  div.column-goals                  
                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 Finish My Broadway Adaptation of ‘Linux: The Musical’ 
                          p.subtitle-3 Due: Before Dec 5th, 2022
                        .status
                          a(href="#0").button.green.ghost.small 
                            i.icon-copy.left-icon
                            | Copy to My Goals

                      .component-content
                        .gridlex.item-history
                          .col-4.history
                            .title 
                              p Shared By
                            .info 
                              p Peter Washburn (########)
                          .col-4.history
                            .title 
                              p Shared On
                            .info 
                              p Aug 19th, 2019 - 4:04 pm
                          .col-4.history
                            .title 
                              p Last Edited
                            .info 
                              p Aug 19th, 2019 - 4:04 pm
                        table.full-width-small
                          tbody(x-data= "{innerTableRow2: false}").clean
                            tr
                              td(width="30")
                                .control
                                  .icon-container(@click= 'innerTableRow2 = true' x-show= 'innerTableRow2 == false')
                                    i.icon-add
                                  .icon-container(@click= 'innerTableRow2 = false' x-show= 'innerTableRow2')
                                    i.icon-remove
                              td Goal Details
                            tr.expandable-row(x-show= 'innerTableRow2')
                              td(colspan="5")
                                .inner.pl-60
                                  p.subtitle-9 Goal Title
                                  p.small-plus Take Fluffy to the Groomers

                                  hr.dashed

                                  p.subtitle-9 Goal Description
                                  p.small-plus Everytime mid-September rolls around, I know my dog fluffy is due for a debranching. No, no.. I said it right. Debranching. Although the term delogging, or even detreeing, would also be accurate. She basically is a shambling wood pile at this point. I need to take her to the groomers.. or a lumber mill.

                                  hr.dashed

                                  p.subtitle-9 Set A Timeframe
                                  p.small-plus Before Dec 5th, 2022

                                  hr.dashed

                                  p.subtitle-9 Identify Key People
                                  p.small-plus Spiderman,  Batman,  Superman,  Wonder Woman,  Catwoman

                                  hr.dashed

                                  p.subtitle-9 Predict The Outcome
                                  p.small-plus I’m going to build a house with the remnants. Or maybe a sauna? Yeah! A sauna!

                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 Learn to Juggle Wasabi Pasta
                          p.subtitle-3 Due: Before Dec 5th, 2022
                        .status
                          p.subtitle-4 Deleted By
                          p.small.light
                            i Mary Lynn Monroe (########)

                      .component-content
                        .banner.banner-warning.full-width
                          .inner
                            .message
                              p This goal has been deleted.
                            .action
                              p
                                a(href="#0").button.white.ghost Remove

                    .well.gray.text-center
                      p No goals have been shared with you.

          .component
            .component-header.component-container
              .title
                h5 Report On My S.M.A.R.T. Goals
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p 
                    i Please summarize any goals you have achieved or are in progress since being in your current position. You will have the opportunity to go into further detail about your accomplishments later in the review.
                hr.wide
                +textarea(false, false, false,'2000 character limit', true)
                        

          .component.end-of-form.yellow
            .component-content
              .arrow-text 
                span This is the end of the form. Please use the buttons on the left panel if you are ready to submit it.

  +modal('modal-key-people', 'Identify Key People & Functional Areas', 'large')
    .gridlex.divided-columns
      .col-7
        h5 Search & Add Users
        +input(false, 'search', false, false, 'icon-search')
        ul.user-list.list-unstyled.selectable
          - for(x = 0; x < 4; x++)
            if x == 2
              li.group
                .user-info
                  p.name John Smith
                  p.title Professional
                .number
                  p 13 Employees
                .arrow
                  i.icon-arrow_forward
            else 
              li
                .user-image
                  img(src="http://placehold.it/60x60")
                .user-info
                  p.name John Smith
                  p.title Professional
                .user-id
                  p UVID: ########
                .arrow
                  i.icon-arrow_forward

      .col-5
        h5 Selected Team Members
        hr.dashed
        ul.user-list.list-unstyled.small
          - for(x = 0; x < 4; x++)
            li
              .user-image
                img(src="http://placehold.it/60x60")
              .user-info
                p.name John Smith
                p.title Professional
              .control
                i.icon-clear.clear
    .button-group
      a(href="personal-details-2.html").button Save & Close
      a(href="personal-details-2.html").button.link Cancel   

  +modal('modal-share-with', 'Select Who To Share The Goal With', 'medium')
    h5 Search & Add Users
    +input(false, 'search', false, false, 'icon-search')

    .user-select-tree
      .user-select-group
        .group-header
          .select-group
            .checkbox
              input#selectAll.safeToDeleteId(type='checkbox')
              label(for='selectAll')
                span.label-container Select All
          .selected-number
            i.icon-person
            | 4 Selected
        .group-content
          .content-row
            .user-row
              .display-more
                i.icon-keyboard_arrow_down
              .user-select
                +checkbox('user-1', 'Mary Lynn Monroe ', true, '(########) Magic Specialist')
                .selected-number
                  i.icon-person
                  | 4 Selected
            .inner
              .content-row
                .user-row
                  .display-more
                    i.icon-keyboard_arrow_down
                  .user-select
                    +checkbox('user-2', 'Mary Lynn Monroe ', true, '(########) Magic Specialist')
              .content-row
                .user-row
                  .display-more
                    i.icon-keyboard_arrow_down
                  .user-select
                    +checkbox('user-3', 'Mary Lynn Monroe ', false, '(########) Magic Specialist')
          .content-row
            .user-row
              .display-more
                i.icon-keyboard_arrow_down
              .user-select
                +checkbox('user-4', 'Mary Lynn Monroe ', true, '(########) Magic Specialist', '', true)
          .content-row
            .user-row
              .display-more
                i.icon-keyboard_arrow_down
              .user-select
                +checkbox('user-5', 'Mary Lynn Monroe ', false, '(########) Magic Specialist')
          .content-row
            .user-row
              .display-more
                i.icon-keyboard_arrow_down
              .user-select
                +checkbox('user-6', 'Mary Lynn Monroe ', false, '(########) Magic Specialist')

    hr

    .selected-summary.well.gray.mb-32
      .selected-recipients
        .number 8
        .title
          p Selected
          p Recipients
      .note
        p
          i Selected recipients will be notified via email.
        p 
          i This action cannot be undone.
    
    .button-group
      a(href="personal-details-2.html").button Share Goal & Nofity
      a(href="personal-details-2.html").button.link Cancel    