extends ../../layouts/layout.pug

block vars
  - var pageID = ''; 
  - var sidebar = true; 

block sidebar
  include ../../partials/sidebars/review-sidebar.pug

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Supervisor Review 2021
        .component-content
          

          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t..
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .information-block
                p Just go start a blog or write a thesis. If you’re getting anywhere close to the character limit, JUST STOP.
              .gridlex.divided-columns
                .col-6
                  +textarea(false, false, false,'2000 character limit', true)
                .col-6
                  .is-answer
                    .answer-label.design-tab Employee Response
                    .faux-textarea


          .component
            .component-header.component-container
              .title
                h5 Boolean Operators: A tale of two states (if you ignore null). 
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .information-block
                p Yes/No: True or false. Yep or nope. 2% or half ‘n half. Wait.. Nix that last one.

              .mb-24
                .has-answer
                  .question
                    +boolean('boolean-1', 'boolean-2', 'booleanGroup')
                  .answer
                    .answer-pill
                      .title Employee Choice
                      .answer-container Yes

              .mb-24
                +checkbox('checkbox', 'Do you like checkboxes. I’m more of a fan of real boxes. Well, what’s inside them really. What were we talking about again?')

              .answer-pill
                .title Employee Choice
                .answer-container 
                  .faux-checkbox.checked



          .component
            .component-header.component-container
              .title
                h5 Likert Scale: People who name the things they invent after themselves have a ego the size of a mid-sized sedan. 
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .information-block
                p 
                  i Yeah, I kinda write whatever I want in these. You can too! Well not here. This is HTML and you need to know how to code to edit the design.

              +likert(3, 'likert', true)


          .component
            .component-header.component-container
              .title
                h5 Ranking Scale: If I find out that someone named Rank made this.
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .information-block
                p 
                  i The room is too dang dark to be typing. Rate the following solutions to fix this:

              .text-right
                .answer-pill.mb-24
                  .title
                    i.icon-person.left-icon
                    | Employee Choice

              .gridlex.divided-columns
                // Let me know if these styles need to be modified. I can style whatever. 
                .col-6.dragon-drop-target
                  -for (x = 1; x <= 8; x++)
                    .dragon-drop-item-container
                      .item.item-empty
                        .order-number
                          = x
                        .target-region
                          .empty-target Drag item here

                .col-6.target-source
                  -for (x = 1; x <= 8; x++)
                    .dragon-drop-item-container
                      .item(x-data="{'rankedScale" + x + "': false}" draggable="true").is-answered
                          .user-answered
                            i.icon-person
                            span.index= x
                          .item-main
                            .title Install a Skylight
                            .control
                              .icon-container.dark(@click= 'rankedScale' + x +" = true" x-show= 'rankedScale' + x + '=== false')
                                i.icon-add
                              .icon-container.dark(@click= 'rankedScale' + x +" = false" x-show= 'rankedScale' + x)
                                i.icon-remove
                          .item-extra(x-show= 'rankedScale' + x)
                            p Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


          .component
            .component-header.component-container
              .title
                h5 Dropdowns: When a survey writer must have all the answers availible. What’s self-control to 17 variations of the same answer?
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .information-block
                p 
                  i I’ve been asked if writing these filler bits takes up too much time. Thankfully, I usually just write whatever comes into my head. No thinking required!



              .has-answer
                .question
                  +select('Do you love dropdowns? You bet you do!')
                    option() This is the best dropdown ever!
                    option() This is the best dropdown ever!
                    option() This is the best dropdown ever!
                    option() This is the best dropdown ever!
                    option() This is the best dropdown ever!
                .answer.label-offset
                  .answer-pill
                    .title Employee Choice
                    .answer-container Is liking dropdowns even a thing?
              
              .has-answer
                .question
                  +select('Are you nauseated by overly-excited question writing?')
                    option() Are you kidding? I’m puking right now!
                    option() Are you kidding? I’m puking right now!
                    option() Are you kidding? I’m puking right now!
                    option() Are you kidding? I’m puking right now!
                    option() Are you kidding? I’m puking right now!
                .answer.label-offset
                  .answer-pill
                    .title Employee Choice
                    .answer-container Is liking dropdowns even a thing?

          .component
            .component-header.component-container
              .title
                h5 Multi-select Example: Where should the questions go? (Mark all that apply.)
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .information-block
                p 
                  i Speed and efficeincy is impotant four a good subhead. Any smal typoes or speling mistakes usualy are’nt noticed by the cilent.

              .answer-pill.mb-24
                .title
                  i.icon-person.left-icon
                  | Employee Choice

              .input-group.columns-2.checkbox-has-answers
                -for (x = 1; x <= 5; x++)
                  +checkbox('multi-select' + x, 'Hold on. Let me find my Trapper Keeper.', false, '', false, false, true)


          .component
            .component-header.component-container
              .title
                h5 Manage My S.M.A.R.T. Goals
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p 
                    i Please identify goals you will work to accomplish in the coming year. As a reminder, this goal setting process is an opportunity to set goals that focus on inclusion. We encourage employees to consult with their supervisor and the 
                      a(href="#0") Inclusion Plan
                      |  when setting goals. (
                      a(href="#0") https://www.uvu.edu/inclusion/docs/inclusion_plan.pdf
                      | )

                  p
                    i Goals should be achievable and provide an opportunity for growth. Structure your goals as S.M.A.R.T. goals, which are Specific, Measurable, Attainable, Relevant, and Timely.

                hr.wide.mb-0

                .goals-columns
                  div.column-header
                    .title
                      p.widget-title My Goals
                  div.column-header
                    .title
                      p.widget-title Goals Share With Me
                    .action

                  div.column-controls
                    .sort
                      p.sort Goal Title 
                        i.icon-arrow-down
                    .control
                      p.text-right All Expanded/Collapsed
                      .icon-container
                        i.icon-add
                  div.column-controls
                    .sort
                      p.sort Goal Title 
                        i.icon-arrow-down
                    .control
                      p.text-right All Expanded/Collapsed
                      .icon-container
                        i.icon-add

                  div.column-goals
                    .component.component-small
                      .component-header.component-container
                        .action-needed
                          div
                            i.icon-warning
                            p Action
                              br
                              | Needed
                        .title
                          p.process-title.mb-4 Take Fluffy to the Groomers
                          p.subtitle-4 Due: Before Dec 5th, 2022
                      .component-content
                        p.process-title Actual Results / Progress Snapshot
                        p 
                          i What was the outcome and resulting impact? How did you get these results? If the goal was adjusted, what was the adjustment?

                        +textarea('Actual Results', false, false,'2000 character limit', true)

                        table.full-width-small
                          tbody(x-data= "{innerTableRow2: false}").clean
                            tr
                              td(width="30")
                                .control
                                  .icon-container(@click= 'innerTableRow2 = true' x-show= 'innerTableRow2 == false')
                                    i.icon-add
                                  .icon-container(@click= 'innerTableRow2 = false' x-show= 'innerTableRow2')
                                    i.icon-remove
                              td Goal Details
                            tr.expandable-row(x-show= 'innerTableRow2')
                              td(colspan="5")
                                .inner.pl-60
                                  p.subtitle-9 Goal Title
                                  p.small-plus Take Fluffy to the Groomers

                                  hr.dashed

                                  p.subtitle-9 Goal Description
                                  p.small-plus Everytime mid-September rolls around, I know my dog fluffy is due for a debranching. No, no.. I said it right. Debranching. Although the term delogging, or even detreeing, would also be accurate. She basically is a shambling wood pile at this point. I need to take her to the groomers.. or a lumber mill.

                                  hr.dashed

                                  p.subtitle-9 Set A Timeframe
                                  p.small-plus Before Dec 5th, 2022

                                  hr.dashed

                                  p.subtitle-9 Identify Key People
                                  p.small-plus Spiderman,  Batman,  Superman,  Wonder Woman,  Catwoman

                                  hr.dashed

                                  p.subtitle-9 Predict The Outcome
                                  p.small-plus I’m going to build a house with the remnants. Or maybe a sauna? Yeah! A sauna!

                      .component-footer
                        .button-group
                          a(href="#0").button Confirm Goal

                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 Finish My Broadway Adaptation of ‘Linux: The Musical’ 
                          p.subtitle-3 Due: Before Dec 5th, 2022
                        .action.flex-container
                          i.icon-edit.edit
                      .component-content.pb-0
                        .component-content.pt-0
                          table.full-width-large
                            tbody(x-data= "{innerTableRow1: false}")
                              tr
                                td(width="30")
                                  .control
                                    .icon-container(@click= 'innerTableRow1 = true' x-show= 'innerTableRow1 == false')
                                      i.icon-add
                                    .icon-container(@click= 'innerTableRow1 = false' x-show= 'innerTableRow1')
                                      i.icon-remove
                                td Goal Sharing
                                  p.subtitle-3
                                    i.icon-person
                                    | Not Shared
                              tr.expandable-row(x-show= 'innerTableRow1')
                                td(colspan="4")
                                  table.full-width-small
                                    thead
                                      tr
                                        th(width="24") Lvl
                                        th Name
                                        th Job Title
                                        td UVID
                                    tbody.zebra
                                      -for (y=0; y<4; y++)
                                        tr
                                          td 
                                            span.level-icon.second 2
                                              span nd
                                          td.small Mary Lynn Monroe
                                          td.small Magic Specialist
                                          td.small ########
                            tbody(x-data= "{innerTableRow2: false}")
                              tr
                                td(width="30")
                                  .control
                                    .icon-container(@click= 'innerTableRow2 = true' x-show= 'innerTableRow2 == false')
                                      i.icon-add
                                    .icon-container(@click= 'innerTableRow2 = false' x-show= 'innerTableRow2')
                                      i.icon-remove
                                td Goal Details
                              tr.expandable-row(x-show= 'innerTableRow2')
                                td(colspan="5")
                                  .inner.pl-60
                                    p.subtitle-9 Goal Title
                                    p.small-plus Take Fluffy to the Groomers

                                    hr.dashed

                                    p.subtitle-9 Goal Description
                                    p.small-plus Everytime mid-September rolls around, I know my dog fluffy is due for a debranching. No, no.. I said it right. Debranching. Although the term delogging, or even detreeing, would also be accurate. She basically is a shambling wood pile at this point. I need to take her to the groomers.. or a lumber mill.

                                    hr.dashed

                                    p.subtitle-9 Set A Timeframe
                                    p.small-plus Before Dec 5th, 2022

                                    hr.dashed

                                    p.subtitle-9 Identify Key People
                                    p.small-plus Spiderman,  Batman,  Superman,  Wonder Woman,  Catwoman

                                    hr.dashed

                                    p.subtitle-9 Predict The Outcome
                                    p.small-plus I’m going to build a house with the remnants. Or maybe a sauna? Yeah! A sauna!



                  div.column-goals                  
                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 Finish My Broadway Adaptation of ‘Linux: The Musical’ 
                          p.subtitle-3 Due: Before Dec 5th, 2022
                        

                      .component-content
                        .gridlex.item-history
                          .col-4.history
                            .title 
                              p Shared By
                            .info 
                              p Peter Washburn (########)
                          .col-4.history
                            .title 
                              p Shared On
                            .info 
                              p Aug 19th, 2019 - 4:04 pm
                          .col-4.history
                            .title 
                              p Last Edited
                            .info 
                              p Aug 19th, 2019 - 4:04 pm
                        table.full-width-small
                          tbody(x-data= "{innerTableRow2: false}").clean
                            tr
                              td(width="30")
                                .control
                                  .icon-container(@click= 'innerTableRow2 = true' x-show= 'innerTableRow2 == false')
                                    i.icon-add
                                  .icon-container(@click= 'innerTableRow2 = false' x-show= 'innerTableRow2')
                                    i.icon-remove
                              td Goal Details
                            tr.expandable-row(x-show= 'innerTableRow2')
                              td(colspan="5")
                                .inner.pl-60
                                  p.subtitle-9 Goal Title
                                  p.small-plus Take Fluffy to the Groomers

                                  hr.dashed

                                  p.subtitle-9 Goal Description
                                  p.small-plus Everytime mid-September rolls around, I know my dog fluffy is due for a debranching. No, no.. I said it right. Debranching. Although the term delogging, or even detreeing, would also be accurate. She basically is a shambling wood pile at this point. I need to take her to the groomers.. or a lumber mill.

                                  hr.dashed

                                  p.subtitle-9 Set A Timeframe
                                  p.small-plus Before Dec 5th, 2022

                                  hr.dashed

                                  p.subtitle-9 Identify Key People
                                  p.small-plus Spiderman,  Batman,  Superman,  Wonder Woman,  Catwoman

                                  hr.dashed

                                  p.subtitle-9 Predict The Outcome
                                  p.small-plus I’m going to build a house with the remnants. Or maybe a sauna? Yeah! A sauna!
                                  