extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin'; 
  - var pageSubID = 'masquerade-history'; 
  - var masquerading = true;

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Masquerading History
          .action.flex-container.center
            +toggle('archive-visibility', false, false, '', 'Hide Archived', 'toggle-mini')
            +input(false, 'search', false, false, 'icon-search')
            
        .component-content
          .component.reverse-margin
            .component-content
              table.full-width.striped
                thead
                  tr
                    th Date/Time
                    th Admin
                    th Account Masqueraded
                    th(width="30") 
                    th(width="130")
                -for (y=0; y<10; y++)
                  include ../../../partials/dashboard/masquerading-history