footer.container.site-footer
  .content
    .copyright
      p &copy; Utah Valley University 2021
    .contact
      p If you have questions or concerns, please contact Human Resources at 
        a(href="tel:8018638207") (801) 863-8207