header.site-masthead.container
  .content
    
    .site-logo
      a(href="/")
        img(src="/assets/images/uvupm-logo.svg")
      
    nav.site-nav
      include structure/nav

    if masquerading == true
      .user-profile.masquerading
        a(href="#0").button End Masquerading
        .user-account
          i.icon-mask.masquerading-icon
          .profile-content
            p Jerry Seinfeld
            p.title Professional Talker
          .profile-image
            img(src="http://placehold.it/36x36")
    else
      .user-profile
        .user-account
          .profile-content
            p Jerry Seinfeld
            p.title Professional Talker
          .profile-image
            img(src="http://placehold.it/36x36")