mixin state-dropdown()
  select
    option(value="AL") AL
    option(value="AK") AK
    option(value="AZ") AZ
    option(value="AR") AR
    option(value="CA") CA
    option(value="CO") CO
    option(value="CT") CT
    option(value="DE") DE
    option(value="DC") DC
    option(value="FL") FL
    option(value="GA") GA
    option(value="HI") HI
    option(value="ID") ID
    option(value="IL") IL
    option(value="IN") IN
    option(value="IA") IA
    option(value="KS") KS
    option(value="KY") KY
    option(value="LA") LA
    option(value="ME") ME
    option(value="MD") MD
    option(value="MA") MA
    option(value="MI") MI
    option(value="MN") MN
    option(value="MS") MS
    option(value="MO") MO
    option(value="MT") MT
    option(value="NE") NE
    option(value="NV") NV
    option(value="NH") NH
    option(value="NJ") NJ
    option(value="NM") NM
    option(value="NY") NY
    option(value="NC") NC
    option(value="ND") ND
    option(value="OH") OH
    option(value="OK") OK
    option(value="OR") OR
    option(value="PA") PA
    option(value="RI") RI
    option(value="SC") SC
    option(value="SD") SD
    option(value="TN") TN
    option(value="TX") TX
    option(value="UT") UT
    option(value="VT") VT
    option(value="VA") VA
    option(value="WA") WA
    option(value="WV") WV
    option(value="WI") WI
    option(value="WY") WY

mixin year-dropdown-up()
  select
    - for (x = 2021; x <= 2028; x++)
      option(value=x)= x

mixin day-dropdown()
  select
    - for (x = 1; x <= 31; x++)
      option(value=x)= x

mixin year-dropdown-down()
  select
    - for (x = 2021; x > 1900; x--)
      option(value=x)= x 


mixin county-dropdown()
  select
    option(value="United States") United States
    option(value="Canada") Cananda


mixin svg(id, classname)
  if classname
    svg(class=classname)
      use(xlink:href=id)
  else
    svg
      use(xlink:href=id)


mixin input(label, type='text', value, placeholder, hasIcon, error, disabledStatus = false, required)
  - var errorClass = error ? 'has-error' : '';
  - var disabled = disabled ? 'disabled' : '';

  .field(class=errorClass)
    unless label == ''
      label= label
        if required
          span.required *
    if hasIcon
      .input-has-icon
        i(class='input-icon icon-' + hasIcon + ' ' + hasIcon)
        input(type=type value=value placeholder=placeholder )
    else
      input(type=type value=value placeholder=placeholder disabled=disabledStatus)
    if error
      p.error-message= error

mixin select(label, selectClass, containerClass, disabledStatus = false)
  - var disabled = disabled ? 'disabled' : '';
  .field(class=containerClass)
    if label
      label= label
    .select-container
        select(class= selectClass disabled=disabledStatus)
          if block
            block

mixin advancedSelect(label, selectText, elementID, selectClass, containerClass)
  .field(class=containerClass x-data= "{'" + elementID + "': false}")
    if label
      label= label
    .select-container-advanced(@click.away= elementID + "= false" tabindex="0")
        .select(class= selectClass @click= elementID + "= !" + elementID)= selectText
        .advanced-select-contents(x-show=  elementID)
          .input-group
            if block
              block

mixin textarea(label, placeholder, size, wordcap, editor = false, disabledStatus = false)
  - var disabled = disabled ? 'disabled' : '';
  .field
    if label
      label= label
    if editor
      .has-editor
    else 
      textarea(placeholder=placeholder class=size disabled=disabledStatus)
    if wordcap
      p.wordcap= wordcap

mixin checkbox(id, label, checked = false, extra, className, disabledStatus = false, answered)
  - var disabled = disabled ? 'disabled' : '';

  .checkbox(class=className)
    if answered
      .user-answered
        i.icon-person
    if checked == true
      input(type='checkbox', id=id, checked="checked", disabled=disabledStatus)
    else
      input(type='checkbox', id=id, disabled=disabledStatus)
    label(for=id)
      if label
        span.label-container= label
          if extra
            em= extra

mixin radio(id, group, label, checked = false)
  .radio(class=statusClass)
    if checked == true
      input(type='radio', name=group, id=id, checked="checked")
    else
      input(type='radio', name=group, id=id)
    label(for=id)
      span.label-container
        span.inner= label


mixin toggle(id, check = false, disabled=false, left, right, className)
  .toggle(class=className)
    input(type="checkbox", id=id, checked=check, disabled=disabled)
    label(for=id)
      span.toggle-text.left= left
      span.toggle-display
      span.toggle-text.right= right

mixin boolean(id, id2, group, check = false, disabled=false)
  // A class of 'has-check' needs to be applied to .boolean when any value is checked.
  .boolean(id="group-" + group x-data="{" + group + ": ''}" x-init="$watch('" + group + "', value => { var targetEl = document.getElementById('group-"+ group + "'); targetEl.classList.add('has-check')})")
    .boolean-display
      .boolean-ui
        input(type='radio', name=group, id=id value="yes" x-model=group)
        label(for=id) Yes
      .boolean-ui
        input(type='radio', name=group, id=id2 value="no" x-model=group)
        label(for=id2) No


mixin likertOption(id, group, label, checked = false, answered)
  .likert-option
    if answered
      .answer-label.design-tab.small Employee Choice
    if checked == true
      input(type='radio', name=group, id=id, checked="checked")
    else
      input(type='radio', name=group, id=id)
    label(for=id)= label

mixin likertOptionFaux(text, answered)
  .likert-option.faux
    if answered
      .answer-label.design-tab.small.light Employee Selected
      .answer-label.design-tab.small Supv 1st Selected
    .fake-label= text



mixin reviewStages(num, ID, hasRadio)
  .review-stages-container(x-data= "{'" + ID + "': false}")
    .review-stages(class= 'steps-' + num)
      .preview.stage-grid
        - for (x=1; x <= num; x++)
          if x == 1
            div.completed 
              if hasRadio
                unless x == 1
                  +radio('step-radio-' + ID + y + x, 'step-radio-group-' + ID + y)
                if x == 2
              .text Text
              .icon
                i.icon-check_circle
          else if x == 2
            div.active 
              if hasRadio
                unless x == 1
                  +radio('step-radio-' + ID + y + x, 'step-radio-group-' + ID + y)
              .text Text
              .icon
                i.icon-active
          else
            div 
              .text Text
              .icon
                i.icon-not-started
      .detail.stage-grid(x-show= ID)
        - for (x=1; x <= num; x++)
          div
            p This is the stage description area. This only displays when expanded.
            .status
              if x == 1
                .status-title
                  p.light Submitted:
                .status-desc
                  p Imma Knotreel: Jan 15, 2022 - 12:15 PM
              else if x == 2
                .status-title
                  p.light Last Updated
                .status-desc
                  p Imma Knotreel: Jan 15, 2022 - 12:15 PM
              else 
                .status-title
                  p.light Not Started

    .control
      .icon-container(@click= ID + " = true" x-show= ID + '=== false')
        i.icon-add
      .icon-container(@click= ID + " = false" x-show= ID)
        i.icon-remove


mixin likert(num, ID, answered, faux)
  ul.list-unstyled.likert
    - for (x=1; x <= num; x++)
      li(x-data= "{'" + ID + x + "': false}")
        .control
          .icon-container(@click= ID + x +" = true" x-show= ID + x + '=== false')
            i.icon-add
          .icon-container(@click= ID + x +" = false" x-show= ID + x)
            i.icon-remove
        .question
          p Space travel or instruction manuals. Speak your piece!
          .extra(x-show= ID + x)
            p Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        .answers
          if faux
            - for (y=1; y <= 5; y++)
              if y == 2
                +likertOptionFaux('I need a lot of space', true)
              else if y == 5
                .divider
                +likertOptionFaux('I need a lot of space')
              else
                +likertOptionFaux('I need a lot of space')
          else
            - for (y=1; y <= 5; y++)
              if y == 2
                +likertOption('test' + y + x, 'likertGroup' + x, 'I need a lot of space', false, answered)
              else if y == 4
                +likertOption('test' + y + x, 'likertGroup' + x, 'I need a lot of space', true)
              else if y == 5
                .divider
                +likertOption('test' + y + x, 'likertGroup' + x, 'I need a lot of space')
              else 
                +likertOption('test' + y + x, 'likertGroup' + x, 'I need a lot of space')
            

mixin modal(id, title, containerClass)
  .modal(id=id aria-hidden='true')
    .modal-overlay(tabindex='-1')
      .modal-container(role='dialog', aria-modal='true', aria-labelledby class=containerClass)
        header.modal-header
          h6= title
          .close-modal.close-modal-header(aria-label='Close modal', data-micromodal-close)
            i.icon-clear
        .modal-content
          if block
            block


mixin blockTag(name, icon, className)
  .block(draggable="true" class=className)
    .icon
      i(class="icon-" + icon)
    .name= name

mixin searchResults()
  div.search-results
    div
      .error-message No results

    ul.user-list.list-unstyled.selectable
      li
        .user-info
          p.name Diana Lundahl
          p.title Associate Professor - EART A97325
        .user-id
          p UVID: 10012317
      li
        .user-info
          p.name Diana Lundahl
          p.title Department Chair - DC Engineering Technologies P97926
        .user-id
          p UVID: 10012317


mixin questionTemplate(title, iconID, color, version)
  .component.no-divider
    .component-builder-header
      .drag-indicator
        i.icon-drag_indicator
      .question-type-icon(class=color)
        i(class="icon-" + iconID)
      .title
        h5= title
      .action.flex-container.start.shrink-1
        .flex-wrap.justify-end
          if version != 'delete-only'
            if version == 'light'
              +select('Initial Display', '', 'inline')
                option(value="") --
                option(value="") --
                option(value="") --
                option(value="") --
            else if version == "medium"
              +toggle('mark-optional-1', false, false, 'Mark Optional', '', 'toggle-mini')
              +select('Initial Display', '', 'inline')
                option(value="") --
                option(value="") --
                option(value="") --
                option(value="") --
            else
              +toggle('mark-optional-1', false, false, 'Mark Optional', '', 'toggle-mini')
              +select('Initial Display', '', 'inline')
                option(value="") --
                option(value="") --
                option(value="") --
                option(value="") --
              +select('Follow Up', '', 'inline')
                option(value="") --
                option(value="") --
                option(value="") --
                option(value="") --
            .duplicate-item
              i.icon-copy
            .divider
        .delete-item
          i.icon-trash
    .component-content
      if block
        block