extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin'; 
  - var pageSubID = 'admin-role-management'; 

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Admin Manager
          .filters
            +input(false, 'search', false, false, 'icon-search')
            +toggle('archive-visibility', false, false, '', 'Hide Archived', 'toggle-mini')
          .action
            a(href="#0" data-micromodal-trigger="modal-add-admin").button.small.ghost.green 
              i.icon-add.left-icon
              | Add New Admin
        .component-content
          .component.reverse-margin
            .component-content.no-padding
              table.striped
                thead
                  tr
                    th Admin Name
                    th UVID
                    th Role
                    th Primary Position Title UVU
                    th Date Added
                    th Added By
                    th(width="20") Revoke
                tbody.zebra
                  -for (x = 1; x <= 20; x++)
                      tr
                        td Worldwas, Onfire
                        td ########
                        td Super Admin
                        td Everything Is On Fire
                        td XX Month, 20XX
                        td Jeff Goldblum (########)
                        td.text-right
                          i(data-micromodal-trigger="modal-revoke-admin").icon-clear.clear
                        

  include ../../../partials/modals/add-new-admin
  include ../../../partials/modals/revoke-admin