extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin';
  - var pageSubID = 'read-only'; 
  - var sidebar = true; 

block sidebar
  include ../../../partials/sidebars/review-sidebar.pug


block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Supervisor Review 2021
          .action
            +toggle('toggle-mini', false, false, 'Show Not Selected', '', 'toggle-mini')
        .component-content
          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t.
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget  
                    a(href="#0") lacinia odio
                    |  sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  blockquote
                    p If you experience retaliation of any kind, including your supervisor pressuring you to disclose how you rated them, contact Human Resources immediately at 
                      strong 801.863.8207.

                  ul.link-list
                    li
                      a(href="#0") Employee Awards and Recognition
                    li
                      a(href="#0") Employee Awards and Recognition
                  .faux-textarea
                    p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  +textarea('Follow Up Goal Description', false, false,'2000 character limit', true)

              .question
                p
                  i The room is too dang dark to be typing. Rate the following solutions to fix this:

                .gridlex.read-only-answer
                  .col-6
                    p.subtitle-6.dashed Supervisor 1st Rated
                    p
                      strong 1. Start a fire
                    p
                      strong 2. Start a fire
                    p
                      strong 3. Start a fire
                  .col-6
                    p.subtitle-6.dashed Not rated
                    p
                      strong Light the house on fire
                    p
                      strong Light the house on fire

              .question
                p
                  i The room is too dang dark to be typing. Rate the following solutions to fix this:

                .gridlex.read-only-answer
                  .col-6
                    p.subtitle-6.dashed Supervisor 1st Rated
                    p
                      strong 1. Start a fire
                    p
                      strong 2. Start a fire
                    p
                      strong 3. Start a fire
                  .col-6
                    p.subtitle-6.dashed Not rated
                    p
                      strong Light the house on fire
                    p
                      strong Light the house on fire

              .question
                p
                  i The room is too dang dark to be typing. Rate the following solutions to fix this:

                ul.dropdown-read-only.read-only-answer.list-unstyled
                  -for (x = 1; x <= 16; x++)
                    if x == 1
                      li.is-selected
                        .text I don’t know
                        .selected Supervisor 1st Selected
                        .selected.light Employee Selected
                    else
                      li 
                        .text I don’t know

              .question
                p
                  i The room is too dang dark to be typing. Rate the following solutions to fix this:

                .answer-pill
                  .title Supv 1st Selected 
                  .answer-container No

                .answer-pill.light.ml-24
                  .title Employee Selected
                  .answer-container No

              .question
                p
                  i The room is too dang dark to be typing. Rate the following solutions to fix this:

                .answer-pill
                  .title Supv 1st Selected 
                  .answer-container
                    .faux-checkbox.checked.readonly


              .question
                +likert(3, 'likert', true, true)
              
              .question
                p Does this question seem familiar?
                p
                  i During the supervisor review, on question four you were asked to rank several options. Please review the question and your responses below.

                .well.gray
                  p
                    i The room is too dang dark to be typing. Rate the following solutions to fix this:
                  .gridlex.read-only-answer
                    .col-6
                      p.subtitle-6.dashed Supervisor 1st Rated
                      p
                        strong 1. Start a fire
                      p
                        strong 2. Start a fire
                      p
                        strong 3. Start a fire
                    .col-6
                      p.subtitle-6.dashed Not rated
                      p
                        strong Light the house on fire
                      p
                        strong Light the house on fire

              .question
                p 
                  i Just go start a blog or write a thesis. If you’re getting anywhere close to the character limit, JUST STOP.
                .gridlex
                  .col-6
                    p.fake-label Supervisor 1st Response
                    .faux-textarea
                  .col-6
                    p.fake-label Supervisor 1st Response
                    .faux-textarea

              .question
                p Does this question seem familiar?
                p
                  i During the supervisor review, on question four you were asked to rank several options. Please review the question and your responses below.

                .well.gray
                  p
                    i The room is too dang dark to be typing. Rate the following solutions to fix this:
                  .gridlex.read-only-answer
                    .col-6
                      p.subtitle-6.dashed Supervisor 1st Rated
                      p
                        strong 1. Start a fire
                      p
                        strong 2. Start a fire
                      p
                        strong 3. Start a fire
                    .col-6
                      p.subtitle-6.dashed Not rated
                      p
                        strong Light the house on fire
                      p
                        strong Light the house on fire
                    .col-6
                      p.subtitle-6.dashed Supervisor 1st Rated
                      p
                        strong 1. Start a fire
                      p
                        strong 2. Start a fire
                      p
                        strong 3. Start a fire
                    .col-6
                      p.subtitle-6.dashed Not rated
                      p
                        strong Light the house on fire
                      p
                        strong Light the house on fire
          .component
            .component-header.component-container
              .title
                h5 Manage My S.M.A.R.T. Goals
              .status.question-status
                i.icon-active
            .component-content
              .question
                .information-block
                  p 
                    i Please identify goals you will work to accomplish in the coming year. As a reminder, this goal setting process is an opportunity to set goals that focus on inclusion. We encourage employees to consult with their supervisor and the 
                      a(href="#0") Inclusion Plan
                      |  when setting goals. (
                      a(href="#0") https://www.uvu.edu/inclusion/docs/inclusion_plan.pdf
                      | )

                  p
                    i Goals should be achievable and provide an opportunity for growth. Structure your goals as S.M.A.R.T. goals, which are Specific, Measurable, Attainable, Relevant, and Timely.

                hr.wide.mb-0

                .goals-columns.light
                  div.column-header
                    .title
                      p.widget-title My Goals
                  div.column-header
                    .title
                      p.widget-title Goals Share With Me
                    .action

                  div.column-controls
                    .sort
                      p.sort Goal Title 
                        i.icon-arrow-down
                    .control
                      p.text-right All Expanded/Collapsed
                      .icon-container
                        i.icon-add
                  div.column-controls
                    .sort
                      p.sort Goal Title 
                        i.icon-arrow-down
                    .control
                      p.text-right All Expanded/Collapsed
                      .icon-container
                        i.icon-add

                  div.column-goals
                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 Finish My Broadway Adaptation of ‘Linux: The Musical’ 
                          p.subtitle-3 Due: Before Dec 5th, 2022
                        .action.flex-container
                          i.icon-edit.edit
                      .component-content.pb-0
                        .component-content.pt-0
                          table.full-width-large
                            tbody(x-data= "{innerTableRow1: false}")
                              tr
                                td(width="30")
                                  .control
                                    .icon-container(@click= 'innerTableRow1 = true' x-show= 'innerTableRow1 == false')
                                      i.icon-add
                                    .icon-container(@click= 'innerTableRow1 = false' x-show= 'innerTableRow1')
                                      i.icon-remove
                                td Goal Sharing
                                  p.subtitle-3
                                    i.icon-person
                                    | Not Shared
                              tr.expandable-row(x-show= 'innerTableRow1')
                                td(colspan="4")
                                  table.full-width-small
                                    thead
                                      tr
                                        th(width="24") Lvl
                                        th Name
                                        th Job Title
                                        td UVID
                                    tbody.zebra
                                      -for (y=0; y<4; y++)
                                        tr
                                          td 
                                            span.level-icon.second 2
                                              span nd
                                          td.small Mary Lynn Monroe
                                          td.small Magic Specialist
                                          td.small ########
                            tbody(x-data= "{innerTableRow2: false}")
                              tr
                                td(width="30")
                                  .control
                                    .icon-container(@click= 'innerTableRow2 = true' x-show= 'innerTableRow2 == false')
                                      i.icon-add
                                    .icon-container(@click= 'innerTableRow2 = false' x-show= 'innerTableRow2')
                                      i.icon-remove
                                td Goal Details
                              tr.expandable-row(x-show= 'innerTableRow2')
                                td(colspan="5")
                                  .inner.pl-60
                                    p.subtitle-9 Goal Title
                                    p.small-plus Take Fluffy to the Groomers

                                    hr.dashed

                                    p.subtitle-9 Goal Description
                                    p.small-plus Everytime mid-September rolls around, I know my dog fluffy is due for a debranching. No, no.. I said it right. Debranching. Although the term delogging, or even detreeing, would also be accurate. She basically is a shambling wood pile at this point. I need to take her to the groomers.. or a lumber mill.

                                    hr.dashed

                                    p.subtitle-9 Set A Timeframe
                                    p.small-plus Before Dec 5th, 2022

                                    hr.dashed

                                    p.subtitle-9 Identify Key People
                                    p.small-plus Spiderman,  Batman,  Superman,  Wonder Woman,  Catwoman

                                    hr.dashed

                                    p.subtitle-9 Predict The Outcome
                                    p.small-plus I’m going to build a house with the remnants. Or maybe a sauna? Yeah! A sauna!



                  div.column-goals                  
                    .component.component-small
                      .component-header.component-container
                        .title
                          p.process-title.mb-4 Finish My Broadway Adaptation of ‘Linux: The Musical’ 
                          p.subtitle-3 Due: Before Dec 5th, 2022
                        

                      .component-content
                        .gridlex.item-history
                          .col-4.history
                            .title 
                              p Shared By
                            .info 
                              p Peter Washburn (########)
                          .col-4.history
                            .title 
                              p Shared On
                            .info 
                              p Aug 19th, 2019 - 4:04 pm
                          .col-4.history
                            .title 
                              p Last Edited
                            .info 
                              p Aug 19th, 2019 - 4:04 pm
                        table.full-width-small
                          tbody(x-data= "{innerTableRow2: false}").clean
                            tr
                              td(width="30")
                                .control
                                  .icon-container(@click= 'innerTableRow2 = true' x-show= 'innerTableRow2 == false')
                                    i.icon-add
                                  .icon-container(@click= 'innerTableRow2 = false' x-show= 'innerTableRow2')
                                    i.icon-remove
                              td Goal Details
                            tr.expandable-row(x-show= 'innerTableRow2')
                              td(colspan="5")
                                .inner.pl-60
                                  p.subtitle-9 Goal Title
                                  p.small-plus Take Fluffy to the Groomers

                                  hr.dashed

                                  p.subtitle-9 Goal Description
                                  p.small-plus Everytime mid-September rolls around, I know my dog fluffy is due for a debranching. No, no.. I said it right. Debranching. Although the term delogging, or even detreeing, would also be accurate. She basically is a shambling wood pile at this point. I need to take her to the groomers.. or a lumber mill.

                                  hr.dashed

                                  p.subtitle-9 Set A Timeframe
                                  p.small-plus Before Dec 5th, 2022

                                  hr.dashed

                                  p.subtitle-9 Identify Key People
                                  p.small-plus Spiderman,  Batman,  Superman,  Wonder Woman,  Catwoman

                                  hr.dashed

                                  p.subtitle-9 Predict The Outcome
                                  p.small-plus I’m going to build a house with the remnants. Or maybe a sauna? Yeah! A sauna!
                                  