extends ../../layouts/layout.pug

block vars
  - var pageID = 'past'; 

block content
  section.container
    .content

      .component
        .component-header.component-container
          .title
            h6 My Past Review
        .component-content
          -for (z=0; z<3; z++)
            - var componentStatus = z == 0 ? 'true' : 'false';
            .component(x-data= "{'" + 'componentRow' + z + "': " + componentStatus + "}")
              .component-header.component-container
                .title
                  p
                    strong 2022 Supervisor Review
                  p.subtitle-3 5 Reviews
                .control
                  .icon-container(@click= 'componentRow' + z + " = true" x-show= 'componentRow' + z + ' === false')
                    i.icon-add
                  .icon-container(@click= 'componentRow' + z + " = false" x-show= 'componentRow' + z )
                    i.icon-remove
              .component-content.no-padding(x-show= 'componentRow' + z)
                table
                  thead
                    tr
                      th Process Title
                      th Person Evaluated
                      th Started
                      th Ended
                      th 
                      td Eligibility
                      td(width="26")
                      th(width="130")
                  -for (y=0; y<5; y++)
                    include ../../partials/dashboard/dashboard-past


      .component
        .component-header.component-container
          .title
            h6 My Employee’s Past Reviews
        .component-content
          -for (z=0; z<3; z++)
            - var componentStatus = z == 0 ? 'true' : 'false';
            .component(x-data= "{'" + 'componentRow' + z + "': " + componentStatus + "}")
              .component-header.component-container
                .title
                  p
                    strong 2021 Employee Review History
                  p.subtitle-3 5 Reviews
                .control
                  .icon-container(@click= 'componentRow' + z + " = true" x-show= 'componentRow' + z + ' === false')
                    i.icon-add
                  .icon-container(@click= 'componentRow' + z + " = false" x-show= 'componentRow' + z )
                    i.icon-remove
              .component-content.no-padding(x-show= 'componentRow' + z)
                table
                  thead
                    tr
                      th Process Title
                      th Started
                      th Ended
                      th Reviews Begun
                      td Reviews Finished
                      th(width="230")
                  -for (y=0; y<5; y++)
                    include ../../partials/dashboard/dashboard-past-reviews