extends ../../layouts/layout.pug

block vars
  - var pageID = 'past'; 

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Process Bravo (2022)
          .action.flex-container.center
            +select(false)
              option(val="#0") Process Bravo
            
        .component-content
          .component.reverse-margin
            .component-content.no-padding
              .gridlex.filters-bar
                .search-container
                  +input(false, 'search', false, false, 'icon-search')
                .stats-container.gridlex
                  .col-3.stats
                    p.title Started
                    p xx Month, 20XX
                  .col-3.stats
                    p.title Started
                    p xx Month, 20XX
                  .col-3.stats
                    p.title Started
                    p xx Month, 20XX
                  .col-3.stats
                    p.title Started
                    p xx Month, 20XX
                .flex-toggle
                  +toggle('reports-toggle', false, false, 'Direct Reports', 'Indirect Reports', 'toggle-mini')
              table
                thead
                  tr
                    th.cell15 First Name
                    th.cell15 Last Name
                    th(width="24") Level
                    th Process Stage
                    th(width="75") Eligibility
                    td(width="26")
                    th(width="130")
                -for (y=0; y<5; y++)
                  include ../../partials/dashboard/dashboard-past-process-focus
