extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin';
  - var pageSubID = 'system-configuration';  

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 System Configuration
              
        .component-content
          .component.reverse-margin
            .component-content.no-padding(x-data="{ tab: 'system-email-settings' }")
              .tabs
                ul.list-unstyled
                  li(:class="{ 'active': tab === 'button-text' }" @click="tab = 'button-text'") Button Text
                  li(:class="{ 'active': tab === 'system-email-settings' }" @click="tab = 'system-email-settings'") System Email Settings
                  li(:class="{ 'active': tab === 'goal-sharing-email' }" @click="tab = 'goal-sharing-email'") Goal Sharing Email
                  li(:class="{ 'active': tab === 'edit-history' }" @click="tab = 'edit-history'") Edit History

              .tab-content
                .instance-settings(x-show="tab === 'button-text'")
                  .component.inner-component
                    .component-content
                      ul.list-unstyled.basic-config
                        -for (x=0; x<6; x++)
                          li 
                            .well.gray
                              .gridlex-noWrap
                                .col-6
                                  +input('Button Label', 'full')
                                .col-6
                                  +select('Button Type', 'full')
                                    option(val="#0") Next Stage
                                .delete-item
                                  i.icon-trash
                              .gridlex
                                .col-12
                                  +textarea('Button Confirmation Text', '', 'xsmall', '200 character limit')
                                // i.icon-trash.trash

                .instance-settings(x-show="tab === 'system-email-settings'")
                  .component.inner-component
                    .component-content
                      .gridlex.no-margin
                        .col-3
                          +input('System Email ‘From’ Address')
                        .col-3
                          +input('System Email ‘Reply’ Address')
                        .col-6
                          p.mt-24
                            i These fields show what addresses are used in all system generated emails.

                      hr.wide

                      .component-header.mb-24
                        .title
                          +select('Sort Groups', '', 'inline')
                            option(val="") Title Alphabetical (A to Z)
                            option(val="") Address Count
                        .control
                          a(href="#0" data-micromodal-trigger="modal-add-edit-group").button.small.ghost.green 
                            i.icon-add.left-icon
                            | New Email Group


                      .masonry
                        -for (x = 1; x <= 20; x++)
                          .masonry-item.well
                            .inner-header
                              p HR Email List
                              .action.flex-container
                                i.icon-edit.edit(data-micromodal-trigger="modal-delete-group")
                                .divider.auto.center
                                i.icon-trash.trash(data-micromodal-trigger="modal-add-edit-group")
                            if x == 3
                              -for (y = 1; y <= 20; y++)
                                if y == 1
                                  .field
                                    .input-has-icon
                                      i.input-icon.icon-search-person.search-person.not-active
                                      input(type='text' value='email@email.com' placeholder='')
                                else  
                                  .field
                                    .input-has-icon
                                      i.input-icon.icon-search-person.search-person( data-micromodal-trigger="modal-search-user")
                                      input(type='text' value='' placeholder='')
                            else 
                              -for (y = 1; y <= 5; y++)
                                if y == 1
                                  .field
                                    .input-has-icon
                                      i.input-icon.icon-search-person.search-person.not-active
                                      input(type='text' value='email@email.com' placeholder='')
                                else  
                                  .field
                                    .input-has-icon
                                      i.input-icon.icon-search-person.search-person( data-micromodal-trigger="modal-search-user")
                                      input(type='text' value='' placeholder='')




                .instance-settings(x-show="tab === 'goal-sharing-email'")
                  .component.inner-component
                    .component-content
                      h5 Goal Sharing Email

                      .field
                        label Email Subject
                        .dual-input
                          .input-1
                            input(type="text")
                          .input-2
                            .select-container
                              select
                                option(value="") Insert Variable

                      +textarea(false, false, false,'5000 character limit', true)

                .instance-settings(x-show="tab === 'edit-history'")
                  .component.inner-component
                    .component-content
                      h5 Editing History

                      table.full-width.striped
                        thead
                          tr
                            th(width="200") Date/Time
                            th() Edit Type
                            th(width="30")
                        -for (y=0; y<10; y++)
                          include ../../../partials/dashboard/system-config-editing-history
                      

  include ../../../partials/modals/search-for-user
  include ../../../partials/modals/delete-group
  include ../../../partials/modals/add-edit-group