+modal('modal-add-edit-group', 'New/Edit Email Group')
  .mb-40
    p
      i Are you sure you want to delete this email group? All emails associated with this group will be affected.

  .button-group
    a(href="#0").button.red Delete
    a(href="#0").button.link Cancel