+modal('modal-add-admin', 'Add New Administrator')
  .mb-40
    h5 Search Users
    +input(false, 'search', false, false, 'icon-search')

    ul.user-list.list-unstyled.selectable
      - for(x = 0; x < 4; x++)
        - var className = x == 2 ? 'selected' : '';
        li(class=className)
          .user-image
            img(src="http://placehold.it/60x60")
          .user-info
            p.name John Smith
            p.title Professional
          .user-id
            p UVID: ########


  .button-group
    a(href="personal-details-2.html").button Add Admin
    a(href="personal-details-2.html").button.link Cancel