+modal('modal-masquerade-comment', 'Masquerade Comment Required')
  .mb-40
    p
      i You masqueraded as the following user:
    ul.user-list.list-unstyled.mb-40
      li(class='active')
        .user-image
          img(src="http://placehold.it/60x60")
        .user-info
          p.name John Smith
          p.title Professional
        .user-id
          p UVID: ########

    P
      i Please summarize what you did while masquerading as this user.
    +textarea(false, false, false,'2000 character limit')

  .button-group
    a(href="personal-details-2.html").button Start Masquerading
    a(href="personal-details-2.html").button.link Cancel