+modal('modal-revoke-admin', 'Revoke Administrator Role')
  .mb-40
    p
      i You are about to revoke the administrator privileges from the following user:
    ul.user-list.list-unstyled.mb-40
      li(class='active')
        .user-image
          img(src="http://placehold.it/60x60")
        .user-info
          p.name John Smith
          p.title Professional
        .user-id
          p UVID: ########

    P
      i Do you wish to proceed

  .button-group
    a(href="personal-details-2.html").button.red Revoke
    a(href="personal-details-2.html").button.link Cancel