extends ../layouts/layout.pug

block vars
  - var pageID = 'elements'; 

block banner
  .banner.banner-info
    .inner
      .message
        p
          strong This is a status banner.
          |  It has a secondary line for more info.

      .action
        p
          a(href="#0").button.white.ghost Dismiss

  .banner.banner-warning
    .inner
      .message
        p
          strong This is a warning banner.
          |  It has a secondary line for more info.
      .action
        p
          a(href="#0").button.white.ghost Dismiss
  .banner.banner-action
    .inner
      .message
        p
          strong This is a action banner.
          |  It has a secondary line for more info.
      .action
        p
          a(href="#0").button.dark.ghost Dismiss
  .banner.banner-success
    .inner
      .message
        p
          strong This is a success banner.
          |  It has a secondary line for more info.
      .action
        p
          a(href="#0").button.white.ghost Dismiss

block content
  section.container
    .content

      //  Employee Reviews
      .component
        .component-content
          .component
            .component-content

              p
                a(href="#0" @click="spinner = true").button.small Start Spinner

              h1 Header 1
              h2 Header 2
              h3 Header 3
              h4 Header 4
              h5 Header 5
              h6 Header 6

              p Normal Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              p.small Small Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              p.light Light Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              p.small.light Small Light Para. Etiam porta sem malesuada magna mollis euismod. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

              hr

              h1 Modals

              p
                a(href="#0" data-micromodal-trigger="modal-masquerade-comment").button Masquerading Comment Modal

              include ../partials/modals/masquerade-comment

              hr

              h1 Buttons

              p
                a(href="#0").button Normal Button
              p
                a(href="#0").disabled.button Disabled Button
              p 
                button(type="button") Button Type Button
              p
                input(type="button" value="Input Button")
              p
                a(href="#0").button.small Normal Small Button
              p
                a(href="#0").button.yellow Yellow Button
              p
                a(href="#0").button.yellow.small Yellow Small Button
              p
                a(href="#0").button.green Green Button
              p
                a(href="#0").button.green.small Green Small Button
              p
                a(href="#0").button.green.ghost Green Ghost Button
              p
                a(href="#0").button.green.ghost.small Green Small Ghost Button
              p
                a(href="#0").button.green.ghost.small 
                  i.icon-add.left-icon
                  | Green Small Ghost Button with Icon


              p
                a(href="#0").button.small.ghost.green.solid-icon 
                  span.inner-button Green Button with Unlocked Icon
                  span.container-icon
                    i.icon-unlocked.right-icon

              p
                a(href="#0").button.small.ghost.green.solid-icon.disabled
                  span.inner-button Green Button with Unlocked Icon Disabled
                  span.container-icon
                    i.icon-unlocked.right-icon


              hr

              h1 Form Elements

              +input('Label')
              +input('Label', 'text', '', '', false, 'Value is required')
              +input('Label', 'text', '', '', false, false, false, true)
              +textarea('Label')
              +select('Label')
                option(value="Option 1") Option 1
                option(value="Option 2") Option 2
                option(value="Option 3") Option 3
                option(value="Option 4") Option 4

              +advancedSelect('Advanced Select Label', 'Selected Option Here and some other really long text', 'demoAdvSelect')
                - for (x = 0; x <= 7; x++)
                  +checkbox('advanced-checkbox-' + x, 'Checkbox Label')

              +select('Label', 'full')
                option(value="Option 1") Option 1
                option(value="Option 2") Option 2
                option(value="Option 3") Option 3
                option(value="Option 4") Option 4
              .input-group.field
                +checkbox('checkbox-1', 'Checkbox Label')
                +checkbox('checkbox-2', 'Checkbox Label Checked', true)

              .input-group.field
                +radio('radio-1', 'radio-group', 'Radio Label')
                +radio('radio-2', 'radio-group', 'Radio Label Checked', true)
              +toggle('toggle-normal', false, false, 'No', 'Yes')
              +toggle('toggle-mini', false, false, 'No', 'Yes')


  .spinner(x-show="spinner === true" @click="spinner = false")
    .spinner-message
      i.icon-spinner
      p Loading