extends ../layouts/layout.pug

block vars
  - var pageID = 'dashboard'; 

block content
  section.container
    .content

      .dashboard-top.mb-24

        // My Reviews
        .my-reviews
          .component
            .component-header.component-container
              .title
                h6 My Reviews
            .component-content
              .component
                .component-header.component-container
                  .action-needed
                    div
                      i.icon-warning
                      p Action
                        br
                        | Needed
                  .title
                    p
                      strong 2022 Supervisor Review
                    p.subtitle-3 
                      i.icon-person.align-middle
                      | Hermione Granger - 1st Level Supervisor
                  .status
                    .chips
                      .chip.black Required
                    p.subtitle-4 Ends Mar 12th, 2022 (8 days left)
                .component-desc.component-container.gray
                  .desc
                    p This is the current stage description area. This tells you want is happening.
                  .action
                    a(href="/reviews").button.yellow Open Review
                .component-content
                  +reviewStages(3, 'supervisorReview')

              .component
                .component-header.component-container
                  .title
                    p
                      strong Rate Your Peers
                    p.subtitle-3 
                      i.icon-person.align-middle
                      | Hermione Granger - 1st Level Supervisor
                  .status
                    .chips
                      .chip.gray Optional
                    p.subtitle-4 Ends Mar 12th, 2022 (8 days left)
                .component-desc.component-container.gray
                  .desc
                    p This is the current stage description area. This tells you want is happening.
                  .action
                    a(href="/reviews").button View Review
                .component-content
                  +reviewStages(8, 'ratePeers')

              .component
                .component-content
                  .well.gray
                    p You do not have any current performance processes.
                    p.small-plus Please refer to the calendar for information on upcoming process timelines. 
                    //- p Navigate to the "Past" tab for processes that have already been completed.

        // Review Schedule
        .review-schedule
          .component
            .component-header.component-container
              .title
                h6 Review Schedule
            .component-content.dashboard-calendar.no-padding
              .calendar-display
                #calendar
              .calendar-legend
                ul.list-unstyled
                  li
                    .color(style="background: var(--red);")
                    .legend-content
                      p.title 2022 Supervisor Review
                      p.subtitle-3 March 3, 2021 - March 7, 2021  (5 Days)
                  li
                    .color(style="background: var(--blue-75);")
                    .legend-content
                      p.title 2022 Supervisor Review
                      p.subtitle-3 March 3, 2021 - March 7, 2021  (5 Days)
                  li
                    .color(style="background: var(--primary-light);")
                    .legend-content
                      p.title 2022 Supervisor Review
                      p.subtitle-3 March 3, 2021 - March 7, 2021  (5 Days)
      

      //  Employee Reviews
      .component
        .component-header.component-container
          .title
            h6 Employee Reviews
        .component-content
          .component
            .component-header.component-container
              .title
                p
                  strong 2022 Supervisor Review
                p.subtitle-3 8 Employees
              .status
                +toggle('report-type', false, false, 'Direct Reports', 'Indirect Reports', 'toggle-mini')
                p.small Ends Mar 12th, 2022 (8 days left)
            .component-content.no-padding
              table
                thead
                  tr
                    th.cell15 First Name
                    th.cell15 Last Name
                    th(width="24") Level
                    th Process Stage
                    th(width="75") Eligibility
                    td(width="26")
                    th(width="130")
                -for (y=0; y<10; y++)
                  include ../partials/dashboard/dashboard-row