tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    td Process Alpha
    td 
      p.small Hermione Granger
      p.small 1st Level Supervisor
    td.small xx Month, 20XX
    td.small xx Month, 20XX
    td
      if y == 3
        .review-stages(class= 'steps-8' :class="{ 'is-open': innerTableRow" + y + "}")
          .preview.stage-grid.table-stage-grid.past
            - for (x=1; x <= 8; x++)
              if x == 1
                div.completed
                  .icon
                    i.icon-check_circle
              else if x == 2
                div.active 
                  .text Text
                  .icon
                    i.icon-active
              else
                div 
                  .icon
                    i.icon-not-started
      else if y == 7
        .review-stages(class='steps-5' :class="{ 'is-open': innerTableRow" + y + "}")
          .preview.stage-grid.table-stage-grid.past
            - for (x=1; x <= 5; x++)
              if x == 5
                div.completed.long
                  .text Text
                  .icon
                    i.icon-check_circle
              else
                div.completed
                  .icon
                    i.icon-check_circle
      else
        .review-stages(class='steps-5' :class="{ 'is-open': innerTableRow" + y + "}")
          .preview.stage-grid.table-stage-grid.past
            - for (x=1; x <= 5; x++)
              if x == 1
                div.completed
                  .icon
                    i.icon-check_circle
              else if x == 2
                div.active 
                  .text Text
                  .icon
                    i.icon-active
              else
                div 
                  .icon
                    i.icon-not-started
    td.small 
      if y === 3 || y === 4
        strong Required
      else 
        | Optional
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
    td.text-right
      button.button.small View Review
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="8")
      .inner
        .component.no-shadow
          .component-content
            .review-stages-container
                .review-stages(class= 'steps-5')
                  .preview.stage-grid.past
                    - for (x=1; x <= 5; x++)
                      if x == 1
                        div.completed 
                          .text Text
                          .icon
                            i.icon-check_circle
                      else if x == 2
                        div.active 
                          .text Text
                          .icon
                            i.icon-active
                      else
                        div 
                          .text Text
                          .icon
                            i.icon-not-started
                  .detail.stage-grid
                    - for (x=1; x <= 5; x++)
                      div
                        p This is the stage description area. This only displays when expanded.
                        .status
                          if x == 1
                            .status-title
                              p.light Submitted:
                            .status-desc
                              p Imma Knotreel: Jan 15, 2022 - 12:15 PM
                          else if x == 2
                            .status-title
                              p.light Last Updated
                            .status-desc
                              p Imma Knotreel: Jan 15, 2022 - 12:15 PM
                          else 
                            .status-title
                              p.light Not Started