tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    td.small XX Month, 20XX -  XX:XX xm
    if y == 1
      td.has-icon.small
        .delete-icon 
          i.icon-trash
        | Removed
    else if y == 0
      td.has-icon.small
        .edit-icon 
          i.icon-edit
        | Edited
    else
      td.has-icon.small
        .add-icon 
          i.icon-add
        | Added
    
    td Elmer Fudd (########)
    td Elmer Fudd (########)
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
    td 
      a(href="#0").button.green.small Go To Record
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="6")
      .inner
        .gridlex
          .col-8
            p.subtitle-6 Comments
            +textarea(false, false, false,'2000 character limit')
          .col-4
            p.subtitle-6 Edit History
            ul.list-unstyled.history
              -for (x = 1; x <= 3; x++)
                li
                  .title 
                    p Supervisor 1st Level 
                  .info 
                    p Levar Burton changed to Mr. Belvedere
        