tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    td.small XX Month, 20XX -  XX:XX xm
    td Elmer Fudd (########)
    td Elmer Fudd (########)
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
    td 
      a(href="#0").button.green.small Go To Record
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="5")
      .inner
        .gridlex
          .col-8
            p.subtitle-6 Comments
            +textarea(false, false, false,'2000 character limit')
          .col-4
            p.subtitle-6 Activity Log
            ul.list-unstyled.history
              -for (x = 1; x <= 3; x++)
                li
                  .title 
                    p Supervisor Review 2021 (Evalutee Name) - In Progress
                  .info 
                    ul
                      li Question 2 (Text Entry - 13)
                      li Question 9 (Likert - 122)
                      li Review submitted from ‘Started’ to ‘Finalized’.
        