tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    td.small XX Month, 20XX -  XX:XX xm
    td Elmer Fudd (########)
    td Elmer Fudd (########)
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
    td 
      a(href="#0").button.green.small Go To Record
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="5")
      .inner
        .gridlex
          .col-8
            p.subtitle-6 Comments
            +textarea(false, false, false, false, false, true)
          .col-4
            p.subtitle-6 Edit Log
            ul.list-unstyled.history
              -for (x = 1; x <= 3; x++)
                li
                  .title 
                    p Supervisor 1st Level 
                  .info 
                    p Levar Burton changed to Mr. Belvedere
        