tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    if y == 9
      td.has-icon
        .delete-icon 
          i.icon-trash
        | ########
    else if y == 5
      td.has-icon
        .add-icon 
          i.icon-add
        | ########
    else if y == 0
      td.has-icon
        .edit-icon 
          i.icon-edit
        | ########
    else
      td ########
    td Ryzer
    td Ali
    td ######
    td 00
    td.small Rubber Ducky Cataloger
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="7")
      .inner
        .roster-info
          .roster-row
            .inner-content
              p.subtitle-6 Evaluatees

              .card-container
                .card
                  .corner-banner.blue
                    i.icon-edit
                  .card-section
                    .name
                      p Don Quixote
                      p.id UVID: ########
                    .level
                      p Supervisor
                        br
                        | Level
                      span.level-icon.first 1
                        span st
                  hr.dashed
                  .card-section
                    .title 
                      p Famous Email Checker - ######
                    .chips
                      .chip.black Required
                .card
                  .corner-banner.red
                    i.icon-trash
                  .card-section
                    .name
                      p Don Quixote
                      p.id UVID: ########
                    .level
                      p Supervisor
                        br
                        | Level
                      span.level-icon.second 2
                        span st
                  hr.dashed
                  .card-section
                    .title 
                      p Windmill Repair Technician
                    .chips
                      .chip.gray Optional

            .inner-content
              p.subtitle-6 Supervisor

              .card-container
                .card
                  .card-section
                    .name
                      p Don Quixote
                      p.id UVID: ########
                    .level
                      p Supervisor
                        br
                        | Level
                      span.level-icon.first 1
                        span st
                  hr.dashed
                  .card-section
                    .title 
                      p Famous Email Checker - ######
                .card
                  .card-section
                    .name
                      p Don Quixote
                      p.id UVID: ########
                    .level
                      p Supervisor
                        br
                        | Level
                      span.level-icon.second 2
                        span st
                  hr.dashed
                  .card-section
                    .title 
                      p Famous Email Checker - ######
            .actions
              p.subtitle-6 Actions
              p
                a(href="edit.html").button.small.block Edit Record 
              p
                a(href="#0").button.small.red.block Remove Record 

                
                
                
            