tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    td ########
    td Ryzer
    td Ali
    td ######
    td 00
    td.small Rubber Ducky Cataloger
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="7")
      .inner
        .component.no-divider
          .component-header.component-container
            .title
              p
                strong 2022 Supervisor Review
              p.subtitle-3 
                i.icon-person.align-middle
                | Hermione Granger - 1st Level Supervisor
            .status
              .chips
                .chip.black Required
              p.subtitle-4 Ends Mar 12th, 2022 (8 days left)
          .component-content
            +reviewStages(5, 'supervisorReview' + y, true)
        .component.no-divider
          .component-header.component-container
            .title
              p
                strong 2022 Supervisor Review
              p.subtitle-3 
                i.icon-person.align-middle
                | Hermione Granger - 1st Level Supervisor
            .status
              .chips
                .chip.black Required
              p.subtitle-4 Ends Mar 12th, 2022 (8 days left)
          .component-content
            +reviewStages(5, 'supervisorReview' + y + '1', true)