tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    td.small XX Month, 20XX -  XX:XX xm
    if y == 9
      td.has-icon.small
        .add-icon 
          i.icon-add
        | Created
    else
      td.has-icon.small
        .edit-icon 
          i.icon-edit
        | Edited
      
    
    td Elmer Fudd (########)
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="4")
      .inner
        .gridlex
          .col-8
            p.subtitle-6 Comments
            +textarea(false, false, false,'2000 character limit')
          .col-4
            p.subtitle-6 Edit Log
            ul.list-unstyled.history
              li
                .title 
                  p Email Manager
                .info 
                  p 
                    i Email created “Welcome To Your Doom”
              li
                .title 
                  p Process Form
                .info 
                  p 
                    i Question 0034 edited
              li
                .title 
                  p Stage Configuration
                .info 
                  p 
                    i Stages 1, 2, 3 edited

        