tbody(x-data= "{'" + 'innerTableRow' + y + "': false}")
  tr
    td.small XX Month, 20XX -  XX:XX xm
    td Elmer Fudd (########)
    td
      .control
        .icon-container(@click= 'innerTableRow' + y + " = true" x-show= 'innerTableRow' + y + '=== false')
          i.icon-add
        .icon-container(@click= 'innerTableRow' + y + " = false" x-show= 'innerTableRow' + y )
          i.icon-remove
  tr.expandable-row(x-show= 'innerTableRow' + y)
    td(colspan="3")
      .inner
        .gridlex
          .col-8
            p.subtitle-6 Comments
            +textarea(false, false, false,'2000 character limit')
          .col-4
            p.subtitle-6 Edit Log
            ul.list-unstyled.history
              li
                .title 
                  p Goal Sharing Email
                .info 
                  p 
                    i Subject changed ‘Stop Microwaving Tuna Fish, Please!’
              li
                .title 
                  p Button Text
                .info 
                  p 
                    i New button created ‘Autobots, roll out!’
              li
                .title 
                  p System Email Settings
                .info 
                  p 
                    i System Email ‘From’ Address changed ‘batman@dccomics.gov’

        