extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin'; 
  - var pageSubID = 'response-management';

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Response Management
            
        .component-content
          .component.inner-component
            .double-page-layout(x-data="{ pageSlide: false }")
              .inner-page-layout(:class="{ 'active': pageSlide }")
                .page
                  .overlay(@click="pageSlide = false")
                    i.icon-format_list_bulleted
                  .component-header.component-container
                    .title
                      h5 Stage Manager
                    .action
                      +input(false, 'search', false, false, 'icon-search')
                  .component-content.pt-0
                    table.full-width.striped
                      thead
                        tr
                          th.cell15 UVID
                          th.cell15 Preferred First Name
                          th.cell15 Preferred Last Name
                          th() Prim Pisn #
                          th() Prim Pisn Stuff
                          th Primary Position Title
                          th(width="30")
                      -for (y=0; y<10; y++)
                        include ../../../partials/dashboard/stage-manager

                  p.pl-20.pb-20
                    a(href="#0" data-micromodal-trigger="modal-change-response-stage").button.small Launch Change Response Stage Modal
                .page
                  .overlay(@click="pageSlide = true")
                    i.icon-history-log
                  .component-header.component-container
                    .title
                      h5 Editing History
                    .action.flex-container.center
                      +toggle('archive-visibility', false, false, '', 'Hide Archived', 'toggle-mini')
                      +input(false, 'search', false, false, 'icon-search')
                  .component-content.pt-0
                    table.full-width.striped
                      thead
                        tr
                          th Date/Time
                          th Admin
                          th Account Edited
                          th(width="30") 
                          th(width="130")
                      -for (y=0; y<10; y++)
                        include ../../../partials/dashboard/response-editing-history
                .action-arrow(@click="pageSlide = true" x-show= "pageSlide === false")
                  i.icon-arrow-left
                .action-arrow(@click="pageSlide = false" x-show= "pageSlide ")
                  i.icon-arrow-right


  +modal('modal-change-response-stage', 'Change Response Change')
    .mb-40
      h5 2022 Supervisor Review
      p
        i You are about to make the following change to this responses stage:

      .stage-tags
        .tag Previous Stage Here
        .tag.new New Stage Here

      p
        i Please summarize why the response stage was changed.
      +textarea(false, false, false,'2000 character limit')
    .button-group
      a(href="personal-details-2.html").button Proceed
      a(href="personal-details-2.html").button.link Cancel