aside.sidebar.reverse-color
  .sidebar-info(x-data="{'sidebarInfo': true}")

    .sidebar-title
      .title
        p Interaction Menu
      .action
        a(herf="#0").help-icon
          i.icon-help
    p
      a.button.small.block Save &amp; Quit
    p 
      a.button.small.block.yellow Save &amp; Return
    p 
      a.button.small.block.green.ghost Discard Changes &amp; Return


  .sidebar-content
    .builder-block-tags
      +blockTag('Information', 'info')
      +blockTag('Text Input', 'textbox', 'black')
      +blockTag('Likert Scale', 'likert', 'blue')
      +blockTag('Ranking', 'format_list_numbered', 'red')
      +blockTag('Multi-Select', 'multi-select', 'purple')
      +blockTag('Dropdown', 'dropdown', 'orange')
      +blockTag('Radio Button', 'radio1', 'blue-light')
      +blockTag('Checkbox', 'checkbox', 'gold')
      +blockTag('Yes/No', 'yes-no', 'green')
      +blockTag('Goal Setting', 'goal', 'green-dark')
      +blockTag('Question Vault', 'question-archive', 'maroon')