aside.sidebar
  .sidebar-info(x-data="{'sidebarInfo': true}")

    .sidebar-title
      .title
        p Review Details
      .action
        .control
          .icon-container(@click="sidebarInfo = true" x-show= "sidebarInfo === false")
            i.icon-add
          .icon-container(@click="sidebarInfo = false" x-show="sidebarInfo")
            i.icon-remove
    p.review-for
      i.icon-person
      | Jane Doe
    div(x-show="sidebarInfo")
      .chips.mb-12
        .chip.black Required

    
      ul.sidebar-info-list
        li 1st Level Supervisor: 
          strong The Jabberwocky
        li 2nd Level Supervisor: 
          strong David Bowie
        li Ends Mar 12th, 2022 (8 days left)

      .sidebar-links
        p
          a(href="#0")
            i.icon-launch.align-middle
            | Process Instance Title &amp; Date
        p
          a(href="#0")
            i.icon-launch.align-middle
            | Process Instance Title &amp; Date


    p
      a.button.small.block Save &amp; Quit
    .has-dropdown(x-data="{'dropdown': false}" :class="{ 'is-open': dropdown }")
      a.button.small.block.yellow(@click="dropdown = true") Choose An Action
        i.icon-arrow-down.right-icon
      .dropdown(x-show= "dropdown === true")
        .dropdown-header
          a.button.small.block.yellow-reversed(@click="dropdown = false") Choose An Action
            i.icon-arrow-down.align-middle.right-icon
        .dropdown-content
          a(href="#0").button.yellow.small.block Submit
          a(href="#0").button.green-light.small.block Employee Has Comments
          a(href="#0").button.green.small.block Return
      .overlay(@click="dropdown = false")


  .sidebar-content
    p.subtitle-5 Form Navigation
    nav.form-nav
      ul.list-unstyled
        li.completed
          .text This is a Category Section Name
          .icon 
            i.icon-checkmark-circle
        li.in-progress
          .text This is a Category Section Name
          .icon 
            i.icon-active
        li.active
          .text This is a Category Section Name
          .icon 
            i.icon-active
        li
          .text This is a Category Section Name
          .icon 
            i.icon-not-started
        li
          .text This is a Category Section Name
          .icon 
            i.icon-not-started