/*
-----------------------------------------
BANNERS
-----------------------------------------
*/

.banner {
  position: relative;
  z-index: 100;
  text-align: center;

  &.full-width {
    margin: 0 -16px;
  }

  .inner {
    padding: 12px 32px;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    grid-gap: 20px;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      width: 15px;
      height: 100%;
      z-index: 2;
    }

    &::before {
      left: -1px;
      clip-path: polygon(0 0, 0 100%, 100% 50%);
    }

    &::after {
      right: -1px;
      clip-path: polygon(100% 0, 100% 100%, 0 50%);
    }
  }

  .message {
    flex: 1;
  }

  .action {
    margin-left: auto;
  }

  p {
    color: var(--white);
  }

  &.banner-info {
    background: var(--blue-25);

    .inner {
      background: var(--blue-50);

      &::before, &::after {
        background: var(--blue-25);
      }
    }
  }

  &.banner-warning {
    background: var(--red-light);

    .inner {
      background: var(--red);

      &::before, &::after {
        background: var(--red-light);
      }
    }
  }

  &.banner-action {
    background: var(--yellow);

    p {
      color: var(--text-color);
    }

    .inner {
      background: var(--yellow-light);

      &::before, &::after {
        background: var(--yellow);
      }
    }
  }

  &.banner-success {
    background: var(--secondary-green);

    .inner {
      background: var(--primary);

      &::before, &::after {
        background: var(--secondary-green);
      }
    }
  }
}