/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/


.button, button[type=button], input[type=button] {
  cursor: pointer;
  display: inline-block;
  border: none;
  -webkit-appearance: none;
  background: var(--blue-75);
  border: 1px solid var(--blue-75);
  color: var(--white);
  padding: 11px 20px;
  font-weight: 400;
  @include rem-size(14px);
  border-radius: 3px;
  font-weight: 600;
  width: auto;

  &:hover, &:active {
    color: var(--white);
    background: var(--blue-50);
    border-color: var(--blue-50);
  }

  &:focus {
    outline: none;
    border-color: var(--blue-50);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  &.yellow {
    color: var(--gray-90);
    background: var(--yellow);
    border-color: var(--gray-90);
  }

  &.yellow-reversed {
    color: var(--yellow);
    background: var(--gray-90);
    border-color: var(--yellow);
  }

  &.green {
    color: var(--white);
    background: var(--green);
    border-color: var(--green);

    &.ghost {
      color: var(--primary);
      background: var(--white);
      border-color: var(--primary);
      border-width: 2px;
    }
  }

  &.green-light {
    color: var(--white);
    background: var(--green-light);
    border-color: var(--green-light);
  }

  &.red {
    background: var(--red);
    border-color: var(--red);

    &:hover {
      background: var(--red-light);
      border-color: var(--red-light);
    }

    &.link {
      color: var(--red);
      text-decoration: underline;
      background: transparent;
      border-color: transparent;

      i {
        display: inline-block;
      }
    }

    &.ghost {
      color: var(--red);
      background: var(--white);
      border-color: var(--red);
      border-width: 2px;
    }
  }

  &.white {
    background: var(--white);
    border-color: var(--white);
    color: var(--text-color);

    &.ghost {
      background: none;
      color: var(--white);
      border-color: var(--white);

    }
  }

  &.dark {
    background: var(--text-color);
    border-color: var(--text-color);
    color: var(--white);

    &.ghost {
      background: none;
      color: var(--text-color);
      border-color: var(--text-color);

    }
  }

  &.small {
    @include rem-size(10px);
    padding: 7px 10px;
    line-height: 1;

    i {
      @include rem-size(14px);
      vertical-align: -2px;
    }
  }

  &.link {
    color: var(--primary);
    background: transparent;
    border-color: transparent;
  }

  &.block {
    text-align: center;
    display: block;
    width: 100%;
  }

  i {
    &.right-icon {
      margin-left: 4px;
    }
    &.left-icon {
      margin-right: 4px;
    }
  }

  &.solid-icon {
    display: inline-flex;
    padding: 0;

    .inner-button, .container-icon {
      padding: 6px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container-icon {
      padding: 6px;
      background: var(--primary);
    } 

    i {
      flex-shrink: 0;
      color: var(--white);
    }

    &:disabled, &.disabled {
      border-color: var(--gray-40);
      color: var(--gray-60);

      .container-icon {
        background: var(--gray-40);

        i {
          color: var(--gray-60);
        }
      }
    }
  }

  &:disabled, &.disabled {
    cursor: not-allowed;
    background: var(--gray-30);
    color: var(--gray-60);
    border-color: var(--gray-30);
  }
}


.has-dropdown {
  position: relative;
  
  border-radius: 5px;

  &.is-open {
    .overlay {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.4);
      z-index: 9;
      cursor: pointer;
    }
  }

  .dropdown {
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    background: var(--white);
    z-index: 10;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    .dropdown-header {
      padding: 8px;
      background: var(--gray-40);
      border-bottom: 1px dashed var(--gray-50);
    }

    .dropdown-content {
      padding: 8px;
    }

    .button, a {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


/* Button Group */

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 24px;

  &.group-center {
    justify-content: center;
  }

  &.group-right {
    justify-content: flex-end;
  }
}