/*
-----------------------------------------
FORMS
-----------------------------------------
*/


form {
  margin: 10px 0;
}

.field-group {
}

.field {
  margin-bottom: 20px;

  &.inline {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    margin-bottom: 0;

    label {
      margin-bottom: 0;
    }
  }

  .ql-editor {
    overflow: auto;
    min-height: 75px;
  }
}

.dual-input {
  display: flex;

  .input-1 {
    flex: 1;

    input, select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
  }

  .input-2 {
    input, select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.form-container {
  padding: 30px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &.gray {
    background: var(--gray-10);
  }

  .form-header {
    display: flex;
    grid-gap: 20px;
    align-items: center;

    p {
      margin-bottom: 0;
    }
  }

  .action {
    display: flex;
    grid-gap: 20px;
    align-items: center;

    .field {
      margin-bottom: 0;
    }
  }
}

label, .fake-label {
  display: block;
  @include rem-size(10px);
  color: var(--text-color);
  margin-bottom: 4px;
  line-height: 1.4em;
}

input, textarea, .faux-textarea {
  width: 100%;
  border: 1px solid var(--gray-90);
  padding: 10px;
  @include rem-size(16px);
  color: var(--text-color);
  border-radius: 5px; // For iOS
  background: var(--white);
  font-family: var(--font);

  &:disabled {
    color: #ccc;
    background: #fff;
    border-color: var(--gray-30);

    &.green {
      color: var(--primary);
      font-weight: bold;
    }

    &.missing-context {
      color: var(--gray-100);
      font-weight: bold;
      padding-left: 36px;
    }
  }

  &:focus {
    outline: none;
    border-color: var(--blue-50);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

textarea, .faux-textarea {
  min-height: 200px;

  &.xxsmall {
    min-height: 50px;
  }

  &.xsmall {
    min-height: 90px;
  }

  &.small-md {
    min-height: 110px;
  }

  &.small {
    min-height: 150px;
  }

  &.large {
    min-height: 250px;
  }
  &.xxlarge {
    min-height: 623px;
  }
}

.wordcap {
  text-align: right;
  @include rem-size(10px);
  font-style: italic;
  font-family: var(--font-alt);
  margin-top: 2px;
  color: var(--gray-90);
}

select {
  width: 100%;

  option {

  }
}

.required {
  color: var(--red);
  margin-left: 2px;
}




/* Form Errors */

.has-error {
  label {
    font-weight: 700;
    color: var(--red);
  }

  input, select, textarea {
    border-color: var(--red);
  }
}

.error-message {
  color: var(--red);
  @include rem-size(12px);
  margin-top: 4px;
  font-weight: 600;
  font-style: italic;
}


/*
-----------------------------------------
FORM LAYOUT
-----------------------------------------
*/


select {
  appearance: none;
  width: 100%;
  max-width: 300px;
  background: var(--white);
  border: 1px solid var(--primary);
  padding: 13px 30px 14px 10px;
  @include rem-size(12px);
  color: var(--gray-90);
  border-radius: 4px; // For iOS
  font-family: var(--font);
  display: block;
  line-height: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L0.669872 0.5L9.33013 0.500001L5 5Z' fill='%23275D38'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  background-size: 10px 6px;

  option {
    @include rem-size(16px);
  }

  &:focus {
    outline: none;
    border-color: var(--blue-50);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  &.full {
    max-width: none;
  }

  &:disabled {
    border-color: var(--gray-50);
    color: #ccc;
  }
}




.select-container-advanced {
  position: relative;
  width: 100%;
  max-width: 300px;

  .select {
    background: var(--white);
    border: 1px solid var(--primary);
    padding: 13px 30px 13px 10px;
    @include rem-size(12px);
    color: var(--gray-90);
    border-radius: 4px; // For iOS
    font-family: var(--font);
    display: block;
    line-height: 1;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5L0.669872 0.5L9.33013 0.500001L5 5Z' fill='%23275D38'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
    background-size: 10px 6px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:focus {
    outline: none;
    border-color: var(--blue-50);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  &.full {
    max-width: none;
  }

  hr {
    &.dashed {
      margin: 0 0 8px;
    }
  }

  .advanced-select-contents {
    // display: none;
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    right: 0;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 0 0 var(--radius) var(--radius);
    max-height: 200px;
    overflow-y: auto;
    transform: translateY(-3px);
    z-index: 2;

    .checkbox, .radio {
      padding-bottom: 10px;

      &:last-child {
        padding-bottom: 0;
      }

      .label-container {
        padding-top: 4px;
        @include rem-size(9px);
      }
    }

    &:focus {
      outline: none;
      border-color: var(--blue-50);
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
  }
}





.input-group {
  .radio, .checkbox {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.columns-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .radio, .checkbox {
      margin-bottom: 0;
    }
  }

  &.columns-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .radio, .checkbox {
      margin-bottom: 0;
    }
  }
}



/*
-----------------------------------------
FORM ADDONS
-----------------------------------------
*/

.input-has-icon {
  position: relative;

  input {
    padding-right: 45px;
  }

  .input-icon {
    @include rem-size(24px);
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: var(--gray-60);

    &.search {
      color: var(--gray-40);
    }

    &.search-person {
      @include rem-size(18px);
      color: var(--primary);
      cursor: pointer;

      &.not-active {
        color: var(--gray-40);
        cursor: auto;
      }
    }
  }
}



.action {
  input, select {
    width: 160px;
  }
}


.search-results-container {
  position: relative;

  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50;
    background: var(--white);
    padding: 8px;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);

    .error-message {
      text-align: center;
    }
  }

  input {
    width: 300px;
  }
}



/*
-----------------------------------------
FORM ADDONS
-----------------------------------------
*/

.input-has-warning {
  position: relative;

  input {
    padding-right: 100px;
  }

  .link {
    position: absolute;
    right: 10px;
    top: 50%;
    @include rem-size(10px);
    text-decoration: underline;
    transform: translateY(-50%);
  }

  .warning-icon {
    background: var(--yellow);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include rem-size(14px);
    font-weight: bold;
    border-radius: var(--radius) 0 0 var(--radius);
  }
}



/*
-----------------------------------------
INPUT WITH BUTTON
-----------------------------------------
*/

.input-with-button {
  display: flex;
  align-items: flex-start;
  grid-gap: 20px;
  margin-bottom: 24px;

  .button-container {
    flex-shrink: 0;
    align-self: flex-end;

    &.align-top {
      align-self: flex-start;
    }
  }

  .input-container {
    flex: 1;

    .field {
      margin-bottom: 0;
    }
  }

  &.no-margin {
    margin-bottom: 0;
  }
}


/*
-----------------------------------------
DATE RANGE
-----------------------------------------
*/

.date-range {
  display: flex;

  .range-input {
    flex: 1;
  }

  .range-arrow {
    flex-shrink: 0;
    @include rem-size(30px);
    padding: 0 12px 23px;
    align-self: flex-end;
    color: var(--gray-80);
  }
}


/*
-----------------------------------------
INPUT SPECIAL TYPES
-----------------------------------------
*/

.checkbox {
  $checkbox-height: 16px;
  
  min-height: $checkbox-height;

  label {
    position: relative;
    padding: 0 0 0 30px;
    z-index: 2;
    min-height: $checkbox-height + 4px;

    &:before {
      content: '';
      width: $checkbox-height;
      height: $checkbox-height;
      cursor: pointer;
      position: absolute;
      background: #fff;
      left: 0;
      top: 2px;
      border: 2px solid var(--gray-60);
      border-radius: 2px;
    }

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 6px;
      left: 4px;
      border: 2px solid var(--primary-light);
      background: var(--primary);
      opacity: 0;
      @include transition(all, .1s);
    }

    .label-container {
      @include rem-size(14px);
      line-height: 1.3em;
      display: block;
      color: var(--text-color);
      transform: translateY(3px);
      font-weight: 400;
    }
  }

  input[type=checkbox] {
    height: 0;
    width: 0;
    position: absolute;
    left: -9999px;

    &:checked + label:after {
      opacity: 1;
    }

    &:indeterminate + label:after {
      opacity: 1;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 12px 12px;
      background: none;
      border-color: transparent transparent var(--primary) transparent;
      -webkit-transform:rotate(360deg); //better anti-aliasing in webkit browser
    }

    &:checked + label:before {
    }

    &:checked:disabled + label:after {
      background-color: var(--gray-60);
      border-color: var(--gray-50);
    }

    &:focus + label:before {
      border-color: var(--blue-50);
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }

    &:focus:checked + label:before {
      border-color: var(--blue-50);
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
  }

  .disabled {
    &:before {
      border: 2px solid var(--gray-50);
    }

    .label-container {
      color: var(--gray-50) !important;
    }
  }

  &.checkbox-reverse {
    label {
      padding: 0 30px 0 0;

      &::before {
        left: auto;
        right: 0;
      }

      &::after {
        left: auto;
        right: 4px;
      }

      .label-container { 
        text-align: right;
        @include rem-size(9px);
        padding-top: 3px;
      }
    }
  }
}

.faux-checkbox {
  $checkbox-height: 20px;
  min-height: $checkbox-height;
  position: relative;
  width: $checkbox-height;
  height: $checkbox-height;
  background: #fff;
  border: 2px solid var(--gray-60);
  border-radius: 2px;

  &:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 2px solid var(--primary-light);
    background: var(--primary);
    opacity: 0;
  }

  &.checked:after {
    opacity: 1;
  }

  &.indeterminate:after {
    opacity: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12px 12px;
    background: none;
    border-color: transparent transparent var(--primary) transparent;
    -webkit-transform:rotate(360deg); //better anti-aliasing in webkit browser
  }

  &.readonly {
    &::after {
      background: var(--gray-90);
      border-color: var(--gray-70)
    }
  }
}



.radio {
  $readio-height: 16px;
  
  min-height: $readio-height;

  label {
    position: relative;
    padding: 0 0 0 30px;
    z-index: 2;
    min-height: $readio-height + 4px;

    &:before {
      content: '';
      width: $readio-height;
      height: $readio-height;
      cursor: pointer;
      position: absolute;
      background: var(--white);
      left: 0;
      top: 2px;
      border: 2px solid var(--gray-60);
      border-radius: 2px;
      border-radius: 50%;
    }

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 6px;
      left: 4px;
      border: 2px solid var(--secondary-green);
      background: var(--primary);
      opacity: 0;
      border-radius: 50%;
      @include transition(all, .1s);
    }

    .label-container {
      @include rem-size(14px);
      line-height: 1.3em;
      display: block;
      color: var(--text-color);
      transform: translateY(3px);
      font-weight: 400;
      font-weight: 600;
    }
  }

  input[type=radio] {
    height: 0;
    width: 0;
    position: absolute;
    left: -9999px;

    &:checked + label:after {
      opacity: 1;
    }

    &:checked + label:before {
      // background-color: var(--info-50);
    }

    &:checked:disabled + label:after {
      background-color: var(--gray-60);
      border-color: var(--gray-50);
    }

     &:focus + label:before {
      border-color: var(--blue-50);
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }

    &:focus:checked + label:before {
      border-color: var(--blue-50);
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
  }
}



/* Toggle */

.toggle {
  $toggle-height: 26px !default;
  $toggle-width: 50px !default;

  label {
    width: auto;
    display: flex;
    align-items: center;
  }
  
  input {
    position: absolute;
    margin-left: -9999px;

    & + label  .toggle-display {
      padding: 2px;
      width: $toggle-width;
      height: $toggle-height + 4;
      border-radius: $toggle-height;
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      margin: 0 10px;
      flex-shrink: 0;

      &:before, &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        content: "";
      }

      &:before {
        right: 1px;
        background: var(--gray-50);
        height: $toggle-height;
        border: 2px solid var(--gray-60);
        border-radius: $toggle-height;
        transition: background 0.4s;
      }

      &:after {
        width: $toggle-height;
        height: $toggle-height;
        background: var(--white);
        top: 2px;
        left: 2px;
        border-radius: 100%;
        transition: margin 0.4s;
      }
    }

    &:checked + label .toggle-display:before {
      background: var(--primary);
      border-color: var(--secondary-green);
    }

    &:checked + label .toggle-display:after {
      margin-left: 19px;
    }

    &:focus + label .toggle-display {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border-color: var(--blue-50);    
    }

    &:disabled + label .toggle-display:before {
      
    }

    &:disabled:checked + label .toggle-display:before {
    }

    &:disabled + label .toggle-display:after {
    }
  }

  .toggle-text {
    @include rem-size(14px);
    color: var(--text-color-light);
    font-weight: 600;
    line-height: 1;
    flex-shrink: 0;
  }


  &.toggle-mini {
    $toggle-height: 16px;
    $toggle-width: 37px;

    input {
      & + label  .toggle-display {
        width: $toggle-width;
        height: $toggle-height + 4;
        border-radius: $toggle-height;

        &:before {
          height: $toggle-height;
          border-radius: $toggle-height;
        }

        &:after {
          width: $toggle-height;
          height: $toggle-height;
        }
      }

      &:checked + label .toggle-display:after {
        margin-left: 16px;
      }
    }

    .toggle-text {
      @include rem-size(9px);
    }
  }
}





/* Toggle */

.boolean{
  $boolean-height: 34px !default;
  $boolean-width: 50px !default;

  label {
    width: auto;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
  }

  .boolean-display {
    height: $boolean-height;
    border: 1px solid rgba(69, 118, 84, 0.2);
    border-radius: 4px;
    display: inline-flex;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    flex-shrink: 0;
    cursor: pointer;

    &:focus-within {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }

    .boolean-ui {
      height: 100%;
      width: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:last-child label{
        border-right: none;
        border-left: 1px solid var(--gray-40)
      }
    }

    label {
      color: var(--primary);
      @include rem-size(12px);
      cursor: pointer;
      padding: 0 12px;
      border-right: 1px solid var(--gray-40);
    }
  }
  
  input {
    position: absolute;
    margin-left: -9999px;

    &:checked + label {
      color: var(--white);
      background: var(--primary); 
      border: none !important;
      border-radius: 4px;
      font-weight: bold;
      transform: scale(1.1);
    }
  }

  &.has-check {
    .boolean-display {
      .boolean-ui label{
        border-color: transparent;
      }
    }
  }
}


/* Likert Option */

.likert-option {
  $likert-width: 100px !default;

  label {
    width: $likert-width;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid var(--primary-xlight);
    background: var(--white);
    color: var(--primary);
    @include rem-size(10px);
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    position: relative;
    z-index: 2;
  }
  
  input {
    position: absolute;
    margin-left: -9999px;

    &:checked + label {
      color: var(--white);
      background: var(--primary);
      border-color: var(--primary);
      font-weight: bold;
    }

    &:focus + label {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
  }

  .answer-label {
    width: 100%;
    max-width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &.faux {

    .fake-label {
      width: $likert-width;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      border: 1px solid var(--gray-50);
      background: var(--white);
      color: var(--gray-90);
      @include rem-size(10px);
      border-radius: 4px;
      padding: 8px;
      position: relative;
      z-index: 2;
      line-height: 1.4;
    }
  }
}


.divided-columns {
  > [class^="col-"] {
    border-right: 1px dashed var(--gray-40);

    &:last-child {
      border-right: none;
    }

    [class^="col-"] {
      border: none;
    }
  }
}

.dragon-drop-builder-header-container {
  display: flex;
  grid-gap: 8px;

  .responses {
    flex: 1;
  }

  .values {
    width: 56px;
  }
}


.dragon-drop-target {
  .order-number {
    font-family: var(--font-alt);
    color: var(--text-color);
    @include rem-size(24px);
    width: 26px;
    flex-shrink: 0;
    text-align: right;
    padding-top: 2px;
  }

  .target-region {
    flex: 1;
  }

  .empty-target {
    background: var(--gray-20);
    border: 1px dashed var(--gray-60);
    border-radius: 4px;
    padding: 8px;
    color: var(--gray-50);
    @include rem-size(10px);
    text-align: center;
    font-family: var(--font-alt);
  }
}

.dragon-drop-responses {
  .order-number {
    font-family: var(--font-alt);
    color: var(--text-color);
    @include rem-size(24px);
    width: 26px;
    flex-shrink: 0;
    text-align: right;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .response {
    flex: 1;
    border: 1px solid var(--gray-90);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-gap: 16px;

    &.edit {
      border: none;
      padding: 0;
      grid-gap: 16px;
    }
  }

  .response-text {
    @include rem-size(12px);
    flex: 1;
    color: var(--text-color);
    line-height: 1.3;
  }

  .action {
    label {
      margin-bottom: 0;
    }
  }
}

.target-source {
}

.dragon-drop-item-container {
  margin-bottom: 25px;
  grid-gap: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .item {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--gray-40);

    &.item-empty {
      display: flex;
      grid-gap: 8px;
      border: none;
    }

    // &:focus {
    //   outline: none;
    //   border-color: var(--blue-50);
    //   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    // }
  }

  .item-main {
    background: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 0 8px;

    .title {
      flex: 1;
      @include rem-size(12px);
      font-weight: 700;
    }
  }

  .item-extra {
    padding: 20px;

    p {
      @include rem-size(12px);
    }
  }

  .values {
    width: 56px;
    flex-shrink: 0;

  }
}



// Answer UI

.is-answer {
  
}

.answer-label {
  height: 40px;
  background: var(--gray-80);
  color: var(--white);
  padding: 6px 10px 3px;
  font-weight: bold;
  @include rem-size(12px);
  display: inline-flex;
  align-items: center;
  justify-items: center;
  transform: translateY(3px);
  z-index: 0;

  &.design-tab {
    border-radius: var(--radius) var(--radius) 0 0;
    
    + .faux-textarea {
      position: relative;
      z-index: 2;
    }

    &.light {
      background: var(--gray-70);
    }
  }

  &.small {
    @include rem-size(9px);
    padding: 2px 4px 6px;
    height: auto;
    transform: translateY(0);
    margin-bottom: -6px;
  }
}

.answer-pill {
  border-radius: var(--radius);
  border: 1px solid var(--gray-80);
  display: inline-flex;

  .title {
    background: var(--gray-80);
    color: var(--white);
    @include rem-size(12px);
    padding: 10px 12px;
    display: flex;
    align-items: center;
    font-weight: bold;

    i {
      @include rem-size(16px);
      margin-right: 4px;
    }
  }

  .answer-container {
    @include rem-size(12px);
    padding: 10px 12px;
  }

  &.light {
    .title {
      background: var(--gray-70);
    }
  }
}

.has-answer {
  display: flex;
  grid-gap: 20px;
  margin-bottom: 24px;

  .question {
    flex-shrink: 0;
    padding: 0;


    .field {
      margin-bottom: 0;
    }
  }

  .answer {
    flex: 1;
    border-left: 1px dashed var(--gray-40);
    padding-left: 20px;

    &.label-offset {
      margin-top: 18px;
    }
  }
}

.checkbox-has-answers {
  .checkbox {
    padding-left: 30px;
    position: relative;
  }

  .user-answered {
    background: var(--gray-80);
    position: absolute;
    top: -2px;
    left: 0;
    border-radius: var(--radius);
    padding: 6px 8px;
    width: 53px;

    i {
      @include rem-size(14px);
      color: var(--white);
    }
  }
}

.dragon-drop-item-container {
  .is-answered {
    position: relative;
    margin-left: 54px;
    overflow: visible;
  }

  .user-answered {
    background: var(--gray-80);
    position: absolute;
    top: 0px;
    left: -54px;
    border-radius: var(--radius) 0 0 var(--radius);
    padding: 0 8px;
    width: 54px;
    height: 26px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      @include rem-size(14px);
      color: var(--white);
      margin-right: 4px;
    }

    .index {
      color: var(--white);
      @include rem-size(22px);
      font-weight: 600;
    }
  }
}




.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow: hidden;
  z-index: 6;
  pointer-events: none;
}

.question {
  padding: 12px 0;
}

.question-selectable {
  position: relative;
  z-index: 15;
  background: var(--white);
  box-shadow:  0px 0px 0px 6px var(--yellow);
  margin: 0 -18px;
  padding: 24px;
  cursor: pointer;
  border-radius: var(--radius);

  > * {
    pointer-events: none;
  }
}


.process-preview {
  display: flex;
  grid-gap: 24px;
  margin-bottom: 24px;

  .process-select {
    width: 230px;
    flex-shrink: 0;
  }

  .well {
    flex: 1;
  }
}

.read-only-answer {
  margin-left: 8px;
  margin-right: 8px;
}

.dropdown-read-only {
  display: flex;
  grid-gap: 4%;
  flex-wrap: wrap;

  li {
    display: flex;
    @include rem-size(12px);
    width: 48%;

    &.is-selected {
      border-radius: var(--radius);
      border: 1px solid var(--gray-90);
      border: 1px solid var(--gray-90);
    }
  }

  .text {
    flex: 1;
    padding: 8px;
    font-weight: bold;
    align-self: center;
  }

  .selected {
    color: var(--white);
    background: var(--gray-90);
    padding: 0px 8px;
    @include rem-size(10px);
    max-width: 92px;
    border-radius: 0 4px 4px 0;
    position: relative;
    left: 2px;

    &:last-child {
      left: 0;
      border-radius: 0;
    }

    &.light {
      background: var(--gray-70);
    }
  }
}