/*
-----------------------------------------
Background Highlights
-----------------------------------------
*/


::-moz-selection{
  background: var(--select-background);
  color: var(--select-text);
}
::selection {
  background: var(--select-background);
  color: var(--select-text);
}



/*
-----------------------------------------
HEAD TAGS
-----------------------------------------
*/


* {
  @include box-sizing();
}

html, body {
  height: 100vh;
}

html {
  /* Prevents webpage zooming for mobile devices change orientation */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: var(--font);
}

body {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


@media print {
  .site-masthead {
    display: none;
  }

  html {
    height: auto !important;
  }

  body, .page-content, main {
    overflow: auto !important;
    height: auto !important;
  }

  .question {
    page-break-inside: avoid
  }

  .likert {
    .question {
      min-width: 150px;
      
      .extra {
        display: block !important;
      }
    }

    .answers {
      flex-wrap: wrap;
    }

    .control {
      display: none;
    }
  }

  .dragon-drop-item-container {
    .item-extra {
      display: block !important;
    }
  }
}



/*
-----------------------------------------
GENERICS
-----------------------------------------
*/

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}




[draggable] {
  cursor: move;
}

/*
-----------------------------------------
MOBILE ADJUSTMENTS
-----------------------------------------
*/


a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}



// Utility margin controls

$baseSize: 0;

@while $baseSize <= 64 {
  .m-#{$baseSize} {
    margin: #{$baseSize}px !important;
  }

  .mt-#{$baseSize} {
    margin-top: #{$baseSize}px !important;
  }

  .mr-#{$baseSize} {
    margin-right: #{$baseSize}px !important;
  }

  .mb-#{$baseSize} {
    margin-bottom: #{$baseSize}px !important;
  }

  .ml-#{$baseSize} {
    margin-left: #{$baseSize}px !important;
  }

  .p-#{$baseSize} {
    padding: #{$baseSize}px !important;
  }

  .pt-#{$baseSize} {
    padding-top: #{$baseSize}px !important;
  }

  .pr-#{$baseSize} {
    padding-right: #{$baseSize}px !important;
  }

  .pb-#{$baseSize} {
    padding-bottom: #{$baseSize}px !important;
  }

  .pl-#{$baseSize} {
    padding-left: #{$baseSize}px !important;
  }

  // Increment the counter
  $baseSize: $baseSize + 4;
}


/*
-----------------------------------------
FORM ADJUSTMENTS
-----------------------------------------
*/

::-webkit-input-placeholder { 
  color: var(--placeholder);
}
::-moz-placeholder { 
  color: var(--placeholder);
}
:-ms-input-placeholder { 
  color: var(--placeholder);
}
input:-moz-placeholder { 
  color: var(--placeholder);
}


input[type="text"],
input[type="email"],
input[type="tel"],,
input[type="file"],
textarea {
  -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration  {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}



@media print {
  .hide-for-print {
    display: none !important;
  }
  .component {
    page-break-inside: avoid;
  }
}
.faux-textarea {
  height: auto !important;
}