/*
-----------------------------------------
LAYOUT
-----------------------------------------
*/

.page-content {
  flex: 1;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  display: block;
  width: 200px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  position: relaive;
  z-index: 2;
  position: relative;
  z-index: 5;
}

main {
  padding: 22px 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background: url('/assets/images/backgrounds/bg-pattern.svg') no-repeat top center;
  background-size: cover;
  overflow-y: auto;
}

.main-content {
  margin-bottom: 48px;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.content {
  margin: 0 auto;
  position: relative;
}

.flex-container {
  display: flex;
  grid-gap: 20px;

  &.center {
    align-items: center;
  }

  &.start {
    align-items: flex-start;
  }

  h5 {
    align-self: center;
    margin-bottom: 0;
  }
}

.shrink-1 {
  flex-shrink: 1 !important;
}

.no-shrink {
  flex-shrink: 0 !important;
}

.flex-wrap {
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.full-width {
  margin: 0 -24px -24px;
}

.item-history{
  margin: 0 -16px;
  padding: 16px;
  background: var(--gray-10);
}

.checkbox-flex {
  display: flex;

  .information-block {
    flex: 1;
  }

  .checkbox {
    flex-shrink: 0;
  }
}

/* Masonry */
.masonry {
  .field {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.masonry-item {
  background: var(--gray-10);
  padding: 20px;
  margin-bottom: 30px;
  width: calc(33.333333% - (30px * 2 / 3));

  .inner-header {
    display: flex;
    border-bottom: 1px dashed var(--gray-40);
    margin-bottom: 20px;
  }

  .trash {
    color: var(--red);
    cursor: pointer;
    @include rem-size(20px);
  }

  .edit {
    color: var(--blue-75);
    cursor: pointer;
    @include rem-size(20px);
  }
}


/* Spinner */
.spinner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
  text-align: center;

  i {
    color: var(--white);
    @include rem-size(40px);
    display: inline-block;
    margin: 0 auto 20px;
    animation: spin 1.5s linear infinite;
  }

  p {
    color: var(--white);
    font-weight: bold;
    @include rem-size(30px);
    font-weight: var(--font-alt);
  }
}



/* Well */

.well {
  padding: 24px;
  border-radius: var(--radius);

  &.well-small {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &.gray {
    background: var(--gray-10);
  }

  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



/*  Grid Margin */

.no-margin {
  [class^="col-"], .field {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


/* Dual */

.dual-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  .radio, .checkbox {
    margin-bottom: 0;
  }
}



/* Double Page Layout */

.double-page-layout {
  overflow-x: hidden;

  --buffer: 33px;

  .inner-page-layout {
    display: flex;
    width: calc(200% - (var(--buffer)*2));
    @include transition();
    position: relative;

    &.active {
      transform: translateX(calc(-50% + (var(--buffer))));

      .page {
        &:first-child {
          z-index: 2;
          box-shadow: none;

          .overlay {
            opacity: 1;
            pointer-events: auto;
          }
        }

        &:nth-child(2) {
          z-index: 3;
          box-shadow: -1px 0 8px rgba(0,0,0,.3);

          .overlay {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }
  }

  .page {
    width: calc(100% - var(--buffer));
    position: relative;
    z-index: 2;


    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--gray-10);
      z-index: 5;
      @include transition();
      cursor: pointer;

      i {
        position: absolute;
        left: 8px;
        top: 26px;
        @include rem-size(16px);
        color: var(--blue-75)
      }
    }

    &:first-child {
      z-index: 3;
      box-shadow: 1px 0 8px rgba(0,0,0,.3);

      .overlay {
        opacity: 0;
        pointer-events: none;

        i {
          left: auto;
          right: 8px;
        }
      }
    }

    &:nth-child(2) {
      box-shadow: none;
      // box-shadow: -1px 0 8px rgba(0,0,0,.3);
    }
  }
}

.action-arrow {
  background: var(--white);
  border: 1px solid var(--gray-50);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-13px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}