/**************************\
  Basic Modal Styles
\**************************/


.modal {
  display: none;
}

.modal.is-open {
  display: block;
}


/* Modal Styles */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow: hidden;
  z-index: 900;
}

.modal-container {
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  max-height: 100%;
  border-radius: 8px;
  overflow-y: auto;
  box-sizing: border-box;

  &.medium {
    max-width: 600px;
  }

  &.large {
    max-width: 820px;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px;

  &::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #BDBDBD 6.87%, #828282 100%);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.25);
  }
}

.close-modal-header {
  padding: 8px;
  cursor: pointer;
  margin: 0 0 0 auto;
  width: auto;
  position: relative;
  right: -13px;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--gray);
    display: block;
  }
}

.close-modal * {
  pointer-events: none;
}

.modal-content {
  padding: 16px;
}