/*
-----------------------------------------
NAVIGATION
-----------------------------------------
*/


.site-nav {
  align-self: flex-end;

  > ul {
    display: flex;
    align-items: center;

    li {
      margin-right: 24px;
      font-weight: 600;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        a {
          color: var(--gray-80);
        }
      }

      a {
        color: var(--gray-45);
        display: block;
        padding: 13px 0;
        border-bottom: 3px solid transparent;
      }

      &.active {
        > a {
          color: var(--gray-80);
          border-bottom: 3px solid var(--primary) !important;
        }
      }

      &:hover {
        > a {
          border-color:  var(--gray-50);
        }

        ul {
          display: block;
        }
      }
    }

    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: -10px;
      width: 200px;
      background: var(--white);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0 0 var(--radius) var(--radius);
      z-index: 2;

      li {
        margin: 0;

        &.active {
          a {
            color: var(--text-color);
            border: none !important;
            background: var(--primary-xlight);
          }
        }
      }

      a {
        padding: 8px 10px;
        border: none;
        @include rem-size(10px);
        color: var(--primary);

        &:hover {
          color: var(--text-color);
          background: var(--primary-xlight);
        }
      }
    }
  }
}



.form-nav {
  margin: 0 -20px;

  li {
    padding: 12px 20px;
    color: var(--primary);
    display: flex;
    grid-gap: 8px;
    align-items: center;
    @include rem-size(12px);
    line-height: 1.3em;

    &.completed {
      .icon {
        color: var(--primary);
      }
    }

    &.in-progress {
      .icon {
        color: var(--text-color);
      }
    }

    &.active {
      background: var(--primary-xlight);
      color: var(--text-color);
    }
  }

  .text {
    flex: 1;
  }

  .icon {
    margin-left: auto;
    flex-shrink: 0;
    color: var(--text-color-light);
  }
}


.footer-nav {
  margin-left: auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 30px;
  }

  li {
    @include rem-size(12px);
    font-weight: bold;
  }
}