/*
-----------------------------------------
TABLES
-----------------------------------------
*/


table {
  width: 100%;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom: 5px solid var(--white);

  &.full-width {
    margin-left: -24px;
    width: calc(100% + 48px);
    border-radius: 0;
  }

  &.full-width-small {
    width: calc(100% + 32px);
    margin-left: -16px;
    border-radius: 0;
    box-shadow: none;
  }

  &.full-width-large {
    width: calc(100% + 64px);
    margin-left: -32px;
    border-radius: 0;
    box-shadow: none;
  }
}

thead {
  background: var(--gray-10);
}

tfoot {

}

tbody {
  border-bottom: 1px solid var(--gray-40);

  &:nth-child(odd) {
    background: var(--gray-10);
  }

  &.zebra {
    tr {
      background: var(--white);

      &:nth-child(odd) {
        background: var(--gray-10);
      }
    }
  }

  &.clean {
    tr {
      background: var(--white);

      &:nth-child(odd) {
        background: var(--white);
      }
    }
  }
}

th, td {
  color: var(--text-color);
  padding: 8px 16px;
}

th {
  @include rem-size(9px);
  text-align: left;
  vertical-align: bottom;
}

td {
  position: relative;
  @include rem-size(12px);
  vertical-align: middle;
  font-weight: 600;

  &.small {
    @include rem-size(10px);
  }
}

.cell5  {width:5%;}
.cell10 {width:10%;}
.cell15 {width:15%;}
.cell20 {width:20%;}
.cell25 {width:25%;}
.cell30 {width:30%;}
.cell35 {width:35%;}
.cell40 {width:40%;}
.cell45 {width:45%;}
.cell50 {width:50%;}
.cell55 {width:55%;}
.cell60 {width:60%;}
.cell65 {width:65%;}
.cell70 {width:70%;}
.cell75 {width:75%;}
.cell80 {width:80%;}
.cell85 {width:85%;}
.cell90 {width:90%;}
.cell95 {width:95%;}
.cell100 {width:100%;}

.shrink {
  max-width:100%;
  white-space:nowrap;
}

.expandable-row {
  padding: 16px;

  .inner {
    padding: 16px 0;
    // border-radius: 5px;
    // background: var(--white);
  }
}

td {
  > .control {
    width: 26px;
    padding-left: 0;
    margin: 0;
  }

  &.has-icon {
    position: relative;
    padding-left: 36px;

    .warning-icon {
      background: var(--yellow);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include rem-size(14px);
      font-weight: bold;
    }

    .delete-icon {
      background: var(--red);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include rem-size(14px);
      font-weight: bold;
      color: var(--white);
    }

    .add-icon {
      background: var(--primary);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include rem-size(14px);
      font-weight: bold;
      color: var(--white);
    }

    .edit-icon {
      background: var(--blue-75);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include rem-size(14px);
      font-weight: bold;
      color: var(--white);
    }
  }
}


.striped {
  thead {
    border-bottom: 1px solid var(--gray-40);
  }

  tbody {
    &:nth-child(even) {
      tr {
        &:nth-child(even) {
          background: var(--white);
        }
      }
    }

    tr {
      &:nth-child(even) {
        background: var(--gray-10);
      }
    }

    td {
      border-right: 1px dashed var(--gray-40);

      &:last-child {
        border-right: none;
      }
    }
  }
}


.clear {
  color: var(--red);
  @include rem-size(22px);
  cursor: pointer;
}