/*
-----------------------------------------
TABS
-----------------------------------------
*/

.tabs {
  background: var(--gray-10);
  border-bottom: 1px solid var(--gray-50);

  ul {
    display: flex;
    align-items: flex-end;
    padding: 14px 35px 0;
  }

  li {
    border-radius: var(--radius) var(--radius) 0 0;
    cursor: pointer;
    padding: 8px 24px;
    border: 1px solid transparent;
    border-bottom: none;
    @include rem-size(14px);
    color: var(--primary);
    font-weight: 600;
    transform: translateY(1px);

    &.active {
      background: var(--white);
      border: 1px solid var(--gray-50);
      border-bottom: none;
      cursor: default;
      color: var(--gray-90);
    }
  }
}

.tab-content {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,.15) 100%), #9EAA9A;

  > div {
    padding: 24px 24px 0;
  }
}