/*
-----------------------------------------
TYPOGRAPHY
-----------------------------------------
*/


/*  Basics */

a {
  color: var(--link-color);
  @include transition();
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
  }
}

p {
  @include rem-size(14px);
  line-height: 1.4em;
  color: var(--text-color);
  margin-bottom: 1.2em;
  letter-spacing: .25px;

  &:last-child {
    margin-bottom: 0;
  }

  &.callout, .callout & {
    @include rem-size(16px);
    letter-spacing: .5px;
  }

  &.small-medium, .small-medium & {
    @include rem-size(12px);
  }

  &.small-plus, .small-plus & {
    @include rem-size(12px);
  }

  &.small {
    @include rem-size(10px);
  }

  &.xsmall {
    @include rem-size(9px);
  }

  &.light {
    color: var(--text-color-light);
  }
}

.color-primary {
  color: var(--primary);
}

.subtitle-1 {
  @include rem-size(16px);
  letter-spacing: .5px;
}

.subtitle-2 {
  @include rem-size(14px);
  letter-spacing: .1px;
  font-weight: 700;
}

.subtitle-3 {
  @include rem-size(10px);
  color: var(--text-color-light);
  font-weight: 600;

  i {
    @include rem-size(12px);
    margin-right: 4px;
  }
}

.subtitle-4 {
  @include rem-size(10px);
  color: var(--text-color);
  font-weight: 600;
}

.subtitle-5 {
  font-family: var(--font-alt);
  @include rem-size(14px);
  font-weight: 700;
}

.subtitle-6 {
  font-family: var(--font-alt);
  @include rem-size(14px);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--gray-40);

  &.dashed {
    border-style: dashed;
  }
}

.subtitle-7 {
  @include rem-size(20px);

  span {
    @include rem-size(14px);
  }
}

.subtitle-8 {
  @include rem-size(14px);
  font-style: italic;
}

.subtitle-9 {
  @include rem-size(10px);
  color: var(--text-color);
}

.widget-title {
  font-family: var(--font);
  @include rem-size(22px);
  font-weight: 600;
}

.process-title {
  @include rem-size(14px);
  font-weight: 600;
  margin-bottom: 8px;
}

.dark {
  p, li,
  h1, h2, h3, h4, h5, h6,
  label {
    color: var(--white);
  }
}

hr {

  &.dashed {
    border: none;
    border-top: 1px dashed var(--gray-50);
    margin: 16px 0;
  }

  &.large {
    margin: 32px 0;
  }

  &.wide {
    margin: 24px -24px;
  }
}

.divider {
  min-height: 30px;
  border-left: 1px dashed var(--gray-50);

  &.auto {
    min-height: 0;
  }
}

.caption {
  @include rem-size(12px);
  letter-spacing: .4px;
}


ul, ol {
  padding-left: 20px;

  li {
    line-height: 1.3em;
  }
}


/* Headers */

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  line-height: 1.4em;
}

h4, .header-4 {
  font-weight: 600;
  @include rem-size(24px);
}

h5, .header-5 {
  font-weight: 600;
  @include rem-size(16px);
  margin-bottom: 20px;
}

h6, .header-6 {
  font-weight: 600;
  @include rem-size(22px);
  letter-spacing: .15px;
  font-family: var(--font-alt);
}



.header-container {
  display: flex;

  .aside-message {
    margin-left: auto;

    p {
      @include rem-size(14px);
      font-style: italic;
      color: var(--gray-90);
      margin-top: 2px;
    }
  }
}



/* Chips */

.chips {
  margin-bottom: 4px;
}

.chip {
  @include rem-size(9px);
  padding: 6px 8px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;

  &.black {
    background: var(--gray-90);
    color: var(--white);
  }

  &.gray {
    background: var(--gray-60);
    color: var(--white);
  }
}



/* Link List */

.link-list {
  margin-bottom: 20px;
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 12px;
    @include rem-size(14px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  a, quill-link {
    position: relative;
    padding-left: 24px;

    &:before {
      font-family: 'icomoon' !important;
      position: absolute;
      left: 0;
      top: 0;
      content: "\ec01";
      @include rem-size(15px);
      color: var(--gray-60)
    }
  }
}