extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin';
  - var pageSubID = 'review-management'; 
  
block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 View/Edit Snapshot Record 

            p
              a(href="#0" data-micromodal-trigger="modal-edit-comment") Edit Comment Modal
          
          .action.button-group.group-right
            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.red Remove Record
            .divider
            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.link Cancel &amp; Return
            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.green Save &amp; Return
        .component-content
          .component.inner-component.reverse-margin
            .component-content(x-data="{ tab: 'snapshot-records' }")
              h5 Employee Information

              .form-container
                .form-header
                  p.subtitle-7 Jetblack Turleneck
                    | 
                    span (UVID: ########)
                .form-info
                  hr.dashed
                  p.subtitle-8 Employment Details
                  .gridlex
                    .col-4
                      +input('UVID')
                    .col-4
                      +input('Preferred First Name')
                    .col-4
                      +input('Last Name')
                    .col-4
                      +input('Employee Class Code')
                    .col-4
                      +input('Home Org Code')
                    .col-4
                      +input('Time Sheet Org Code')
                    .col-4
                      +input('Employee Email')

                  hr.dashed

                  p.subtitle-8 Primary Position Details
                  .gridlex
                    .col-4
                      +input('Primary Position Number')
                    .col-4
                      +input('Primary Position Suffix')
                    .col-4
                      +input('Primary Position Title UVU')
                    .col-4
                      +input('Position Class Code')

          .component.inner-component.reverse-margin
            .component-content(x-data="{ tab: 'snapshot-records' }")
              .flex-container.mb-24
              .flex-container.mb-24
                h5 Information On Person(s) Being Evaluated
                .action
                  a(href="#0"  data-micromodal-trigger="modal-add-employee-record").button.small.ghost.green 
                    i.icon-add.left-icon
                    | Add Employee Record

              .form-container.gray(x-data="{showExtra: true}")
                .form-header
                  .chips
                    .chip.black Required
                  p.subtitle-7 Jetblack Turleneck
                    | 
                    span (UVID: ########)
                  .action
                    a(href="#0").button.red.link.small 
                      i.icon-trash.left-icon
                      | Remove from Record
                    .search-results-container
                      +input(false, 'search', false, false, 'icon-search')
                      +searchResults()
                    .control
                      .icon-container(@click='showExtra= true' x-show='showExtra === false')
                        i.icon-add
                      .icon-container(@click='showExtra= false' x-show='showExtra === true')
                        i.icon-remove

                .form-info(x-show="showExtra")
                  hr.dashed

                  p.subtitle-8 Employment Details
                  .gridlex
                    .col-4
                      +input('Eval UVID')
                    .col-4
                      +input('Eval Preferred First Name')
                    .col-4
                      +input('Eval Last Name')
                    .col-4
                      +input('Eval Employee Class Code')
                    .col-4
                      +input('Eval Home Org Code')
                    .col-4
                      +input('Eval Time Sheet Org Code')
                    .col-4
                      +input('Eval Current Hire Date', 'text', false, false, 'date_range')
                    .col-4
                      +input('Eval Adjusted Service Date', 'text', false, false, 'date_range')
                    .col-4
                      +input('Eval Probation Months')
                    .col-4
                      +input('Eval Employee Email')

                  hr.dashed

                  p.subtitle-8 Position Details
                  .gridlex
                    .col-4
                      +input('Primary Position Number')
                    .col-4
                      +input('Primary Position Suffix')
                    .col-4
                      +input('Primary Position Title UVU')
                    .col-4
                      +input('Position Class Code')

                  hr.dashed

                  p.subtitle-8 Position Details
                  .gridlex
                    .col-4
                      +select('Eval Eligibility', 'full')
                        option() --
                        option() --
                        option() --
                        option() --

              .form-container.gray(x-data="{showExtra: false}")
                .form-header
                  .chips
                    .chip.black Required
                  p.subtitle-7 Jetblack Turleneck
                    | 
                    span (UVID: ########)
                  .action
                    a(href="#0").button.red.link.small 
                      i.icon-trash.left-icon
                      | Remove from Record
                    +input(false, 'search', false, false, 'icon-search')
                    .control
                      .icon-container(@click='showExtra= true' x-show='showExtra === false')
                        i.icon-add
                      .icon-container(@click='showExtra= false' x-show='showExtra === true')
                        i.icon-remove

                .form-info(x-show="showExtra")
                  hr.dashed

                  p.subtitle-8 Employment Details
                  .gridlex
                    .col-4
                      +input('Eval UVID')
                    .col-4
                      +input('Eval Preferred First Name')
                    .col-4
                      +input('Eval Last Name')
                    .col-4
                      +input('Eval Employee Class Code')
                    .col-4
                      +input('Eval Home Org Code')
                    .col-4
                      +input('Eval Time Sheet Org Code')
                    .col-4
                      +input('Eval Current Hire Date', 'text', false, false, 'date_range')
                    .col-4
                      +input('Eval Adjusted Service Date', 'text', false, false, 'date_range')
                    .col-4
                      +input('Eval Probation Months')
                    .col-4
                      +input('Eval Employee Email')

                  hr.dashed

                  p.subtitle-8 Position Details
                  .gridlex
                    .col-4
                      +input('Primary Position Number')
                    .col-4
                      +input('Primary Position Suffix')
                    .col-4
                      +input('Primary Position Title UVU')
                    .col-4
                      +input('Position Class Code')

                  hr.dashed

                  p.subtitle-8 Position Details
                  .gridlex
                    .col-4
                      +select('Eval Eligibility', 'full')
                        option() --
                        option() --
                        option() --
                        option() --



          .component.inner-component.reverse-margin
            .component-content(x-data="{ tab: 'snapshot-records' }")
              .flex-container.mb-24
              .flex-container.mb-24
                h5 Information About Supervisor (In Relation To Employee)
                .action
                  a(href="#0" data-micromodal-trigger="modal-add-employee-record").button.small.ghost.green 
                    i.icon-add.left-icon
                    | Add Employee Record

              .form-container.gray(x-data="{showExtra: true}")
                .form-header
                  span.level-icon.first 1
                    span st
                  p.subtitle-7 Jetblack Turleneck
                    | 
                    span (UVID: ########)
                  .action
                    a(href="#0").button.red.link.small 
                      i.icon-trash.left-icon
                      | Remove from Record
                    +input(false, 'search', false, false, 'icon-search')
                    .control
                      .icon-container(@click='showExtra= true' x-show='showExtra === false')
                        i.icon-add
                      .icon-container(@click='showExtra= false' x-show='showExtra === true')
                        i.icon-remove

                .form-info(x-show="showExtra")
                  hr.dashed

                  p.subtitle-8 Employment Details
                  .gridlex
                    .col-4
                      +input('Supervisor UVID')
                    .col-4
                      +input('Supervisor Preferred First Name')
                    .col-4
                      +input('Supervisor Last Name')
                    .col-4
                      +input('Supervisor Employee Class Code')
                    .col-4
                      +input('Supervisor Home Org Code')
                    .col-4
                      +input('Supervisor Time Sheet Org Code')
                    .col-4
                      +input('Supervisor Employee Email')

                  hr.dashed

                  p.subtitle-8 Supervising Position Details
                  .gridlex
                    .col-4
                      +input('Supervisor Position Number')
                    .col-4
                      +input('Supervisor Position Suffix')
                    .col-4
                      +input('Supervisor Position Title UVU')
                    .col-4
                      +input('Supervisor Position Class Code')
                    .col-4
                      +input('Supervisor Supv Type Code')
                    .col-4
                      +input('Supervisory Level')


              .form-container.gray(x-data="{showExtra: false}")
                .form-header
                  span.level-icon.second 2
                    span nd
                  p.subtitle-7 Jetblack Turleneck
                    | 
                    span (UVID: ########)
                  .action
                    a(href="#0").button.red.link.small 
                      i.icon-trash.left-icon
                      | Remove from Record
                    +input(false, 'search', false, false, 'icon-search')
                    .control
                      .icon-container(@click='showExtra= true' x-show='showExtra === false')
                        i.icon-add
                      .icon-container(@click='showExtra= false' x-show='showExtra === true')
                        i.icon-remove

                .form-info(x-show="showExtra")
                  hr.dashed

                  p.subtitle-8 Employment Details
                  .gridlex
                    .col-4
                      +input('Supervisor UVID')
                    .col-4
                      +input('Supervisor Preferred First Name')
                    .col-4
                      +input('Supervisor Last Name')
                    .col-4
                      +input('Supervisor Employee Class Code')
                    .col-4
                      +input('Supervisor Home Org Code')
                    .col-4
                      +input('Supervisor Time Sheet Org Code')
                    .col-4
                      +input('Supervisor Employee Email')

                  hr.dashed

                  p.subtitle-8 Supervising Position Details
                  .gridlex
                    .col-4
                      +input('Supervisor Position Number')
                    .col-4
                      +input('Supervisor Position Suffix')
                    .col-4
                      +input('Supervisor Position Title UVU')
                    .col-4
                      +input('Supervisor Position Class Code')
                    .col-4
                      +input('Supervisor Supv Type Code')
                    .col-4
                      +input('Supervisory Level')

              .form-container.gray(x-data="{showExtra: false}")
                .form-header
                  span.level-icon.second 2
                    span nd
                  p.subtitle-7 Jetblack Turleneck
                    | 
                    span (UVID: ########)
                  .action
                    a(href="#0").button.red.link.small 
                      i.icon-trash.left-icon
                      | Remove from Record
                    +input(false, 'search', false, false, 'icon-search')
                    .control
                      .icon-container(@click='showExtra= true' x-show='showExtra === false')
                        i.icon-add
                      .icon-container(@click='showExtra= false' x-show='showExtra === true')
                        i.icon-remove

                .form-info(x-show="showExtra")
                  hr.dashed

                  p.subtitle-8 Employment Details
                  .gridlex
                    .col-4
                      +input('Supervisor UVID')
                    .col-4
                      +input('Supervisor Preferred First Name')
                    .col-4
                      +input('Supervisor Last Name')
                    .col-4
                      +input('Supervisor Employee Class Code')
                    .col-4
                      +input('Supervisor Home Org Code')
                    .col-4
                      +input('Supervisor Time Sheet Org Code')
                    .col-4
                      +input('Supervisor Employee Email')

                  hr.dashed

                  p.subtitle-8 Supervising Position Details
                  .gridlex
                    .col-4
                      +input('Supervisor Position Number')
                    .col-4
                      +input('Supervisor Position Suffix')
                    .col-4
                      +input('Supervisor Position Title UVU')
                    .col-4
                      +input('Supervisor Position Class Code')
                    .col-4
                      +input('Supervisor Supv Type Code')
                    .col-4
                      +input('Supervisory Level')


  +modal('modal-edit-comment', 'Edit Comment')
    .mb-40
      p
        i Please summarize the changes you have made to this record

      +textarea(false, false, false,'2000 character limit')
      

    .button-group
      a(href="personal-details-2.html").button Save &amp; Continue
      a(href="personal-details-2.html").button.link Cancel

  +modal('modal-add-employee-record', 'Add Employee Record')
    .mb-40
      p
        i Search and select the desired employee using the search bar below. Only employees not currently found within this record may be added.

      +input(false, 'search', false, false, 'icon-search')
      

    .button-group
      a(href="personal-details-2.html").button Save &amp; Continue
      a(href="personal-details-2.html").button.link Cancel