extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin'; 
  - var pageSubID = 'review-management'; 

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Supervisor Review 2021
          .filters
            +input(false, 'search', false, false, 'icon-search')
            +toggle('archive-visibility', false, false, '', 'Hide Archived', 'toggle-mini')
          .action
            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.ghost.green 
              i.icon-add.left-icon
              | New Review Instance
        .component-content
          .component.reverse-margin
            .component-content.no-padding
              table.striped
                thead
                  tr
                    th Title
                    th Process Type
                    th Start Date
                    th End Date
                    th Status
                    th Snapshot Date
                    th Action
                tbody.zebra
                  -for (x = 1; x <= 20; x++)
                    tr
                      td The Boy Who Cried Kubernetes
                      td Incom T-65B X-wing starfighter
                      td XX Month, 20XX
                      td XX Month, 20XX
                      if x == 5 || x == 5
                        td.color-primary In Progress
                      else if x == 8
                        td In Pending
                      else
                        td Complete
                      if x == 3
                        td.has-icon
                          .warning-icon !
                          strong No Snapshot
                      else
                        td XX Month, 20XX
                      td.text-right
                        a(href="review.html").button.small View/Edit Review

  +modal('modal-new-instance', 'New Review Instance')
    .mb-40

      .header-container
        h5 Review Details
        .aside-message
          p All fields are required

      +input('Title')
      +select('Type', 'full')
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -

      .date-range
        .range-input
          +input('Start Date', 'text', false, false, 'date_range')
        .range-arrow
          i.icon-arrow_right_alt
        .range-input
          +input('End Date', 'text', false, false, 'date_range')

      hr.dashed

      h5 Previous Review Period Links

      +select('Link 1', 'full')
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -


      +select('Link 2', 'full')
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -
        option(value="") - -


    .button-group
      a(href="personal-details-2.html").button Create Review
      a(href="personal-details-2.html").button.link Cancel