extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin';
  - var pageSubID = 'review-management';  

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Review: The Boy Who Cried Kubernetes 
          
          .action
            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.ghost.green.solid-icon 
              span.inner-button Archive Review
              span.container-icon
                i.icon-unlocked.right-icon
        .component-content
          .component.reverse-margin
            .component-content.no-padding(x-data="{ tab: 'instance-setting' }")
              .tabs
                ul.list-unstyled
                  li(:class="{ 'active': tab === 'instance-setting' }" @click="tab = 'instance-setting'") Instance Settings
                  li(:class="{ 'active': tab === 'snapshot-records' }" @click="tab = 'snapshot-records'") Snapshot Records

              .tab-content
                .instance-settings(x-show="tab === 'instance-setting'")
                  .component.inner-component
                    .component-content
                      .gridlex.divided-columns.mb-24
                        .col-8
                          h5 Review Details
                          .gridlex
                            .col-6
                              +input('Title')
                            .col-6
                              .field
                                label Status
                                input(type="text" disabled value="hkjsfd").green
                            .col-6
                              +select('Type', 'full')
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                            .col-6
                              .field
                                label Snapshot Date
                                .input-has-warning
                                  .warning-icon !
                                  a(href="#0").link Click here to fix
                                  input(type="text" disabled value="No Snapshot").missing-context
                            .col-6
                              .date-range
                                .range-input
                                  +input('Start Date', 'text', false, false, 'date_range')
                                .range-arrow
                                  i.icon-arrow_right_alt
                                .range-input
                                  +input('End Date', 'text', false, false, 'date_range')
                        .col-4
                          h5 Previous Review Period Links
                          .gridlex
                            .col-12
                              +select('Link 1', 'full')
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                            .col-12
                              +select('Link 2', 'full')
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option


                      .well.small.gray
                        +checkbox('ready-to-report', 'Ready To Report')

                      hr.dashed.large

                      .gridlex.divided-columns
                        .col-8
                          h5 Send Emails
                          .input-with-button
                            .input-container
                              +select('Email Type', 'full')
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                                option(value="#0") Select Option
                            .button-container
                              button.button.mini Send Emails
                          p.small-plus This email will be sent out to all personal who < insert condition type here >. It contains a reminder to < insert reminder type here >. This email should only be sent out once per review instance, unless special permission is obtained from HR management. Please refer to the email history logs for further details. 
                        .col-4
                          h5 Email History
                          ul.list-unstyled.history
                            -for (x = 1; x <= 3; x++)
                              li
                                .title 
                                  p Kickoff Email
                                .info 
                                  p Sent on Aug 19th, 2021 - 4:04 pm by Peter W. to All Supervisors



                .snapshot-manager(x-show="tab === 'snapshot-records'")
                  .component.inner-component
                    .component-content
                      .snapshot-data
                        .snapshot-values
                          .gridlex.no-margin
                            .col-4
                              +input('Snapshot ID', 'text', '', '', false, false, true)
                            .col-4
                              +input('Process Instance ID', 'text', '', '', false, false, true)
                            .col-4
                              +input('Snapshot Date', 'text', '', '', false, false, true)
                        .snapshot-action
                          button.button.green Retake Snapshot

                  .component.inner-component
                    .double-page-layout(x-data="{ pageSlide: false }")
                      .inner-page-layout(:class="{ 'active': pageSlide }")
                        .page
                          .overlay(@click="pageSlide = false")
                            i.icon-format_list_bulleted
                          .component-header.component-container
                            .title
                              h5 Snapshot Roster
                            .filters
                              +input(false, 'search', false, false, 'icon-search')
                              +toggle('archive-visibility', false, false, '', 'Hide Removed', 'toggle-mini')
                            .action
                              a(href="#0").button.small.ghost.green 
                                i.icon-add.left-icon
                                | Add Employee Record
                          .component-content.pt-0
                            table.full-width.striped
                              thead
                                tr
                                  th.cell15 UVID
                                  th.cell15 Preferred First Name
                                  th.cell15 Preferred Last Name
                                  th() Prim Pisn #
                                  th() Prim Pisn Stuff
                                  th Primary Position Title
                                  th(width="30")
                              -for (y=0; y<10; y++)
                                include ../../../partials/dashboard/snapshot-roster
                        .page
                          .overlay(@click="pageSlide = true")
                            i.icon-history-log
                          .component-header.component-container
                            .title
                              h5 Editing History
                            .action
                              +input(false, 'search', false, false, 'icon-search')
                          .component-content.pt-0
                            table.full-width.striped
                              thead
                                tr
                                  th Date/Time
                                  th Edit Type
                                  th Admin
                                  th Account Edited
                                  th(width="30") 
                                  th(width="130")
                              -for (y=0; y<10; y++)
                                include ../../../partials/dashboard/editing-history
                        .action-arrow(@click="pageSlide = true" x-show= "pageSlide === false")
                          i.icon-arrow-left
                        .action-arrow(@click="pageSlide = false" x-show= "pageSlide ")
                          i.icon-arrow-right