ul.list-unstyled
  li(class= pageID === "dashboard" ? "active" : "")
    a(href="/") Current
  li(class= pageID === "past" ? "active" : "")
    a(href="/past") Past
  li(class= pageID === "admin" ? "active" : "")
    a(href="#0") Admin
    ul.list-unstyled
      li
        a(href="#0" data-micromodal-trigger="modal-masquerade-as-user") Masquerade
      li(class= pageSubID === "masquerade-history" ? "active" : "")
        a(href="/admin/masquerade-history") Masquerade History
      li(class= pageSubID === "review-management" ? "active" : "")
        a(href="/admin/review-management") Review Management
      li(class= pageSubID === "response-management" ? "active" : "")
        a(href="/admin/response-management") Response Management
      li(class= pageSubID === "admin-role-management" ? "active" : "")
        a(href="/admin/admin-manager") Admin Role Management
      li(class= pageSubID === "process-management" ? "active" : "")
        a(href="/admin/process-management") Process Management
      li(class= pageSubID === "system-configuration" ? "active" : "")
        a(href="/admin/system-configuration") System Configuration
      li(class= pageSubID === "form-builder" ? "active" : "")
        a(href="/form-builder") Form Builder (temp link)
      li(class= pageSubID === "read-only" ? "active" : "")
        a(href="/admin/read-only") Read Only (temp link)

  li(class= pageID === "elements" ? "active" : "")
    a(href="/elements.html") Elements