/*
-----------------------------------------
WIDTHS
-----------------------------------------
*/

:root {
  --radius: 4px;
}


/*
-----------------------------------------
COLORS
-----------------------------------------
*/

:root {

  --primary: #275D38;
  --primary-dark: #1A4127;
  --primary-light: #219653;
  --primary-xlight: #E3EAE5;

  --secondary-green: #457654;
  --secondary-red: #D9241F;

  --black: #000;
  --white: #fff;

  --gray-10: #F2F2F2;
  --gray-20: #EEEEEE;
  --gray-30: #E0E0E0;
  --gray-40: #D8D8D8;
  --gray-45: #C4C4C4;
  --gray-50: #BDBDBD;
  --gray-60: #828282;
  --gray-70: #6E6E6E;
  --gray-80: #4F4F4F;
  --gray-90: #333;
  --gray-100: #222;

  --red: #D9241F;
  --red-light: #EB5757;

  --orange: #F2994A;

  --gold: #BA8C00;

  --yellow: #F2C94C;
  --yellow-light: #FFD75F;

  --green: #225D38;
  --green-light: #869183;

  --purple: #9B51E0;
  --purple-light: #BB6BD9;

  --maroon: #772433;

  --blue-25: #56CCF2;
  --blue-50: #2D9CDB;
  --blue-75: #2F80ED;

  --navy: #22166A;


  // Normalize Common Colors
  --text-color: var(--gray-80);
  --text-color-light: var(--gray-60);
  --link-color: var(--primary);
  --link-color-hover: var(--primary-dark);


  // Text Select
  --select-background: var(--primary-dark);
  --select-text: var(--white);

  // Placeholder
  --placeholder: var(--text-color-light);
}




/*
-----------------------------------------
SPACING
-----------------------------------------
*/


:root {
  --space:                     20px;
  --space-xxxs:                calc(0.25 * var(--space));
  --space-xxs:                 calc(0.375 * var(--space));
  --space-xs:                  calc(0.5 * var(--space));
  --space-sm:                  calc(0.75 * var(--space));
  --space-md:                  calc(1.25 * var(--space));
  --space-lg:                  calc(1.5 * var(--space));
  --space-xl:                  calc(2 * var(--space));
  --space-xxl:                 calc(2.5 * var(--space));
  --space-xxxl:                calc(3 * var(--space));
}

/*
-----------------------------------------
FONTS
-----------------------------------------
*/

// Font Family
:root {
  --font: 'Montserrat', sans-serif;
  --font-alt: 'Rajdhani', sans-serif;
}

// Font Size
$font-size:                 16px;


/*
-----------------------------------------
BREAKPOINTS
-----------------------------------------
*/

$breakpoints: (
    "desktop-wide":         1248px,
    "desktop":              1024px,
    "desktop-small":        992px,
    "tablet-wide":          850px,
    "tablet":               768px,
    "tablet-small":         720px,
    "phone-wide":           600px,
    "phone":                480px,
    "phone-small":          400px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width + 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}