extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin'; 
  - var pageSubID = 'process-management'; 

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Process Manager
          .filters
            +input(false, 'search', false, false, 'icon-search')
          .action
            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.ghost.green 
              i.icon-add.left-icon
              | New Review Instance
        .component-content
          .component.reverse-margin
            .component-content.no-padding
              table.striped
                thead
                  tr
                    th Process Type
                    th(width="65").text-center Stages
                    th(width="65").text-center Links
                    th Date Created
                    th Last Edited
                    th(width="155") Action
                tbody.zebra
                  -for (x = 1; x <= 20; x++)
                    tr
                      td The Boy Who Cried Kubernetes
                      td.text-center 2
                      td.text-center 3
                      td XX Month, 20XX
                      td XX Month, 20XX  -  Samuel Clements (########)
                      td.text-right
                        a(href="process.html").button.small View/Edit Review