extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin';
  - var pageSubID = 'process-management';  

block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 
              a(href="#0").back
                i.icon-back
              |Process: This is a test
          
          .action
            a(href="#0").button.small.ghost.red 
              span.container-icon
                i.icon-trash.left-icon
              | Delete Process
              
        .component-content
          .component.reverse-margin
            .component-content.no-padding(x-data="{ tab: 'overview' }")
              .tabs
                ul.list-unstyled
                  li(:class="{ 'active': tab === 'overview' }" @click="tab = 'overview'") Overview
                  li(:class="{ 'active': tab === 'stage-configuration' }" @click="tab = 'stage-configuration'") Stage Configuration
                  li(:class="{ 'active': tab === 'email-manager' }" @click="tab = 'email-manager'") Email Manager
                  li(:class="{ 'active': tab === 'edit-history' }" @click="tab = 'edit-history'") Edit History

              .tab-content
                .instance-settings(x-show="tab === 'overview'")
                  .component.inner-component
                    .component-content
                      .gridlex
                        .col-6_md-12
                          +input('Process Type Title')
                        .col-4_md-6
                          +select('Snapshot Type', 'full')
                            option(val="") 1
                            option(val="") 2
                            option(val="") 3
                            option(val="") 4
                        .col-2_md-6
                          +select('Previous Review Link Count', 'full')
                            option(val="") 1
                            option(val="") 2
                            option(val="") 3
                            option(val="") 4
                        .col-2_md-4
                          +input('Process ID', 'text', '0001', false, false, false, true)
                        .col-2_md-4
                          .history
                            .title 
                              p Created
                            .info 
                              p Aug 19th, 2019 - 4:04 pm by Peter Washburn (########)
                        .col-2_md-4
                          .history
                            .title 
                              p Last Edited
                            .info 
                              p Aug 19th, 2019 - 4:04 pm by Peter Washburn (########)
                        .col-6_md-12.gridlex
                          .col-3
                            +input('Stage Count', 'text', '5', false, false, false, true)
                          .col-3
                            +input('Assocaited Emails', 'text', '5', false, false, false, true)
                          .col-3
                            +input('Goal Sharing', 'text', 'No', false, false, false, true)
                          .col-3
                            +input('Question Count', 'text', '50', false, false, false, true)
              
                      hr.dashed

                      h5 Process Form Setup

                      .well.gray.well-small
                        .input-with-button.no-margin
                          .button-container
                            button.button.yellow Configure Stages
                          .input-container.gridlex
                            .col-12
                              p.mt-12
                                i You must configure process stages before a form can be created.

                      .well.gray.well-small
                        .input-with-button.no-margin
                          .button-container
                            button.button.green Create Form
                          .input-container.gridlex
                            .col-12
                              p.mt-12
                                i Process form creation relies on the Stage Configuration being complete.

                      .well.gray.well-small
                        .input-with-button.no-margin
                          .button-container.align-top
                            .button-group
                              button.button.green Create Form
                              button.button View Form
                          .input-container.gridlex-right
                            .col-3_md-6
                              .history
                                .title 
                                  p Created
                                .info 
                                  p Aug 19th, 2019 - 4:04 pm by Peter Washburn (########)
                            .col-3_md-6
                              .history
                                .title 
                                  p Last Edited
                                .info 
                                  p Aug 19th, 2019 - 4:04 pm by Peter Washburn (########)
                              



                .instance-settings(x-show="tab === 'stage-configuration'")
                  .component.inner-component
                    .component-content
                      .mb-.stage-configuration.mb-32
                        -for (x = 1; x <= 4; x++)
                          .stage
                            .position
                              p.small Stage
                              if x == 4
                                p.number #
                              else 
                                p.number= x

                              .position-controller
                                if x == 1 || x == 4
                                  i.icon-dropup.disabled
                                else
                                  i.icon-dropup
                                .divider
                                if x == 3 || x == 4
                                  i.icon-dropup.disabled
                                else
                                  i.icon-dropup

                            .config
                              .gridlex
                                .col-7
                                  .gridlex
                                    .col-4
                                      +input('Stage Name')
                                    .col-4
                                      +advancedSelect('Stage Queue Assignment', '--', 'stageQueueAssignment')
                                        - for (y = 0; y <= 7; y++)
                                          +checkbox('queueAssignment-' + x, 'Checkbox Label')
                                          if y == 0
                                            hr.dashed
                                    .col-4
                                      if x == 4
                                        +input('Stage ID', 'text', '', '####', '', '', true)
                                      else 
                                        +input('Stage ID', 'text', '', '000' + x, '', '', true)
                                    .col-3.text-center
                                      p.fake-label Mark Optional
                                      +toggle('toggle-normal' + x, false, false)
                                    .col-3
                                      +select('Next Stage Button', '', '', true)
                                        option(val="#0") --
                                    .col-3
                                      +select('Previous Stage Button', '', '', true)
                                        option(val="#0") --
                                    .col-3
                                      +select('Optional Stage Button', '', '', true)
                                        option(val="#0") --
                                .col-5
                                  +textarea('Stage Description', '', 'small-md', '500 character limit')

                            .control
                              i.icon-trash.trash

                      .view-access.full-width
                        h5.subtitle-2 View Access Settings
                        p 
                          i Locked checkboxes indicate stage queue assignment. View access cannot be revoked.

                        table.view-access-table
                          thead
                            tr
                              th
                              th
                                strong Stage 1
                                | Not Started
                              th
                                strong Stage 2
                                | Started
                              th
                                strong Stage 3
                                | Submitted
                              th
                                strong Stage 4
                                | 2nd Lvl Cert
                              th
                                strong Stage 5
                                | Discussion
                              th
                                strong Stage 6
                                | Comments
                              th
                                strong Stage 7
                                | Finalized
                          tbody
                            -for (x = 0; x < 3; x++)
                              tr
                                td.row-header
                                  if x == 0 
                                    | Employee
                                  if x == 1
                                    | Supervisor Lvl 1
                                  if x == 2 
                                    | Supervisor Lvl 2
                                td
                                  +checkbox('viewAccess' + x, '', true)
                                td
                                  +checkbox('viewAccess-2' + x, '', true)
                                td
                                  +checkbox('viewAccess-3' + x, '', true, '', '', true)
                                td
                                  +checkbox('viewAccess-4' + x, '', true, '', '', true)
                                td
                                  +checkbox('viewAccess-5' + x)
                                td
                                  +checkbox('viewAccess-6' + x)
                                td
                                  +checkbox('viewAccess-7' + x)


                .instance-settings(x-show="tab === 'email-manager'")
                  .component.inner-component
                    .component-content.no-padding
                      .email-config
                        .config-sidebar
                          p.text-center
                            a(href="#0" data-micromodal-trigger="modal-new-instance").button.small.ghost.green 
                              i.icon-add.left-icon
                              | Create New Email Template

                          .filter
                            +select('Sort Type')
                              option() Title
                          .email-template-list
                            ul.list-unstyled
                              -for (x = 0; x < 9; x++)
                                - var activeClass = x == 0 ? 'active' : '';
                                li(class= activeClass)
                                  .inner
                                    p.title Email Title Goes Here
                                    .desc
                                      p Automatic - Stage Conditional
                                      p Finalized (Stage 7)
                                  .control
                                    i.icon-trash

                        .config-body
                          .gridlex
                            .col-8
                              +input('Email Title')
                            .col-4
                              +select('Email Type', 'full')
                                option() Manual
                                option() Automatic - Stage Transition
                                option() Automatic - Stage Transition Conditional
                                option() Automatic - Response Timestamp
                            .col-12
                              .well.gray.well-small
                                .input-with-button.no-margin
                                  .input-container.gridlex-bottom
                                    .col-4
                                      +select('Select Trigger Stage', 'full')
                                        option() --
                                        option() --
                                        option() --
                                    .col-8
                                      p.mb-12
                                        i Select which stage will trigger the sending of this email.
                            .col-12
                              .well.gray.well-small
                                .input-with-button.no-margin.mb-12
                                  .input-container.gridlex
                                    .col-4
                                      +select('Select Trigger Stage')
                                        option() --
                                        option() --
                                        option() --
                                    .col-4
                                      +input('Trigger Question')
                                    .col-4
                                      +input('Trigger Answers')
                                  .button-container
                                    button.button.yellow Setup Trigger Settings

                                p 
                                  i Trigger questions are limited to Likert Scale, Multi-Select, Dropdown, Radio Button, Checkbox, and Yes / No question types.
                            
                            .col-12
                              .well.gray.well-small
                                .input-with-button.no-margin
                                  .input-container.gridlex-bottom
                                    .col-4
                                      +select('Days Since Last Interaction', 'full')
                                        option() --
                                        option() --
                                        option() --
                                    .col-8
                                      p.mb-12
                                        i Select amount of days since a user has last interacted with the instance. (Non-viewing)
                            .col-12
                              .well.gray.well-small

                            .col-8
                              .field
                                label Email Subject
                                .dual-input
                                  .input-1
                                    input(type="text")
                                  .input-2
                                    .select-container
                                      select
                                        option(value="") Insert Variable
                            .col-4
                              +advancedSelect('Recipients', '--', 'recipientsSelect')
                                +checkbox('recipients-select-0', 'Include Optional Recipients')
                                hr.dashed
                                +checkbox('recipients-select-1', 'Current Stage Assignee')
                                +checkbox('recipients-select-2', 'Employee Relations Email')
                                hr.dashed
                                +checkbox('recipients-select-3', 'Employee')
                                +checkbox('recipients-select-4', 'Supervisor Lvl 1')
                                +checkbox('recipients-select-5', 'Supervisor Lvl 2')
                            .col-12
                              +textarea(false, false, false,'5000 character limit', true)

                .instance-settings(x-show="tab === 'edit-history'")
                  .component.inner-component
                    .component-content
                      table.full-width.striped
                        thead
                          tr
                            th(width="200") Date/Time
                            th(width="100") Edit Type
                            th Admin
                            th(width="30")
                        -for (y=0; y<10; y++)
                          include ../../../partials/dashboard/stage-editing-history
  