extends ../../../layouts/layout.pug

block vars
  - var pageID = 'admin';
  - var pageSubID = 'process-management';
  - var formOverlay = true; 
  - var sidebar = true;

block sidebar
  include ../../../partials/sidebars/review-sidebar.pug


block banner
  .banner.banner-action
    .inner
      .message
        p
          strong Select the trigger question from the choices below.
          |  Trigger questions are limited to Likert Scale, Multi-Select, Dropdown, Radio Button, Checkbox, and Yes / No question types.
      .action
        p
          a(href="#0").button.dark.ghost Cancel


block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Supervisor Review 2021
        .component-content
          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t.
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget  
                    a(href="#0") lacinia odio
                    |  sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  blockquote
                    p If you experience retaliation of any kind, including your supervisor pressuring you to disclose how you rated them, contact Human Resources immediately at 
                      strong 801.863.8207.

                  ul.link-list
                    li
                      a(href="#0") Employee Awards and Recognition
                    li
                      a(href="#0") Employee Awards and Recognition

                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  p 
                    i Based on your interactions with and observations of the work of 
                      strong [SUPERVISOR'S NAME]
                      |  in the last year, please rate their performance below.

          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t..
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p Just go start a blog or write a thesis. If you’re getting anywhere close to the character limit, JUST STOP.
                +textarea(false, false, false,'2000 character limit', true)


          .component
            .component-header.component-container
              .title
                h5 Boolean Operators: A tale of two states (if you ignore null). 
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p Yes/No: True or false. Yep or nope. 2% or half ‘n half. Wait.. Nix that last one.

                .mb-24
                  +boolean('boolean-1', 'boolean-2', 'booleanGroup')

                +checkbox('checkbox', 'Do you like checkboxes. I’m more of a fan of real boxes. Well, what’s inside them really. What were we talking about again?')



          .component
            .component-header.component-container
              .title
                h5 Likert Scale: People who name the things they invent after themselves have a ego the size of a mid-sized sedan. 
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p 
                    i Yeah, I kinda write whatever I want in these. You can too! Well not here. This is HTML and you need to know how to code to edit the design.

                +likert(3, 'likert')


          .component
            .component-header.component-container
              .title
                h5 Ranking Scale: If I find out that someone named Rank made this.
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p 
                    i The room is too dang dark to be typing. Rate the following solutions to fix this:

                .gridlex.divided-columns
                  // Let me know if these styles need to be modified. I can style whatever. 
                  .col-6.dragon-drop-target
                    -for (x = 1; x <= 8; x++)
                      .dragon-drop-item-container
                        .item.item-empty
                          .order-number
                            = x
                          .target-region
                            .empty-target Drag item here

                  .col-6.target-source
                    -for (x = 1; x <= 8; x++)
                      .dragon-drop-item-container
                        .item(x-data="{'rankedScale" + x + "': false}" draggable="true" tabindex="0")
                          .item-main
                            .title Install a Skylight
                            .control
                              .icon-container.dark(@click= 'rankedScale' + x +" = true" x-show= 'rankedScale' + x + '=== false')
                                i.icon-add
                              .icon-container.dark(@click= 'rankedScale' + x +" = false" x-show= 'rankedScale' + x)
                                i.icon-remove
                          .item-extra(x-show= 'rankedScale' + x)
                            p Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


          .component
            .component-header.component-container
              .title
                h5 Dropdowns: When a survey writer must have all the answers availible. What’s self-control to 17 variations of the same answer?
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p 
                    i I’ve been asked if writing these filler bits takes up too much time. Thankfully, I usually just write whatever comes into my head. No thinking required!

                +select('Do you love dropdowns? You bet you do!')
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!
                  option() This is the best dropdown ever!

                +select('Are you nauseated by overly-excited question writing?')
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!
                  option() Are you kidding? I’m puking right now!



          .component
            .component-header.component-container
              .title
                h5 Multi-select Example: Where should the questions go? (Mark all that apply.)
              .status
                a(href="#0").help-icon
                  i.icon-help
            .component-content
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p 
                    i Speed and efficeincy is impotant four a good subhead. Any smal typoes or speling mistakes usualy are’nt noticed by the cilent.

                .input-group.columns-2
                  -for (x = 1; x <= 5; x++)
                    +checkbox('multi-select' + x, 'Hold on. Let me find my Trapper Keeper.')
              .question.question-selectable(data-micromodal-trigger="modal-email-answer-triggers")
                .information-block
                  p 
                    i Speed and efficeincy is impotant four a good subhead. Any smal typoes or speling mistakes usualy are’nt noticed by the cilent.

                .input-group.columns-2
                  -for (x = 1; x <= 5; x++)
                    +checkbox('multi-select2-' + x, 'Hold on. Let me find my Trapper Keeper.')

          .component.end-of-form.yellow
            .component-content
              .arrow-text 
                span This is the end of the form. Please use the buttons on the left panel if you are ready to submit it.


  +modal('modal-email-answer-triggers', 'Email Answer Triggers', 'large')
    .mb-40
      .gridlex
        .col-6(data-push-right="off-6")
          +input('Selected Question')
        .col-12
          p.fake-label Question Text
          p Does this question make sense?
      hr.dashed
      p
        i Select which answer(s) if selected would trigger sending this email.
      p.fake-label Question Answers
      .well.gray.pb-0
        .input-group.dual-layout
          +checkbox('question-answers-1', 'I’m a question!')
          +checkbox('question-answers-2', 'No, you’re an answer.', true)
          +checkbox('question-answers-3', 'Will you two just stop?')
          +checkbox('question-answers-4', 'Ah ha! That’s another question!', true)
    .button-group
      a(href="personal-details-2.html").button Save
      a(href="personal-details-2.html").button.link Cancel