extends ../../layouts/layout.pug

block vars
  - var pageID = 'admin';
  - var pageSubID = 'form-builder'; 
  - var sidebar = true; 
  - var sidebarPosition = 'right';

block sidebar
  include ../../partials/sidebars/form-builder-sidebar.pug


block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 New Process Form
          .control
            +select('Previous Review Link Count ', '', 'inline')
              option(value="") 1
              option(value="") 2
              option(value="") 3
              option(value="") 4
        .component-content
          .empty-slot Drag item here

          .component-group
            .group-header.dark
              .drag-indicator
                i.icon-drag_indicator
              .move-arrows
                i.icon-dropup.inactive
                .divider-horz
                i.icon-dropdown
              .group-title
                +input('Category Title')
            .group-content
              .empty-slot Drag item here

              +questionTemplate('1. Information (ID:####)', 'info')
                +textarea('Initial Goal Description', false, false,'2000 character limit', true)
                +textarea('Follow Up Goal Description', false, false,'2000 character limit', true)

              .empty-slot Drag item here

              +questionTemplate('2. Text Input (ID:####)', 'textbox', 'black')
                +input('Question Title (Optional)')
                +input('Question Description (Optional)')
                .gridlex
                  .col-4
                    +input('Character Limit')

              .empty-slot Drag item here

              +questionTemplate('3. Likert Scale (ID:####)', 'likert', 'blue')
                .gridlex.divided-columns
                  .col-6
                    +input('Question Title')
                    +textarea('Question Description (Optional)', '', 'small', '500 Characters')
                  .col-6.dragon-drop-responses.pb-0
                    .dragon-drop-builder-header-container
                      .responses
                        p.xsmall.mb-8 
                          strong Responses
                      .values
                        p.xsmall.mb-8 
                          strong Values

                    -for (x = 1; x <= 5; x++)
                      .dragon-drop-item-container
                        .item.item-empty
                          .order-number
                            unless x == 5
                              = x
                          .response.edit
                            if x == 4
                              input(type="text")
                              .isolate
                                +checkbox('isolate', 'Isolate', true, false, 'checkbox-reverse')
                            else
                              input(type="text")
                          .values
                            input(type="text" value="--")


              .empty-slot Drag item here
                
              +questionTemplate('4. Ranking (ID:####)', 'format_list_numbered', 'red')
                +input('Description (Optional)')
                .builder-subheader
                  .title
                    p.subtitle-6 Sortable Items
                  .aside
                    +select('Required Answers', '', 'inline')
                      option() --
                      option() --
                      option() --
                +input('Rankable item')
                +textarea('Rankable Description', '', 'xsmall')
                hr.dashed
                +input('Rankable item')
                +textarea('Rankable Description', '', 'xsmall')
                hr.dashed
                +input('Rankable item')
                +textarea('Rankable Description', '', 'xsmall')
                hr.dashed
                +input('Rankable item')
                +textarea('Rankable Description', '', 'xsmall')
                hr.dashed
                +input('Rankable item')
                +textarea('Rankable Description', '', 'xsmall')

              .empty-slot Drag item here
                
              +questionTemplate('5. Multi-Select (ID:####)', 'multi-select', 'purple')
                +input('Question Title (Optional)')
                +input('Question Description (Optional)')
                
                p.subtitle-6 Select Options
                .gridlex
                  .col-6
                    +input('Selection Text')
                  .col-6
                    +input('Selection Text')
                  .col-6
                    +input('Selection Text')
                  .col-6
                    +input('Selection Text')

              .empty-slot Drag item here

          .empty-slot Drag item here

          .component-group
            .group-header.dark
              .drag-indicator
                i.icon-drag_indicator
              .move-arrows
                i.icon-dropup.inactive
                .divider-horz
                i.icon-dropdown
              .group-title
                +input('Category Title')
            .group-content
              +questionTemplate('Dropdown (ID:####)', 'dropdown', 'orange')
                +input('Question Title (Optional)')
                +input('Question Description (Optional)')
                p.subtitle-6 Select Options
                .gridlex
                  .col-6
                    +input('Dropdown Option')
                  .col-6
                    +input('Dropdown Option')
                  .col-6
                    +input('Dropdown Option')
                  .col-6
                    +input('Dropdown Option')

              .empty-slot Drag item here
                
              +questionTemplate('Radio Button (ID:####)', 'radio1', 'blue-light')
                +input('Question Title (Optional)')
                +input('Question Description (Optional)')
                p.subtitle-6 Select Options
                .gridlex
                  .col-6
                    +input('Selection Text')
                  .col-6
                    +input('Selection Text')
                  .col-6
                    +input('Selection Text')
                  .col-6
                    +input('Selection Text')

              .empty-slot Drag item here
                
              +questionTemplate('Checkbox (ID:####)', 'checkbox', 'gold')
                +input('Question Title')
                +input('Question Description (Optional)')

              .empty-slot Drag item here
                
              +questionTemplate('Yes/No (ID:####)', 'yes-no', 'green')
                +input('Question Title')
                +input('Question Description (Optional)')

              .empty-slot Drag item here
                
              +questionTemplate('#. Review Question (ID:####)', 'review-question', 'navy', 'light')
                +input('Question Title')
                +input('Question Description (Optional)')

                .process-preview
                  .process-select
                    +select('Process Type')
                      option() --
                      option() --
                      option() --

                    +input('Selection Question')
                    a(href="#0").button.green.ghost.block Reselect review question
                  .well.gray
                    p
                      i The room is too dang dark to be typing. Rate the following solutions to fix this:

                    .gridlex
                      .col-6_md-12
                        p.subtitle-6 Supervisor 1st Rated
                        .small-plus
                          p 
                            strong 1. Start a Fire
                          p 
                            strong 2. Start a Fire
                          p 
                            strong 3. Start a Fire
                      .col-6_md-12
                        p.subtitle-6 Not Rated
                        .small-plus
                          p 
                            strong Light the house on fire
                          p 
                            strong Light the house on fire

                p
                  i If there are new users to the system who do not have a finalized previous instance to review goals from, please provide an alternate goal setting description for them using the text box below.

                +textarea(false, false, false,'2000 character limit', true)


              +questionTemplate('Goal Setting (ID:####)', 'goal', 'green-dark', 'medium')
                +textarea('Description (Optional)', false, false,'2000 character limit', true)
                .input-with-button
                  .input-container.gridlex-bottom
                    .col-4
                      +select('Goal Setting Type', 'full')
                        option() --
                        option() --
                        option() --
                    .col-8
                      p.mb-12
                        i Indicates if the user will be setting new goals or reporting on previous ones.
                .well.gray
                  .input-with-button
                    .input-container.gridlex-bottom
                      .col-4
                        +select('Previous Goal Process Type', 'full')
                          option() --
                          option() --
                          option() --
                      .col-8
                        p.mb-12
                          i Select the process that contains the goals to be reported on.
                  p
                    i If there are new users to the system who do not have a previous instance to review goals from, please provide an alternate goal setting description for them using the text box below.
                  +textarea(false, false, false,'2000 character limit', true)


              +questionTemplate('##. Question Vault (ID:####)', 'question-archive', 'maroon', 'delete-only')
                .process-preview
                  .process-select
                    +input('Selected Question')
                    a(href="question-vault.html").button.green.ghost.block Reselect review question

                    hr

                    a(href="#0").button.green.block Confirm Question

                  .well.gray
                    h5 Multi-Select (ID:####)

                    hr

                    p I am trying to build a water bus. What things will need to be researched?

                    .input-group.columns-2
                      -for (x = 1; x <= 5; x++)
                        +checkbox('multi-select' + x, 'Hold on. Let me find my Trapper Keeper.')


              +questionTemplate('##. Question Vault (ID:####)', 'question-archive', 'maroon', 'delete-only')
                .process-preview
                  .process-select
                    +input('Selected Question')
                    a(href="question-vault.html").button.green.ghost.block Reselect review question

                    hr

                    a(href="#0").button.green.block Confirm Question

                  .well.gray.empty
                    p 
                      i No question selected. Select one using the button on the left.


          .empty-slot Drag item here