extends ../../layouts/layout.pug

block vars
  - var pageID = ''; 
  - var sidebar = true; 

block banner
  .banner.banner-action
    .inner
      .message
        p
          strong Select the question you want to unarchive.
          |  Only one question at a time may be restored.

      .action
        p
          a(href="#0").button.dark.ghost Cancel


block content
  .container
    .content
      .component
        .component-header.component-container
          .title
            h6 Process: Question Vault
          .control.flex-container
            +select('Filter', '', 'inline')
              option(value="") All Question Types
              option(value="") Text Input
              option(value="") Likert Scale
              option(value="") Ranking
              option(value="") Multi-Select
              option(value="") Dropdown
              option(value="") Radio Buttons
              option(value="") Checkbox
              option(value="") Yes /No
              option(value="") Goal Setting
            +select('Sort By', '', 'inline')
              option(value="") Date Deleted (Ascending)
              option(value="") Date Deleted (Decending)
              option(value="") Question ID (Ascending)
              option(value="") Question ID (Descending)
                
        .component-content
          .component
            .component-header.component-container
              .title
                h5 Text Entry: Please don’t tell us your life story. Please, please don’t.
              .action.flex-container.center
                ul.list-unstyled.history.inline
                  li
                    .title
                      p Deleted By 
                    .info
                      p Mary Lynn Monroe (########)
                  li
                    .title
                      p Deleted On 
                    .info
                      p Nov 19th, 2021 - 2:24 pm

                button.button.green Select Question
            .component-content
              .question
                .information-block
                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget  
                    a(href="#0") lacinia odio
                    |  sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  blockquote
                    p If you experience retaliation of any kind, including your supervisor pressuring you to disclose how you rated them, contact Human Resources immediately at 
                      strong 801.863.8207.

                  ul.link-list
                    li
                      a(href="#0") Employee Awards and Recognition
                    li
                      a(href="#0") Employee Awards and Recognition

                  p Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo.

                  p 
                    i Based on your interactions with and observations of the work of 
                      strong [SUPERVISOR'S NAME]
                      |  in the last year, please rate their performance below.

          