block vars

include ../partials/mixins.pug

doctype html
html(lang='en-US', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')

    meta(name="robots", content="NOINDEX, NOFOLLOW")

    title UVUPM

    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='application-name', content='Vanilla5 Project')

    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Rajdhani:wght@600;700&display=swap' rel='stylesheet')


    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css')
    link(href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")

    link(href='/assets/css/style.css', rel='stylesheet', media='all')

    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='/assets/images/app-icons/apple-touch-icon.png')

  body#top(:class="{ 'show-nav': showNav }")

    
    
    include ../partials/header.pug

    block banner

    if formOverlay 
      .form-overlay

      
    .page-content( x-data="{'spinner': false}")

      unless sidebarPosition == 'right'
        block sidebar

      main
        .main-content
          block content
        include ../partials/footer.pug

      include ../partials/modals/masquerade-as-user

      if sidebarPosition == 'right'
        block sidebar
    
    // Alpine (just for my interactions)
    script(src='//unpkg.com/alpinejs' defer='')

    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
    script(src="https://unpkg.com/micromodal/dist/micromodal.min.js")
    script(src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js')
    script(src="//cdn.quilljs.com/1.3.6/quill.min.js")
    
    // Custom JS
    script(src='/assets/js/app.js')